[2020-08-03 12:43] #210 closed

[2020-08-03 13:20] larsk2009 commented on #208
At least one issue I see is that the `IModalService` is injected. In V5 this is changed to a CascadingParameter, so getting the IModal is done like this:

`    [CascadingParameter] public IModalService Modal { get; set; }`

I am not sure if this fixes your issue. Could you try to fix the formatting of the code you posted, so it is easier to look trough?

[2020-08-03 13:59] chewabledrapery commented on #208
Hi,

Thanks for the reply, i hadn't noticed that in the wiki examples.

I've refactored the code, removed the injection and declared a public cascading parameter for the service and i have the same problem...

See refactored code below. Many thanks.

`
@page "/ArchiveInboxFileModal"
@using DoculogIQ.Data
@using DoculogIQ.Data.Models
@using DoculogIQ.Validation

@inject AuthenticationStateProvider

[2020-08-03 14:22] chewabledrapery commented on #208
Hi @larsk2009

Thanks for the reply, much appreciated i hadn't noticed the new use case in the wiki examples.

I've refactored the code, removed the injection and declared a public cascading parameter for the service and i have the same problem...

See refactored code below, I figured out to use the triple backtick to insert a code block properly ;)

Many thanks.

[code]

![image](https://user-ima

[2020-08-03 14:58] larsk2009 commented on #208
Is what you are showing the modal itself? Also if you type `razor` after the triple back tick, it will highlight the code for you :).

[2020-08-03 15:23] chewabledrapery commented on #208
Hi,

Yes this code is the modal itself in a separate razor file... Maybe i'm implementing it wrongly? It worked prior to the update but that in itself doesn't mean i was using it correctly in the first place :)

[2020-08-03 15:24] larsk2009 commented on #208
In that case, you should use this:

`    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }`

instead of the IModalService. See [this component](https://github.com/Blazored/Modal#editmovie-component) as an example.

[2020-08-03 15:35] chewabledrapery commented on #208
Ahhhhhhhhh......

So I've basically misunderstood/not recognised the changes in use, oops.

I'll have a go and report back, hope i've not wasted anyone's time i do appreciate the effort and assumed it was something i'd missed...

Thanks!

[2020-08-03 15:38] larsk2009 commented on #208
Definitely not wasted our time @chewabledrapery. Hopefully this fixes your issue, otherwise let us know and we will figure it out together.

[2020-08-03 16:00] chrissainty opened #211 "Add aria attributes to the close (x) in the modal header"
Reference: https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html#:~:text=The%20%27close%27%20element%20is%20implemented,accessible%20name%20to%20the%20button.&text=Working%20example%3A%20Close%20button%20example.

To help with accessibility, we need to add an aria attribute to the x in the modal header as per the link above. We should also reenable the `tabindex` so the x can be tabbed into. This was rem

[2020-08-04 12:37] chewabledrapery commented on #208
@larsk2009 Right then i've got everything working now, i also had to refactor all my ModalParameter stuff too, but you definitely set me on the right track and after re-reading the wiki properly I knew what to look out for and what to modify to get it working.

REALLY appreciate the help, closing this (non) "issue"

Dean.

[2020-08-04 12:37] #208 closed

[2020-08-04 14:07] GisliSig opened #212 "[Bug] Form freezes if you open a modal window with actions and then go back in the browser"
If you open up a modal window with result associated with it then go back in the browser either by clicking the back button in the browser or go back using a mouse button, everything freezes up and you cannot navigate or interact with anything

Steps to reproduce the behaviour:
1. Startup the WASM sample
2. Navigate to Styling
3. Click on Show Modal
4. Without closing the modal, go back by pressin

[2020-08-04 14:35] GisliSig commented on #212
I cloned the repo and looked into it, and I see that in the BlazoredModal there is a subscription to the LocationChanged event which calls the method CancelModals.
It dismisses all the Modals and then clears them, but it doesn't invoke the BlazoredModal.deactivateFocusTrap javascript function.

I added it and it fixes the error.

@chrissainty want me to create a PR with my proposed fix?

[2020-08-04 14:44] chrissainty commented on #212
@GisliSig Thanks for raising this issue. Yes, it would be great if you could create a PR

[2020-08-05 19:32] #212 closed

[2020-08-06 20:26] antongeorgescu opened #214 "Error when installing Blazor.Modal nuget package (V4/V5)"
**Error during installation of Blazor.Modal nuget package**
When trying to install the nuget package Blazor.Modal (any version) in Visual Studio 2019 (NET Standard 2.1) I get the following error:
* Severity:&nbsp;&nbsp;&nbsp;Error
* Code:&nbsp;&nbsp;&nbsp;NU1108
* Description:&nbsp;&nbsp;&nbsp;Cycle detected. Blazored.Modal -> Blazored.Modal (>= 5.0.3)
* Project: ...

See screenshot below. The scr

[2020-08-06 20:32] larsk2009 commented on #214
Is your project called Blazored.Modal?

[2020-08-06 21:04] antongeorgescu commented on #214
I cloned it from github

Sent from my iPhone

[2020-08-06 21:25] larsk2009 commented on #214
Could you provide the exact steps you did to reproduce this issue, or better yet provide the exact project which is causing your issue?

[2020-08-07 08:36] larsk2009 commented on #214
I can reproduce your error if I clone this repository and then add the nuget package to the `Blazored.Modal` project. Is this what you did? If that is the case, the error makes sense because you are making a circular reference from the project to itself.

[2020-08-07 09:36] robertsundstrom opened #215 "Modal is not showing up"
I updated from an older version by adding the CascadingBlazoredModal but the modal does not appear. The overlay is there but not the modal. It seems like it is not positioned correctly.

I go and toggle the ```position: fixed;``` in the ```.blazored-modal-container```selector and it shows up.

What am I doing wrong?

[2020-08-07 10:35] chrissainty commented on #215
Have you removed the old `<BlazoredModal />` component reference in the `MainLayout`?

[2020-08-07 10:43] chrissainty commented on #209
As there has been no reply I'm going to close this issue.

[2020-08-07 10:43] #209 closed

[2020-08-07 10:54] chrissainty commented on #204
Hi @szmalec, the current version doesn't allow this behaviour. I don't think I'd want to put anything to specific into the library for this, I think if we just expose an options to enable background scrolling, then developers can use the existing custom position functionality to achieve whatever experience they wish.

Does this sounds like it would enable your scenario?

[2020-08-07 10:56] chrissainty commented on #198
Couldn't you hide the header and then replace it with a new header of your own design including the icon you wish?

[2020-08-07 10:57] chrissainty commented on #198
With your solution I'm not sure there is anything for us to do in the library? It seems you can achieve the functionality you're after with the current options. Is that correct?

[2020-08-07 10:59] #163 closed

[2020-08-07 11:02] chrissainty commented on #190
The idea of the samples was to be standalone example of how to implement features in either a Blazor Server or Blazor WebAssembly app. Having a shared project would, potentially, add some confusion to those new to Blazor who didn't yet understand shared libraries. This was the thinking originally at least.

I'm open to changing things but I guess we should decide if the sample are there are real w

[2020-08-07 12:18] robertsundstrom commented on #215
@chrissainty Yes, I have.

[2020-08-07 12:22] chrissainty commented on #215
Then the other usual suspect is caching. Have you tried clearing your browser cache and/or trying the app in a private/incognito window?

If all of that doesn't yield any improvements then could you share your code so we can help diagnose.

[2020-08-07 12:25] robertsundstrom commented on #215
Here's my code:

I have added the service, of course.

App.razor:
[code]

MainLayout.razor:
[code]

[2020-08-07 12:27] robertsundstrom commented on #215
The rendered structure:
![Screenshot 2020-08-07 at 14 26 53](https://user-images.githubusercontent.com/919580/89645452-1a996a80-d8ba-11ea-80c3-8bf4deb979e2.png)

[2020-08-07 12:32] chrissainty commented on #215
Thanks for the code but have you checked you cache? That is the cause of the majority of these problems.

I would also suggest swapping the CascadingBlazoredModal and the CascadingAuthenticationState around otherwise you won't be able to do any authentication operations inside of modals.

[2020-08-10 18:02] larsk2009 commented on #190
At first I agreed with @dfkeenan that adding shared code could definitely simplify updating the samples. But after reading your comment @chrissainty , I think you make a very strong point about the examples being "standalone". I don't think the time won by moving to a shared code base will outweigh the time lost by more issues being file by people who will not understand the sample projects anymor

[2020-08-11 10:59] szmalec commented on #204
@chrissainty
Finally, to achieve the tool window effect, I used a different solution than the blazored modal.
However, in order for Blazored Modal to create any possibilities of achieving a similar effect, apart from the option to enable background scrolling, an option to disable automatic closing of modal windows when changing locations would probably have to be added ([see this code here](https:

[2020-08-12 18:04] robertsundstrom commented on #215
I guess my problem is with the CSS.

[2020-08-12 18:04] #215 closed

[2020-08-14 06:51] chrissainty commented on #204
Thanks for the update @szmalec. I think at the moment, this isn't something that will be added. But perhaps if more requests come in we could look at it in the future. For now I'm going to close this issue and will reopen if there is more interest.

[2020-08-14 06:51] #204 closed

[2020-08-14 07:55] Halfbax opened #216 "[Bug] Unable to close modal when it is overlaying another modal instance"
**Describe the bug**
Cannot close the modal instance by clicking on the background.

[code]

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2020-08-14 11:34] larsk2009 commented on #216
I just tried to code in your post, and it works for me (I edited the Sample to reflect your code). Could you maybe provide a small reproduction of the issue? A repository showing this issue would be great, that way we can run it ourselves and see the problem firsthand.

[2020-08-14 22:16] larsk2009 commented on #211
Maybe we can also implement all ARIA attributes according to [this](https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html) page? It doesn't seem like much more effort.

Reference: https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html

[2020-08-17 16:09] chewabledrapery opened #217 "Modal Window seems to be disabling click event of a select? [Bug]"
Hi,

This is a tricky one, I can't work out if the issue lies with Blazored Modal or the Syncfusion PdfViewerServer component that i'm using.

If I embed the syncfusion pdf viewer in a modal it disables the zoom dropdown list click events, you can edit the zoom level with keyboard and use the plus + and minus - buttons, but click of an item in the zoom dropdown does not work, the event doesn't fir

[2020-08-18 05:23] chrissainty commented on #217
That does sound odd. I don't know what we'd be doing in the modal that would cause this behaviour. It would be great to know what Syncfusion come back with as I don't think there will be much we can do without some more information.

[2020-08-18 05:35] chrissainty commented on #211
I think that would be really great to do that.

[2020-08-18 10:01] chewabledrapery commented on #217
Thanks for the reply @chrissainty I'll let you know if/when i get a reply from SyncFusion or have a eureka moment.

Many thanks, Dean

[2020-08-18 10:02] larsk2009 commented on #211
Alright, I can pick this up if you want?

[2020-08-18 11:48] standsed commented on #168
For someone not using VS, enabling in config [UseStaticWebAssets](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.webhostbuilderextensions.usestaticwebassets?view=aspnetcore-3.1) fixed the issue

It then uses YourProject/obj/Debug/netcoreapp3.1/staticwebassets/YourProject.StaticWebAssets.xml
to resolve these files. In my case from local nuget directory.

[2020-08-18 14:14] chrissainty commented on #211
That would be great. Might be worth checking if there is someway to validation the use of the aria attributes in some way? I've seen people say they can be easy to get wrong at time. Don't know how true that is.

[2020-08-18 17:39] rpimentaf opened #218 "[Bug] Blazor App with identity does not work"
A server side Blazor App with identity authentication does not run when you install Blazor Modal as shown in the tutorial.
The error that come out is:
An unhandled exception occurred while processing the request.
InvalidOperationException: Authorization requires a cascading parameter of type Task<AuthenticationState>. Consider using CascadingAuthenticationState to supply this.
Microsoft.AspNetCore

[2020-08-19 05:50] larsk2009 commented on #218
Could you provide your App.razor? I think the problem will be in that file.

[2020-08-19 11:30] rpimentaf commented on #218
@larsk2009, my App.razor content is:

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.

[2020-08-19 11:39] larsk2009 commented on #218
I think I see your problem, try the App.razor like this:

[code]

[2020-08-19 11:43] rpimentaf commented on #218
@larsk2009, it worked!!!! Tks!!!

[2020-08-19 11:53] #218 closed

[2020-08-19 15:30] chewabledrapery commented on #217
Hi,

I've created a sample project that I've sent to SyncFusion, I'm adding it here in case anyone has the inclination to take a look?

Issue can be demonstrated via the button on the index page with description **"Show PDFViewerServer Modal"**

[BlazorServer.zip](https://github.com/Blazored/Modal/files/5097444/BlazorServer.zip)

You'll notice that the click of the zoom level dropdown doesn't trig

[2020-08-20 00:35] rgamage opened #219 "[Bug] Unable to close modal by instantiating code"
It appears that the IModalReference.Close() method doesn't work when trying to close a modal that you just created.

In other words, in this example I want to show a modal while some data is loading.  When complete, I want to close the modal.  The modal content is 'dumb', it just displays a loading spinner.

[code]
Am I doing this wrong, or is it really true that you can only close a modal from *i

[2020-08-20 04:10] larsk2009 commented on #219
[This](https://www.github.com/Blazored/Modal/tree/main/samples%2FBlazorServer%2FPages%2FLongRunningTask.razor) seems exactly like what you want to do. Have a look at that example and see if it works for you.

[2020-08-20 04:27] rgamage commented on #219
I’m pretty sure that won’t work, as it’s the same method I’m using in my
code. Is it possible something changed in Blazored Modal that broke this
functionality?

Randy

On Wed, Aug 19, 2020 at 9:10 PM Lars Koopmans <notifications@github.com>
wrote:

[2020-08-20 05:04] larsk2009 commented on #219
If you look at [this](https://blazored.github.io/Modal/longrunningtask) page, you can see that sample page in action. There it does work, but maybe you have a different situation where it doesn't work. Could you make a small repository/project you can share with us, which shows this problem? That way we can better see what the problem is.

[2020-08-21 08:54] chewabledrapery commented on #217
**Update:** SyncFusion have been able to reproduce my issue and are looking into it, they've given me a target date of the 25/8/20 to get back to me with further analysis of the problem...

Many thanks,

Dean

[2020-08-22 10:31] lukepat opened #220 "Option to support scrollable content for modals with a lot of content"
When the content of the modal exceeds the viewport it can make the modal hard to scroll or even close.

Ability to add option to enable content to be scrollable (like bootstrap) would be handy.

I have done the code and can create a pull request with the change if liked.

[2020-08-24 09:37] JoHecht opened #221 "Modal not appearing"
So I know this question already exists but it wasn't helping me.

So here is my Code:

**_Imports.razor**
[code]

MainLayout.razor
[code]

**_Host.cshtml**
[code]

**Page with button (Journal.razor)**
[code]

**Page that should Pop Up (JournalInputPage.razor)**

[code]

When I press the button nothing happens and I honestly don't know why

[2020-08-24 10:20] chrissainty commented on #220
Hi @lukepat,

I'd be happy to take a look at your proposal if you want to raise a PR, I'm not exactly sure of the problem so it would be useful to see the fix.

[2020-08-24 10:31] chrissainty commented on #221
You still have a reference to the modal in your MainLayout. As per the other questions on this subject and as is stated in the readme you must remove this.

I'm going to close this as it's a duplicate of a question which has been resolved a few times now and the answer is no different.

[2020-08-24 10:31] #221 closed

[2020-08-27 12:13] chewabledrapery commented on #217
Hi, just an update, i'm still waiting for a detailed reponse/fix from SyncFusion, they've now given me the 28th as target for a response.

Cheers.

[2020-08-27 15:05] TravisNorwood opened #223 "Allow custom class for overlay"
I'd like the change the transparency of the overlay. This could be done by adding an option to change the class of the overlay.

[2020-08-28 05:39] chrissainty commented on #223
Could you not just override the existing class and change that style property?

[2020-08-28 12:36] TravisNorwood commented on #223
That would change it every time the modal is used. I need to have different transparency levels.

On Aug 28, 2020, at 00:39, Chris Sainty <notifications@github.com> wrote:

﻿

Could you not just override the existing class and change that style property?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Blazored/Modal/issu

[2020-08-28 21:04] chrissainty commented on #223
You need different transparency level every thing you open the modal?

[2020-09-01 00:30] rezasfl opened #224 "Not capturing clicks || GoogleMaps AutoComplete"
Hello Chris,

Using Server Side, we have been trying to embed an instance of GoogleMaps' Places AutoComplete (Using BlazorGoogleMaps) with Blazored.Modal. The issue we faced was that the only way to select a result from the AutoComplete, would be to use the Up and Down Arrow keys to highlight an item and then press the Enter key to select it. You couldn't click on a list item directly. Every other

[2020-09-01 05:28] kamalhms opened #225 "Blazor opening double modal popup"
While i click on this link 2  Modal pop up will appear what is the problem can solve it ?

<a @onclick="@(()=>ShowModal(pd.StudentId))" > <i title="document" class="glyphicon glyphicon-paperclip"></i>
@code
protected async Task ShowModal(int st)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(Downloadfile.StudentId), st);
            var options = ne

[2020-09-01 07:37] SevvandhiN commented on #224
I am also encountering the same issue in ComboBox and DropDownList component. Any solution would be helpful.

[2020-09-01 11:55] MichelJansson commented on #173
This is interesting, do you have any links or docs regarding this for further reading?
Thanks.

[2020-09-01 11:57] chrissainty commented on #173
@mhagrelius There aren't any official docs about this, as I said in my comment I'm looking at the general design choices the Blazor team have made.

[2020-09-01 12:14] MichelJansson commented on #173
@chrissainty Thanks for the lightning fast reply. Ok, interesting none the less.

For me personally, who started using asp.net core last year because Blazor came around, it feels more intuitive to inject external things, and I would not expect to access a external service thru a cascading parameter.
One more thing for the toolbox when designing services - thanks!

[2020-09-01 19:11] chrissainty commented on #224
Thank you so much @rezasfl for the detailed information. I'd be happy to accept this change, would you like to raise a PR for it?

[2020-09-01 19:13] chrissainty commented on #225
Based on the code you've provided I'm not sure. Nothing in that code should display multiple modals. Does the component you're loading in the modal display another modal?

[2020-09-01 22:05] rezasfl commented on #224
No worries, I just raised a PR for it. I'll close this issue when the PR gets accepted :)

[2020-09-02 07:22] chewabledrapery commented on #217
Hi,

I've had a reply from SyncFusion, apprently its to do with the "stopImmediatePropagation" event being disabled?

Link to their response here :- https://www.syncfusion.com/support/directtrac/incidents/289951

They also state that this is the same cause as issue 224 :- https://github.com/Blazored/Modal/issues/224

I see that a change has been suggested in issue 224 shall i now close this issue?

[2020-09-02 21:49] chrissainty commented on #217
Thanks for the update Dean. I'll tag this issue in the PR for the fix and it will close automatically when it's merged.

[2020-09-03 01:37] Asherslab commented on #225
Getting the same issue, only happens after going from 4.1.0 to 5.0.0
I've checked and my code is not calling the open/show method twice or anything
attempted with an extremely simple component just saying "test", duplicated the component twice.

<img width="293" alt="Screen Shot 2020-09-03 at 11 35 50 am" src="https://user-images.githubusercontent.com/28527281/92061466-ba72e700-edd9-11ea-9112-65a3

[2020-09-03 02:13] Asherslab commented on #225
Figured it out!
remove
[code]
from your layout file

[2020-09-03 05:40] chrissainty commented on #225
Thanks @Asherslab for pointing that out, its probably the most common issue for people moving from 4.x to 5.

Closing this as it's another duplicate of #195

[2020-09-03 05:40] #225 closed

[2020-09-03 11:37] jni759 opened #228 "[Bug] Not working in IE11"
**Describe the bug**
JavaScript error on IE11 using Polyfill latest release (3.0.8) and Blazor.Modal 5.0.3. No modal box shows up and site breaks.
Project is Blazor Server.

**To Reproduce**
Steps to reproduce the behavior:
1. Load page
2. Console reports "Syntax Error" blazored.modal.js (1,1114)
3. Activate modal popup
4. New error:

[2020-09-03T11:29:51.226Z] Error: Microsoft.JSInterop.JSExcepti

[2020-09-03 16:00] larsk2009 commented on #228
I am getting the same errors using the example, even when using version V5.0.0, which I now worked at the time. I will look into this further the coming days.

Also, mental note: If IE11 works again, the readme should be changed. It says now that IE11 is supported from V4.2.0 of Blazored.Modal, which doesn't exist. Support for IE11 was actually released in V5.0.0.

[2020-09-06 23:40] dfkeenan opened #230 "[Bug] 5.0.3 Throws InvalidaOperationException"
**Describe the bug**
After updating from 5.0.2 to 5.0.3 I started getting `System.InvalidOperationException: Collection was modified; enumeration operation may not execute.` Happens in the `Blazored.Modal.BlazoredModal.CancelModals` method.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Not throw exc

[2020-09-07 21:29] Enfis commented on #230
Same here,

Here a await Task.Yield (); just after the Modal await, probably await dialog.Result, (temporary) solves the problem.

[2020-09-08 09:04] larsk2009 commented on #230
Could you provide some clear steps to reproduce this issue, or a repo showing this problem?

[2020-09-08 10:55] Enfis commented on #230
This is the simplest project using default Blazor wasm template, hope this help, just press "TEst Modal" button.

[TestModal.zip](https://github.com/Blazored/Modal/files/5187826/TestModal.zip)

[2020-09-08 11:16] larsk2009 commented on #230
Ah Right, I may be getting what is going wrong. I will try some stuff to see if I can fix it.

[2020-09-08 11:36] larsk2009 commented on #230
I can reproduce it in the sample project as well. I might have a fix for it, so I will make a PR so we can all review it.

[2020-09-08 16:38] larsk2009 commented on #228
It is obvious that the JS of Blazored.Modal is where it goes wrong in IE11, I just didn't realize that the JS was added after IE11 support was added. I doubt the JS was ever tested in IE11. I'll investigate if I can make the JS work in IE11 as well.

[2020-09-08 16:51] larsk2009 commented on #228
Okay so the problem is most likely that we are generating ES2019 ecmaSript from the TypeScript file, which isn't supported by IE11. We could start generating ES5 ecmaScript to make things work in IE11 again, but I am not sure if this is worth reverting to such a low version. We will also need to change some of the typescript because, for example, the `find` function is not available anymore with t

[2020-09-09 04:31] taylorchasewhite commented on #223
I overall agree with Chris that it seems odd to have an inconsistent overlay transparency level. What are you trying to communicate with the transparency level?

For what its worth though Chris--I personally don't like having to couple my CSS styles with those of open source components if possible, so I _do_ support being able to do the same type of "class override" you allowed with the modal popu

[2020-09-09 04:34] taylorchasewhite commented on #223
The other use case I have in mind that would be cool to do in a separate pull request / issue, but want to get your thoughts is doing something like a [popover](https://getbootstrap.com/docs/4.0/components/popovers/)?

Is that something you'd be open to doing in this package as a "ModalOption" "IsPopover" or something like that? The triangle would jut against the button that launched it. I know th

[2020-09-11 07:07] Jvella94 opened #232 "Bug: Page Redirect/Refresh on Modal Show with Button Click"
The below method is in a Componenet Base which is inherited by a Razor Component. Upon running this event from an onclick event, the page is refreshed with a ? suffixed to the end of the url. Do Modals navigate or refresh a page/component somehow?

`public async task Method(string value)`
`{`
    `var param = new ModalParameters();`
    `param.Add(nameof(ModalType.Property), value);`
    `var moda

[2020-09-11 09:37] Jvella94 commented on #232
Never mind, figured it out. Modal had a form tag in it. When you click the submit button on a form tag, Blazor seems to refresh the page on purpose. Changed it to a div and all works fine now.

[2020-09-11 09:37] #232 closed

[2020-09-11 15:12] ktaze1 opened #234 "Modal can't redirect when inside of a form tag"
I was trying to use Modal in my user profile page and after I clicked to Modal button, I thought it killed the page but after few minutes I came to conclusion that it just tries to redirect and gives 404 Not Found.

First I thought it might be happening because it takes time to fetch the data from a database and I've something like this:
[code]
But no. Problem happens if button is inside of a form

[2020-09-11 15:27] AgWillow opened #235 "[Bug] When an app's current culture doesn't use a period as a decimal separator, fade-in/-out animation fails"
When a Blazor app's current culture doesn't use a period [.] as a decimal separator, the fade-in/-out animation fails.

**To reproduce:**

1. Configure a Blazor app to set CultureInfo.CurrentCulture to any culture that doesn't use a period decimal separator, e.g., French (fr, fr-CA, etc.).
2. Open a modal dialog via `IModalService.Show<...>("...", options)` with `options.Animation = ModalAnimation

[2020-09-11 15:31] larsk2009 commented on #235
I can reproduce this issue, and I think the PR you made is a good way to solve this issue. I am just curious when you would actually encounter this issue, because as far as I can see it would only happen when you have more than 3 decimal places behind the delimiter. I can only think of situations when maybe you are dividing some numbers giving this many places behind the comma. Is that what you we

[2020-09-11 15:42] larsk2009 commented on #234
I think it is because the button threated as an [implicit submit button](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#implicit-submission) for the form, thus submitting the form. If you change the button to be:

`<button @onclick="ShowModal" type="button" class="btn btn-primary">Show Modal</button>`

It should work again. This is because you explicitly set the button typ

[2020-09-11 15:43] AgWillow commented on #235
Yes, exactly. I wrote the duration as `1./3.` and that's when I saw it fail (after switching my app to French).

[2020-09-11 15:46] ktaze1 commented on #234
Seems like it. Thanks!

[2020-09-11 15:46] #234 closed

[2020-09-11 15:46] larsk2009 commented on #235
Yeah that makes sense.

[2020-09-12 16:58] ronfur opened #236 "[Bug] Unable to close modal when modal is empty"
**Describe the bug**
Unable to close modal when modal is empty (No html)
Same problem when modal only contains a list of a-tags generated by a for each.
The modal works when I add a button in the modal.

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2020-09-12 18:32] larsk2009 commented on #236
Can you provide a project which reproduces this error? I just tried with a modal with no contents, but it works fine on my machine.

[2020-09-12 18:43] ronfur commented on #236
In my project modal A opens modal B and the problem occurs with modal B.

The problem only occurs with sub modals.

________________________________
Från: Lars Koopmans <notifications@github.com>
Skickat: den 12 september 2020 20:32
Till: Blazored/Modal <Modal@noreply.github.com>
Kopia: ronfur <ronfur@live.se>; Author <author@noreply.github.com>
Ämne: Re: [Blazored/Modal] [Bug] Unable to close mod

[2020-09-12 18:47] larsk2009 commented on #236
Right, so the bug only happens with submodals. In that case, I can reproduce this error. I will see if I can find the problem.

[2020-09-14 19:37] larsk2009 commented on #236
Seems this issue is related to #217 and #224. Once PR #226 is merged, I think this issue will be fixed.

[2020-09-15 07:18] andregeuze commented on #220
Any progress on this? Currently running into the same problem :(

[2020-09-15 07:28] larsk2009 commented on #220
@andregeuze This was fixed in #222, but hasn't been released just yet. For now, you can use the pre-release package, found [here](https://github.com/Blazored/Modal/packages/288921), which hopefully should fix your problem. Let me know!

[2020-09-17 06:37] chrissainty commented on #228
Apologies for the delay, I've been away on paternity leave.

So I've had a look at this this morning and I've changed the TypeScript to generate ES2015 which is the same as what the Blazor team generate. But I'm still seeing the error.

Unfortunately the users of IE11 are so small I can't warrant the time to try and fix this. I'm happy to take a PR if someone figures it out however.

[2020-09-17 06:53] larsk2009 commented on #228
Yeah I think ES2015 == ES6, which still won't work in IE11. ES5 should work, but like I said then some other stuff breaks, so I agree it isn't worth the hassle.

[2020-09-17 06:56] chrissainty commented on #228
Sorry, I was using ES5 - I pretty much copied the TypeScript config from the ASP.NET Core repo

[2020-09-17 06:56] #230 closed

[2020-09-17 06:58] chrissainty commented on #223
It's a nice idea @taylorchasewhite I'm not sure it would fit in this library though. While popovers and modals are similar I think we'd be blurring the lines a bit to much.

[2020-09-17 07:01] larsk2009 commented on #228
Ah right, in that case it is even more difficult to solve probably.

[2020-09-17 07:05] #235 closed

[2020-09-17 07:15] #224 closed

[2020-09-17 07:15] #217 closed

[2020-09-17 07:15] #236 closed

[2020-09-17 07:17] #220 closed

[2020-09-17 07:18] chrissainty commented on #219
As there has been no further communication on this issue I'm going to close it.

[2020-09-17 07:18] #219 closed

[2020-09-17 18:34] taylorchasewhite commented on #223
I agree, that makes sense. I would like to contribute more to the Blazored components you've been adding and would be interested in creating an equivalent package (based on Modal) under the Blazored/Popover, would that be something you'd be open to or would you prefer sole responsibility of all the repositories/packages in Blazored/ :)?

[2020-09-18 06:53] chrissainty commented on #223
@taylorchasewhite I'd be more than happy for you to do that. If you could head over to the [Home repo](https://github.com/Blazored/Home) and open an issue describing the package you want to add we can chat it over there an not pollute this issue with random chat 🙂

[2020-09-21 09:55] NatanBagrov opened #237 "[Question] Any option / best practices including RenderTemplate?"
Hi,

I've come across this issue while trying to make Modal more modular. For instance, take the basic "Yes/No" confirmation modal (seen in the examples). You can add a `string Content` property and initialize it with the content we wish do display. However, say I wish to show something more complex (for instance a list), I can create a dedicated Modal for that matter, but I was wondering if I can

[2020-09-23 09:50] larsk2009 commented on #237
I don't personally see a very straightforward way to do this. The solution I would first try is the one you already mentioned. Did you try that one and does it work?

I think the problem is, you want to pass a `RenderFragment` to the Modal? Normally you do this as the child element of the element you want to pass it to, but this is obviously not possible with the way modals work. The other way wou

[2020-09-23 10:23] NatanBagrov commented on #237
Hi @larsk2009, thank you for your response.
I indeed was able to implement this wrapper thingy, however I still use the previous version of Modal (think 4.x) due to breaking changes and lack of time in my side.
I also  "integrated" it, such that it is more robust, returning the `ModalReference` from the wrapper to the "caller" component, so that it would be able to make logic afterwards (as is ret

[2020-09-27 11:46] chrissainty commented on #237
Hi @NatanBagrov why would having the `<BlazoredModal>` component on every page solve the issue? That component does very little, it simply provides a container to display any modal instances.

I might not have understood what you're attempting, but using the list and yes/no example from your opening comment, you would just capture a reference to Blazored Modal in the list component and then call M

[2020-09-28 07:04] NatanBagrov commented on #237
Hi @chrissainty, I'm afraid you misunderstood what I wrote.
I would like to be able to render custom content within the Modal.
So, I don't want to show the yes/no from every list item, but rather show the yes/no modal with the list content within it.
Think about this option:
[code]

[2020-09-28 07:09] chrissainty commented on #237
I still don't think I understand what you're trying to do @NatanBagrov.

You want to display a modal which is a component called `MyModal`, for example. So you'd call `Modal.Show<MyModal>(...)`. Inside `MyModal` you want to display custom content? So your `MyModal` might look like this:

[code]

Is that correct?

[2020-09-28 07:13] NatanBagrov commented on #237
Indeed, @chrissainty .
And I'm wondering if there's a better way to pass this `CustomContent`...

[2020-10-05 05:55] #211 closed

[2020-10-14 08:17] AlexCastroAlex opened #240 "[Bug] Modal not closing after submit [Help wanted]"
Hello ,

I'm not sure this is an issue but i'm asking help if anybody can help :)

I'm having a razor component calling a modal. the modal is from submit and returns an entity.
This is working fine but the popup is not closing.
Sometimes when i submit twice in a rtow , it closes.

**Here's code from my main component :**

[code]

**and here's code from my modal :**

[code]

Thanks in advance.

Reg

[2020-10-15 10:24] larsk2009 commented on #240
[code]
Are you not giving the type of modal in this call? Like in this example, the modal is `Movies`.
[code]

[2020-10-15 18:58] scott-david-walker opened #241 "Demo project broken"
Trying to open a modal in the demo project causes this error:

![image](https://user-images.githubusercontent.com/13588473/96174133-2728e780-0f29-11eb-990d-3420805dfe81.png)

[2020-10-15 18:59] larsk2009 commented on #241
Which browser are you using?

[2020-10-15 19:00] scott-david-walker commented on #241
Happens both in Edge and Chrome

[2020-10-15 19:09] larsk2009 commented on #241
If you look at the developer console in chrome, do you see the 'blazored.modal.js' like in this window:

![image](https://user-images.githubusercontent.com/7924568/96175066-9eab4680-0f2a-11eb-9b4e-959d3d5648a0.png)

[2020-10-15 19:12] scott-david-walker commented on #241
There's no js files in the console . . .

![image](https://user-images.githubusercontent.com/13588473/96175354-111c2680-0f2b-11eb-88bf-f3a8db979634.png)

[2020-10-15 19:17] larsk2009 commented on #241
If you are using the demo project without changing anything and this is happening, it is probably a caching issue. You could try clearing the browser cache and/or using a private window.

[2020-10-15 19:22] scott-david-walker commented on #241
Nothing changed, it's a fresh clone of the repo.
Tried on incognito, even downloaded Firefox and I'm still having the same error.

[2020-10-15 19:27] larsk2009 commented on #241
Do you have the blazored.modal.js file in VS?

![image](https://user-images.githubusercontent.com/7924568/96176794-22663280-0f2d-11eb-8c50-dc817554f4d6.png)

[2020-10-15 19:28] scott-david-walker commented on #241
I'm using Rider but yes, the Blazored.Modal project exists and is referenced

[2020-10-15 19:29] larsk2009 commented on #241
Does the 'blazored.modal.js' file also exist, on the location I showed in the image?

[2020-10-15 19:33] scott-david-walker commented on #241
Just tried running it on Visual Studio and it works perfectly. It doesn't seem to work using the Rider IDE.

[2020-10-15 19:35] larsk2009 commented on #241
I suspect Rider is not compiling the TypeSript to Javescript for some reason.

[2020-10-15 19:37] scott-david-walker commented on #241
That would be unusual, I use RIder for everything as I don't really like VS and I've never had any issues writing TypeScript. Is it worth raising a bug?

[2020-10-15 19:47] chrissainty commented on #241
Hi @scott-david-walker, we use MSBuild tasks in the csproj to compile the TypeScript. It could be that Rider doesn't support them. You could also try building the sample project with the .NET CLI, if that also works, I would suggest it's either Rider or a local issue.

[2020-10-19 00:41] Garderoben opened #242 "Question about usage and credit"
Hello Chris

I have learned alot from your repos and examples since i started learning blazor, i'm not a "real" developer but i started my own private library that in the end turned out to go public instead and is now a open source team project licensed under MIT.

Our Dialog component is mostly based on your modal source code, but redone and changed in ways to fit our needs.

You are already cred

[2020-10-23 05:44] chrissainty commented on #242
Hi @Garderoben,

Thank you for asking, that is a very nice thing to do. You have my permission to use the modified Blazored Modal source code in your project, with credit. I've just had a look over your project and it looks really great, I wish you luck with it.

[2020-10-23 05:44] #242 closed

[2020-10-24 22:29] chrissainty commented on #241
As there has been no further communication on this issue I'm going to close it.

[2020-10-24 22:29] #241 closed

[2020-10-24 22:34] chrissainty commented on #240
I can't see anything out of place with your code. Are you seeing any errors in the browser console?

[2020-10-26 09:26] Kurti123 commented on #53
Is there any documentation  Modal.OnClose field went to? I just upgraded from 3.x to 5.1 and have some errors here.

[2020-10-26 22:29] chrissainty commented on #53
If you go through the readme or checkout the sample projects you can see how the new APIs work. Essentially though, there isn't an OnClose event anymore, you now await the modal.

[2020-10-27 19:20] NaserParhizkar opened #243 "Please makes it draggable and resizable"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 18:13] VGib opened #244 "Why Ok(T result) don't pass the typeof T for resultType in ModalResult constructor"
Hello,

**Is your feature request related to a problem? Please describe.**
the constructor has this signature:
[code]

But it seems to be filled with the modalType:
[code]
**Describe the solution you'd like**
I don't understand what is the resulttype purpose:
- the type of the data object ?
- the type of the used modal ?

I I don't understand well, could this be better named ?

**Describe alternat

[2020-10-29 18:29] VGib commented on #244
OK I didn't think that you used javascript for result, I understand better.
Can you put a comment on DataType and a custom where close on T, every thing will be better.
Thx

[2020-10-30 23:14] David-Moreira commented on #237
@chrissainty I think @NatanBagrov's doubt is how to pass markup into the modal without having to use the RenderTreeBuilder is that not it?
Chris, In your example, would you be able to pass markup into the parameter CustomContent without RenderTreeBuilder?

[2020-10-31 06:12] chrissainty commented on #237
@David-Moreira you could pass the markup as a string and then render it inside the component using `MarkupString`. Other than that I don't think there are any other ways. I guess question now is what's wrong with RenderFragments? The are the Blazor way of passing pieces of arbitrary UI

[2020-10-31 10:04] David-Moreira commented on #237
Thank you for your answer Chris!
I don't think there's nothing wrong with it. That's how it works. Just saying that's what seemed @NatanBagrov's idea/question to me.
Write his tidy markup as he has always known and pass it into the render fragment. In some cases, having to pass a whole lot of markup as string into RenderFragment,  doesn't seem really neat.

For example, I'm guessing there's places

[2020-10-31 20:45] chrissainty commented on #240
As there has been no further response, I'm going to close this issue.

[2020-10-31 20:45] #240 closed

[2020-10-31 22:45] #223 closed

[2020-11-01 09:51] NatanBagrov commented on #237
Hi @David-Moreira, thanks for stepping into the conversation. You are correct about my question. I was thinking about how to make the Modal more modular, and wondering whether there is some "more-native" way to achieve that. I guess not.
I'll stick with the wrapper anyways :)

[2020-11-01 09:51] #237 closed

[2020-11-02 11:17] RMarcinkowski opened #249 "[Feature Request] Remove inline styles"
**Describe the bug**
Firstly, we have a Content Security Policy directive that forbids inline style.
![grafik](https://user-images.githubusercontent.com/32728206/97860399-59e12700-1d02-11eb-9a0f-67b951299414.png)

[There](https://github.com/Blazored/Modal/blob/main/src/Blazored.Modal/Interop/Blazored.Modal.ts) are functions implemented in #186 that set inline style on the `body` element. Therefore

[2020-11-02 19:54] jkears opened #250 "Hides JSInterop Drop-Down"
In Blazor server while attempting to include CodeEffects Rules Editor within a Blazored Modal and when I select the CodeEffects Rules Editor drop-down it renders underneath the modal.

![image](https://user-images.githubusercontent.com/1290937/97912848-68880800-1d1b-11eb-981d-80390fd7f9da.png)

When this is not wrapped in a Blazored Modal based component this works.

Can I control the z-index of B

[2020-11-02 20:13] chrissainty commented on #250
Yes, you can modify the z-index by overriding .blazored-modal-overlay and .blazored-modal and changing their z-index to a different number.

[2020-11-02 21:28] jkears commented on #250
Many thanks Chris...

I actually had to change the z-index of the ceMenu class on CodeEffects = 200 works for my needs.

![image](https://user-images.githubusercontent.com/1290937/97921015-519be280-1d28-11eb-8eb0-bc4622f6c0c4.png)

[2020-11-02 21:28] #250 closed

[2020-11-04 15:48] chris5287 commented on #228
FYI - I fixed this by setting `"target": "ES5"` in `tsconfig.json`, which stops it generating classes that is not supported in IE11.

[2020-11-05 13:19] larsk2009 commented on #228
That did fix it? I am pretty sure I remember trying that, but breaking a bunch of other stuff in the process. For example, the 'find' function I mentioned in a comment above. Is this not the case?

[2020-11-05 19:12] darraghjones commented on #68
Perhaps this should be added to the Getting Setup section of the readme as it caught me out

[2020-11-07 08:23] holister101 opened #251 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-07 08:23] #251 closed

[2020-11-08 21:12] chrissainty commented on #249
Hi @RMarcinkowski, those styles are applied as part of the focus trap library we use. I've not had anyone use a security policy which restricts inline styles before, I'll be honest I had to look up why it was a security risk in the first place.

Time is extremely tight for me at the moment and unless lots of other people upvote this I don't think anything will be being action on this issue in the

[2020-11-08 21:58] larsk2009 commented on #249
@chrissainty @RMarcinkowski I have some time for this so I will look into it if that is okay. Might take a bit though.

[2020-11-08 21:59] chrissainty commented on #249
@larsk2009 That would be awesome, thank you.

[2020-11-09 08:52] RMarcinkowski commented on #249
@chrissainty Thank your for your answer and the explanation.
@larsk2009 I would appreciate that, thanks.

[2020-11-09 16:49] RobBowman opened #252 "Have to click close twice"
Thanks for creating this project. I'm new to Blazor, need a modal box and this is easy to use!

My problem is, on displaying the modal, the user has to click to close twice.

![CloseTwice](https://user-images.githubusercontent.com/6296919/98570541-77d2fc80-22ab-11eb-9bb8-ba4f06b854c2.gif)

On my razor page, I have a "ReQueue" mthod bound to a button click:

[code]
My modal razor page is:

[code]
a

[2020-11-09 17:53] larsk2009 commented on #252
Going of of your GIF, it seems the modal is opened twice, which is why you need to close it twice. Could you also post the full contents of MainLayout.razor?

[2020-11-09 17:54] chrissainty commented on #252
It looks like you've not made some changes required by the latest version. If you have a run through of the readme you can see what needs doing. But essentially, you need to remove the `<BlazoredModel />` component from `MainLayout` and add `<CascadingBlazoredModal>` around the router component. You then no longer inject `IModalService`, instead you access it via a cascading value in each componen

[2020-11-09 18:59] RobBowman commented on #252
@chrissainty that worked great, thanks very much

[2020-11-09 18:59] #252 closed

[2020-11-10 14:18] duetscha opened #253 "Use as MessageBox"
First of all: Great work, I really like all your Blazored "Tools" :)

One thing I´m missing (or just haven´t found yet) is a kind of "MessageBox" with different types (icons) like INFO, QUESTION, WARNING... and a set of buttons to display (like Yes/No/OK/Cancel)
I´ve seen something similar here at Github "LiquidTechnologies/blazor-modal-dialog" but I don´t feel comfortable using to many packages b

[2020-11-10 16:03] larsk2009 commented on #253
Hi Andre,

There isn't a prebuilt `MessageBox` Modal with icons. This is however, something you could implement yourself using this package. Basically, I think you should make your own `message.razor` component. You can hide the default header, and add your own header with the icon you want.

Also take a loot at #198. It seems like this issue shows an example of what you are trying to achieve. Als

[2020-11-10 22:09] brentgiesler opened #254 "Integrate Modal with Grid.Blazor"
**Is your feature request related to a problem? Please describe.**
I've been unable to show the modal from inside his grid, by creating a custom column
[https://github.com/gustavnavar/Grid.Blazor/blob/master/docs/blazor_server/Custom_columns.md](https://github.com/gustavnavar/Grid.Blazor/blob/master/docs/blazor_server/Custom_columns.md)

**Describe the solution you'd like**
I'd like to create a hy

[2020-11-11 05:14] duetscha commented on #253
Hi Lars,
thanks for your answer. I already assumed something like this - but since I´m a lazy one ... :)
Stay healthy
Andre

[2020-11-11 10:57] larsk2009 opened #255 "[Feature Request] .NET 5"
Now that .NET 5 is released, I guess we should upgrade to .NET5. The changes required are very small, so if you want I can make a PR for it.

[2020-11-11 11:02] larsk2009 commented on #254
I am not entirely sure what exact code you are trying now, but it seems like you should make a button in the custom column, which on its click event will open the modal. That should work I think. Can you try that?

[2020-11-11 15:20] brentgiesler commented on #254
Hi Lars.  Thanks for commenting.

I've been trying that, but haven't been able to have the grid even render, when I have the call to the code that sets up the modal.  I do have a separate button outside the grid, which calls the modal just fine.

I pinged Chris to see if he had anyone that had implemented these two components together.  He asked me to open an issue so he could investigate.

[2020-11-11 15:25] larsk2009 commented on #254
Are you able to share the code for this issue? That way Chris, me or someone else can easily replicate your issue and try and fix it.

[2020-11-11 16:05] larsk2009 commented on #254
@brentgiesler I have just made a fork of Grid.Blazor, and I could add a simple modal to it which works. Maybe you can have a look at what I did and see if that is what you were trying to do?

Check out [this commit](https://github.com/larsk2009/Grid.Blazor/commit/5526150a5b74b4923d8366c6c503445bea398780) to see what I did. You can clone that repo and try for your self. To try it, go to the **Edit

[2020-11-11 18:10] brentgiesler commented on #254
Wow Lars.  Thank you very much.

I'll check it out and let you now how I end up.

[2020-11-11 22:02] brentgiesler commented on #254
@larsk2009 It worked great.  I saw some of the things I missed.  Thanks for the education.

[2020-11-11 22:02] #254 closed

[2020-11-12 19:32] jkears commented on #243
I second this... I really love the Modal but would love it more so if could to be able to drag and resize..

[2020-11-12 20:31] larsk2009 commented on #243
@jkears Could you give an example usage for this? I can't think of a use-case of the top of my head, but I am sure you have one. 😉 That way it is easier for us to imagine exactly what you and @NaserParhizkar want.

[2020-11-12 20:44] jkears commented on #243
Sure...

I am creating a tool that captures business domains and from which code-generates the backing domain microservices..

Within the Domain modeling tool I am able to invoke a business rules editor (as modal).

The rules are based upon the same schema as captured in the underlying domain model.

I would be nice to be able to move and or minimize that dialog so that I can see underlying schema

[2020-11-12 20:58] larsk2009 commented on #243
Very good use-case indeed, thanks for that! I will have a look a this tomorrow.

[2020-11-12 21:01] jkears commented on #243
Thank you.

[2020-11-14 15:53] larsk2009 opened #256 "[Bug] Respect GlobalModalOptions"
**Describe the bug**
Some options don't seem to use/respect the `GlobalModalOptions`. For example, the Animation doesn't in [this file](https://github.com/Blazored/Modal/blame/main/src/Blazored.Modal/BlazoredModalInstance.razor.cs#L93) (it only uses the one set in `Options`, doesn't check `GlobalModalOptions`.) The option `FocusFirstElement` also seems to forget this, for example in [this line](ht

[2020-11-14 19:31] chrissainty commented on #253
Based on the above discussion I'm going to close this issue as this is a road we've decided not to go down.

[2020-11-14 19:31] #253 closed

[2020-11-14 19:39] chrissainty commented on #255
Sorry this took so long to get to. Yes, I agree.

We will need to dual target .NET5 and .NetStandard2.1, I believe. This will give everyone some time to migrate.

I'm not sure what happens regarding features like scoped CSS if the package is installed in an older version of Blazor. I've not had a chance to test this yet.

[2020-11-14 19:41] chrissainty commented on #256
Good spot Lars. Looks like you've got this in hand. Shout if you need anything.

[2020-11-15 05:59] sleeplessninja opened #257 "Update or Take Down Documentation on modal.blazored.com [Feature Request]"
I had followed the steps outlined at the [separate documentation site]( https://modal.blazored.com/usage/returning-data-from-modals.html) first.  Only after running into issues trying to follow the simple samples had I come across this GitHub repo with the latest documentation.

At the very least the documentation could explicitly say its dated and point to GitHub.

Also if you do decide to keep t

[2020-11-15 13:19] markoradojkovic commented on #197
Hi, you must add script in _host file. like as in image.
![image](https://user-images.githubusercontent.com/56439233/99185991-873fc300-274d-11eb-9e1b-60323e43203a.png)

[2020-11-16 14:12] FraserElectronics opened #259 "[Bug]"
**Describe the bug**
Get exception blazor.webassembly.js:1 Microsoft.JSInterop.JSException: Could not find 'BlazoredModal' in 'window'. when trying to display a Modal dialog.

**To Reproduce**
Steps to reproduce the behaviour:
Followed steps 1 through 4 in the repo readme
Created a simple button linked to code to show the Modal.

`@inject IModalService Modal

<p class="page-title">Dashboard</p>

<

[2020-11-16 18:37] larsk2009 commented on #259
Hi Andy,

For the code formatting, try 3 back-ticks at the beginning and end, like this:

[code]

It is kind of hard to read the code now, like you said 😉, but I think if you have followed all the steps correctly, it is probably the same issue as #215, #197 or #196. In those issues, it was mostly because either some step was forgotten (or, if you are upgrading from pre-v5, you need to remove `<Bla

[2020-11-16 19:56] FraserElectronics commented on #259
Thanks for your tip on code formatting :-)
I have edited the original post to make it easier to read.
I saw some similar posts on this issue but this is a brand new project and so is not a legacy issue.
I will see if I can create a repo that reproduces this issue.

Andy

[2020-11-16 20:01] FraserElectronics commented on #259
Okay, clearing the browser cache as mentioned by someone fixed the issue :-)
Many thanks for the help.

Andy

[2020-11-16 20:40] chrissainty commented on #257
Thank you for raising this @sleeplessninja. This was an error on my part, we explored using DocFx but never got on with it so moved to publishing the sample app instead. I completely forgot that the site you referenced was still running. I'll get it takes down and apologies for the confusion.

[2020-11-16 20:49] chrissainty commented on #257
The old docs site is now offline. Thanks again for raising this.

[2020-11-16 20:49] #257 closed

[2020-11-17 19:48] David-Moreira commented on #256
Hello @larsk2009
I added this one `FocusFirstElement`.
I just went straight to the point and I didn't notice a cascading GlobalOptions, my bad.
Thanks for noticing and fixing!! 👍

[2020-11-17 19:50] larsk2009 commented on #256
No problem! I myself also missed one when I added Animations, so you were definitely not the only one 😉

[2020-11-18 00:38] ryantgray opened #261 "[Bug] Could not find 'BlazoredModal' in 'window'."
**Describe the bug**
I have followed the steps on GitHub and to the best of my knowledge I did everything as described. I then tried doing a very basic test using the instructions as described under "Usage - Showing a modal with no parameters" in Github but when i click the button that calls Modal.Show I get the following error in developer tools in Chrome:

Microsoft.JSInterop.JSException: Could

[2020-11-18 10:45] larsk2009 commented on #261
Hi @ryantgray, please have a look at #259 to see if it fixes your issues. My comment there specifies some other issues to check out for a fix. The conclusion is that this is most of the time a caching issue.

Also in your nuget packages I don't see Blazored.Modal, but If you are getting an error in chrome then probably you are using that package also?

[2020-11-18 16:35] #256 closed

[2020-11-20 13:25] chrissainty commented on #206
This is now resolved by #258

[2020-11-20 13:25] #206 closed

[2020-11-20 16:54] larsk2009 commented on #255
I don't have much experience with multi-targeting, but it seems like we would need to include some #IF statements in the .csproj to use the correct versions of the Nuget packages for both .net5.0 and .netstandard2.1

I will try to have a go at it maybe next week, but it doesn't seem very easy (at least nog as easy as just updating to .net5.0, which I could accomplish very easily, but I can see why

[2020-11-21 17:06] pha3z opened #262 "Why Javascript?"
I see you originally wrote a javascript-free modal.

It looks like the current modal requires a javascript dependency, but I don't see an explanation why.  Can the purpose be added to the readme?

Since the Telerik javascript-free modal comes up on Google, it sounds more appealing at first.  I had to do a lot of reading to see that the javascript-free version is a predecessor to this Blazored / Mo

[2020-11-21 17:40] chrissainty commented on #262
Hi @pha3z, out of curiosity why does the fact that we use some JavaScript concern you? It's a concern of the library not for you to deal with as developer consuming it?

[2020-11-21 17:43] pha3z opened #263 "Rename the cascading parameter property in the readme to something less confusing"
The readme example for EditMovie contains this line for the Cancel button:

`<button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>`

When I try to implement a button referencing BlazoredModal.Cancel, I receive the error:

`BlazoredModal does not contain a definition for Cancel`

- Using Blazor Server

_On an unrelated note: I notice the @bind pattern in the example code

[2020-11-21 17:49] pha3z commented on #263
As a matter of fact, Intellisense shows pretty much NOTHING on BlazoredModal -- except for the standard C# class members.

[2020-11-21 18:07] pha3z commented on #263
Woops.  I was missing

`[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }`

Probably ought to change the property name from "BlazoredModal" to something clearer like "thisModal" since BlazoredModal is a class available in the same scope.

Honestly, this makes way more sense also.  Because I thought it was strange that I was supposed to be calling a static method to close an in

[2020-11-22 18:41] pha3z commented on #262
Thanks for the answer!

It concerns me only because I like to know exactly what goes on under the hood when I take dependencies into my projects. I have a habit of writing things from scratch when I can do it to avoid more dependencies...or if the way something works internally isn't preferred.

I've been using Blazored.modal quite happily.  It's fantastic! Great work and Thank you!

[2020-11-22 18:52] chrissainty commented on #262
No problem and thank you for providing some background on the question. What you've said makes totally sense and I appreciate your kind words regarding the library 🙂.

[2020-11-23 00:11] David-Moreira commented on #262
@chrissainty you're probably already aware, but there's focus API support on .NET 5.
Not sure how easy it is or not to replace the focustrap functionality with it, but could be a good replacement for focustrap if it's your plan to eventually migrate and support .NET5.

[2020-11-23 06:18] chrissainty commented on #262
Hi @David-Moreira, unfortunately a focus trap requires far more that just the ability to focus an element.

A focus trap dynamically finds all elements inside of a given element, that are focusable. Then whenever a user tabs, it intercepts the event and makes that the only elements to receive focus are those it found in the previous step.

To my knowledge, this isn't something we could do with Bla

[2020-11-23 08:02] ryantgray commented on #261
Hi @larsk2009, since posting my issue I had reverted all my changes and then I tried reimplementing them once I got your response. In short, it is working now and I did not do anything extra to get it to work. So, either it was a caching issue or I missed something the first time but I'm leaning more towards the caching thing. Thanks.

[2020-11-23 08:02] #261 closed

[2020-11-24 04:02] ryantgray opened #264 "[Feature Request] Hide Modal Header via Boolean Property"
**Is your feature request related to a problem? Please describe.**
Only a slight aesthetic problem.

**Describe the solution you'd like**
Would be nice if we could hide the modal header via setting a property the same way HideCloseButton works. I assume we could accomplish the effect by supplying our own css but... who wants to do that? =)

**Describe alternatives you've considered**
I can almost

[2020-11-24 13:36] larsk2009 commented on #264
Hi @ryantgray,

Have you tried the `HideHeader` option? I think that does what you want.

[2020-11-25 00:33] ryantgray commented on #264
I did not. I missed that option and yes, it does exactly what i was wanting. Thanks.

[2020-11-25 00:33] #264 closed

[2020-11-25 11:59] AndreiGorlov opened #265 "[Bug] Modal with `UseCustomLayout = true` option doesn't close/cancel on click outside"
**To Reproduce**
1. Run sample project
2. Click on "Custom Layout"
3. Click on "Show Modal"
4. Click outside modal

**Expected behavior**
Modal expected to be dissmised

[2020-11-25 12:09] chrissainty commented on #265
This behaviour is by design. When you choose UseCustomLayout, you're expected to provide the full implementation of the layout.

If you want a background click to close the modal you must add an onclick handler somewhere in your markup which calls ModalInstance.Close.

[2020-11-25 12:16] AndreiGorlov commented on #265
There is **<div class="modal-backdrop fade show" @onclick="Cancel"></div>** in samples BlazorWebAssembly/Shared/CustomBootstrapModal.razor but it doesn't work.

[2020-11-25 12:35] chrissainty commented on #265
Ah, thanks for spotting that!

The functionality is working it was just that the onclick handler was on the wrong element. I've just pushed the fix for the sample.

[2020-11-25 12:35] #265 closed

[2020-11-25 12:36] chrissainty commented on #263
This's a fair point @pha3z. I'll repurpose this issue to track the required changes.

[2020-11-25 12:40] AndreiGorlov commented on #265
But now modal closing on click **inside** also...

[2020-11-25 12:40] chrissainty commented on #262
Closing this as the original question has been answered.

[2020-11-25 12:40] #262 closed

[2020-11-25 12:47] chrissainty commented on #265
Yes, I shouldn't do things when I'm in a hurry. That sample will need to change as the way bootstrap structures the modal will make a background close click very difficult.

[2020-11-25 12:55] chrissainty opened #266 "[Bug] Rework the custom layout sample as it's currently broken"
**Describe the bug**
It was pointed out in #265 that the custom layout sample wasn't working as expected - clicking on the background didn't cancel the modal. My attempt at a quick fix fixed the original issue but created another, clicking anywhere cancelled the modal.

After a scan of the Bootstrap code for the modal we might need to reimplement this sample. The HTML structure they use has a sing

[2020-11-25 12:56] chrissainty commented on #265
@AndreiGorlov I've raised #266 to address fixing the sample.

[2020-11-25 15:07] larsk2009 commented on #266
I'll have a look at it. Something I saw already is that we should also hook up the close button in the header of the bootstrap modal. That is also not working right now.

[2020-11-25 15:25] larsk2009 commented on #266
So I had a look at how bootstrap does it themselves, and they are not super clear about it. It seems like they put the .modal-backdrop element as the last child of the `<body>` element, instead of somewhere near the modal. Anyway, I found a way to get it to work. It is a bit hacky maybe, so have a look at what you think. I made a PR for it just because it is easier to look at. #267

[2020-11-26 06:25] #266 closed

[2020-11-29 20:05] adriantether commented on #196
this might be late for some but a few things I went through to get this going as I wrote my own code not used the github project..
1/ npm install the package
2/ @using Blazored.Modal @using Blazored.Modal.Services to the _imports razor
3/ wrap your page or component in a <CascadingBlazoredModal>
4/  <script src="_content/Blazored.Modal/blazored.modal.js"></script>
     <script src="_content/Blazor

[2020-12-13 18:49] ChristianJNPRR opened #269 "[Feature Request] Change generic type constraint of ModalService.Show<T> to IComponent"
Currently, I'm experimenting with a custom implemetation of IComponent which I use as base class instead of ComponentBase. I also use your ModalService in this experiment which requires that every component inherits from ComponentBase.

In theory it should be sufficient if the generic type constraint of Show<T> is just of IComponent instead of ComponentBase. In a quick test implementation it worke

[2020-12-14 16:15] larsk2009 commented on #269
I can't necessarily find a reason why that can't be done, but maybe @chrissainty has some more insights there? I also tested it and it does indeed seem to work fine with `IComponent` instead of `ComponentBase`.

[2020-12-15 09:53] adrienbarde opened #270 "[Bug] exception not catched into the modal component"
**Describe the bug**

I use a ilogger global exception handler and I call services from my component which is in my modal.
when a service throws an exception I can't catch it from my global handler.

it works fine all the application except for the exceptions of the services called by my component in the modal

Is there a way to catch the exception that thrown inside the modal? Is it a different t

[2020-12-15 10:06] chrissainty commented on #270
I can't think of how the modal is blocking you getting exceptions in your handler. We don't have any try.. catch blocks in our code which could swallow the exception and threads are not an issue as there is only one thread in the browser.

I've not done any work with logging in Blazor so I'm not familiar with the patterns or any pitfalls/shortcomings. This is something I will be looking into but I

[2020-12-15 10:16] chrissainty commented on #269
I agree, there doesn't seem to be any issues with making this change. There is nothing we rely on from `ComponentBase`, the check there to make sure the type to be rendered is a component, `IComponent` gives us that.

[2020-12-15 10:52] larsk2009 commented on #270
Not really. I don't have much experience with this either. I guess the easiest way to see the issue is if we have an actual project which shows this issue. Then we can debug that project and probably find what is going on?

[2020-12-15 12:55] samihuutoniemi opened #271 "Child modal resets parent parameter properties."
Not sure if it is a bug, or if I do something wrong, but...

I have a modal with a child modal. Parent has a few properties passed to it, one of which is ExistingContractDetails, If I open the child modal the parameters of the parent are instantly reset, with ExistingContractDetails being passed null.

I open my parent modal like:

[code]

and the child like:

[code]

Both have IModalService injec

[2020-12-15 14:27] adrienbarde commented on #270
Thank you, here an example of my project => https://github.com/adrienbarde/UnhandledExceptionWithBlazoredModal

where the exception must be caught
Line 72 File => Common\UnhandledExceptionSender.cs

Into this file, there are two exemples
=> \Services\AgencyService.cs
1- method "DeleteAgency" is called directly from the page
2- method "UpdateAgency" is called from the modal component

both throw ex

[2020-12-15 17:48] larsk2009 commented on #270
Hi @adrienbarde

I can reproduce your issue with that project. I don't immediately see the issue, but have you had a look at [this](https://github.com/dotnet/aspnetcore/issues/13452). It seems logging/exception handling/catching in Blazor is not very mature yet, so maybe something is just going wrong there?

[2020-12-16 09:25] adrienbarde commented on #270
ok thank your help, i will migrate to 5.0.0-preview2, it seems to be resolve my issue

[2020-12-19 19:57] larsk2009 commented on #271
Hi @samihuutoniemi.

I don't immediately see any problems with the code you provided. The easiest way for us to reproduce your issue and potentially fix it, is to provide a repository with some code to reproduce this issue.

[2020-12-19 20:22] larsk2009 commented on #249
Sorry that it has been a while. I had a proper look at this, but it seemed difficult to fix properly from my experience. The problem is we are setting some inline styles for things like animations. I didn't find a very good/clean way to still allow animations (with custom durations) without using inline styles. If anyone has any idea about that I would be glad to now, but otherwise I think this is

[2020-12-19 20:43] larsk2009 commented on #270
It seems like this has been solved, so I will close this issue. If it isn't fixed yet, let us know!

[2020-12-19 20:43] #270 closed

[2020-12-23 07:49] #263 closed

[2020-12-23 09:48] #269 closed

[2020-12-23 15:59] neriks commented on #243
I use Blazored.Modal extensively in several projects and just like @jkears I think it would be nice if dialogs can be moved (or minimized) in order to see the underlying contents. In one of my recent projects I urgently needed funtionality to move dialogs so I came up the the following work-around. The work-around is based on the "How TO - Create a Draggable HTML Element" example from from w3schoo

[2020-12-27 13:47] larsk2009 commented on #255
I have had a look at this, but it seems like it is a better idea to either stay at netstandard for a while, or to move to .net5. If we multitarget we need to support both versions and also make sure the nuget dependencies are correct for each version as far I can see. My preference would be to move to .net5.0 with the next major release and drop .netstandard entirely.

[2021-01-04 11:47] chrissainty commented on #249
I've also spent some time looking into this and I agree with @larsk2009 findings. This is just going to cause to many headaches and it seems like a edge case at this point in time. I'm going to close this as a won't fix but we can always revisit it if it becomes a more requested change.

[2021-01-04 11:47] #249 closed

[2021-01-04 11:51] chrissainty commented on #255
As .NET 5 isn't a LTS version perhaps we should stick with NET Standard for now and then move to .NET 6 in November. The only thing I think we'd potentially use from  .NET 5 is scoped CSS and JS modules and it doesn't seem worth the hassle right now to dual target just for those.

I'll close this issue and we can check out .NET 6.

[2021-01-04 11:51] #255 closed

[2021-01-04 12:33] chrissainty commented on #244
Hi @VGib,

I've been trawling the issues trying to find a reason for this. I'm sure there was one but for the life of me I can't find it now. While this is possible not optimal it's not something that will be changed without a decent benefit as developers could be relying on this now.

I'm going to close this as a won't fix but this can be re-opened if needed.

[2021-01-04 12:33] #244 closed

[2021-01-04 12:44] chrissainty commented on #243
Ok, this is a really difficult one. While making the modal draggable would be cool there are a number of issues that it could introduce.

- Nested modals and if it could even work with them
- Z-indexing issues - relates to nested modals again
- How would this fit in with custom modals where the developers is providing there own layout code?
- How would this work on mobile devices?
- More JavaScrip

[2021-01-04 14:11] jkears commented on #243
@chrissainty thank-you for your continued review of this request.  Your first four points above appear to be related to design decisions, of which, some are likely not good candidates for draggable.  As such, draggable should be an opt-in feature, determined by the needs of the design.

Since the original intent was to be able to reveal what lies beneath a modal, perhaps to simplify this ask, how

[2021-01-04 14:59] chrissainty commented on #243
I think in some ways a minimize/maximise options is harder. For example, where do we minify to? How should it look when minimized? If you have multiple modals how does that work?

The opt-in approach is definitely a must but how do you envision developers opting out on mobile? In the world of responsive web apps the only way to do this, in my mind, would be to check the screen size which would req

[2021-01-04 15:23] jkears commented on #243
@chrissainty , you are totally correct, this is not a common behaviour and is more of an extension-to rather than a feature-of.

Perhaps the real ask is what are the framework extensions capabilities that would be necessary to be able to incorporate this type of behaviour and do these exist?

It seems that @neriks was able to make this work for his needs and so I am cool with implementing a soluti

[2021-01-04 15:36] chrissainty commented on #243
@jkears I would suggest starting with the solution @neriks provided and see how you get on. Essentially, all this library is doing is displaying or hiding a few divs everything about it's look is dictated by CSS and you can make very dramatic changes by manipulating it.

I'm going to go ahead and close this issue as a won't fix but I'm more than happy to keep chatting here and providing any assist

[2021-01-04 15:36] #243 closed

[2021-01-05 12:52] larsk2009 commented on #271
I understand. However, I think it will be difficult to investigate the issue otherwise.

[2021-01-06 10:33] qfyra opened #276 "npm install" exited with code 9009 (project doesn't build)"
Extracting project from zip and running it in Visual Studio 2019 yields

1>C:\Users\__________\Desktop\Modal-main\src\Blazored.Modal\Blazored.Modal.csproj(35,5): error MSB3073: The command "npm install" exited with code 9009.
1>Done building project "Blazored.Modal.csproj" -- FAILED.

Offending code:

[code]

[2021-01-06 12:11] chrissainty commented on #276
I going to take a wild guess here and suggest you don't have nodeJS and NPM installed. If you install those you will be able to build the project.

[2021-01-06 13:00] Xinoruma opened #277 "When loading modal with text, it automatically sets scrollbar to the bottom"
I'm making a modal with a license agreement in it, but for some reason whenever I press on the button to open the agreement it just sets the scrollbar to the bottom and not at the top. Here is my code for the button:

**index.razor**
![image](https://user-images.githubusercontent.com/51911931/103771000-40709a00-5027-11eb-9006-15c03fc710d9.png)

**LicenseAgreement.razor**
![image](https://user-imag

[2021-01-06 15:11] qfyra commented on #276
Ah, correct, I don't have NodeJS. I downloaded the project to see the sample modals in action before deciding on whether I will be able o use it in my own application. The NodeJS dependency it's unfortunately out of scope for my applications since I have no way of hosting it. Thanks for the info.

[2021-01-06 15:11] #276 closed

[2021-01-06 17:40] chrissainty commented on #276
What do you mean by the Node JS dependency? It's a dev dependency and nothing to do with the shipped NuGet package.

[2021-01-07 07:38] larsk2009 commented on #277
Hi @Xinoruma

This problem doesn't seem to be happening in the [official sampels](https://blazored.github.io/Modal/scrollablecontent). I also don't see any problems with your code. Could you provide a project to reproduce this issue? That way we can confirm the issue and more easily help you solve it.

I do see you are using `@inject` to get the `IModalService`. We are not doing that anymore, inst

[2021-01-07 07:40] larsk2009 commented on #271
Hi @samihuutoniemi, some other things I am curious about:

- Have you upgraded from a previous version of `Blazored.Modal` to V5 or higher?
- How do you get the IModalService?

[2021-01-07 07:48] larsk2009 opened #278 "[Bug] Readme fixes/improvements"
The readme still states the following:

![image](https://user-images.githubusercontent.com/7924568/103865274-3cdf2080-50c4-11eb-9b5c-eb4f30823785.png)

I think in there, the `IModalService` should not be injected, but it should be a `CascadingParameter`. This is, at least, also the case for the *Multiple Modals* part of the readme.

Also, maybe we should change [Please note: When upgrading from v4

[2021-01-07 07:56] Xinoruma commented on #277
I'll try that out, if it doesn't work, I'll provide a project so you can see it for yourself.

[2021-01-07 08:03] Xinoruma commented on #277
Sadly enough, it doesn't seem to work, here is a link to the repo: https://github.com/Xinoruma/AgreementModal

[2021-01-08 11:19] larsk2009 commented on #277
I am investigating more as to why this happens in your case, but not with the example modal. But, to fix it quickly, add `FocusFirstElement = false` to your `ModalOptions`. So your Task will become the following:

[code]
I'll keep you updated if I find the reason this doesn't happen in the official samples.

[2021-01-08 12:02] Xinoruma commented on #277
Alright, thanks! it works after I added the FocusFirstElement option

[2021-01-09 10:18] chrissainty commented on #278
That all sounds good to me. I hadn't realised the readme was so out of date! I also agree with your proposal regarding IE11, if we can't support it we should make sure we're explicit about it.

[2021-01-10 11:34] larsk2009 commented on #228
Hmm, I checked again and it seems like `"target": "ES5"` actually does fix this issue. I guess in that case, we could change to that? It doesn't seem to break anything, and would allow IE11 to keep working? @chrissainty What is your opinion on this? I guess it shouldn't break any existing behavior, as it only changes what kind of JS is generated, not the actual functionality right?

[2021-01-10 11:35] larsk2009 commented on #278
I will make a PR for this after #228 is resolved.

[2021-01-10 11:40] chrissainty commented on #228
If that fixes it then let's do it. As you said, it only changes whats generated.

[2021-01-12 06:45] #228 closed

[2021-01-12 07:41] #278 closed

[2021-01-14 07:53] zuhry opened #283 "How to send other componen using ModalParameters and show it in custom template"
How to send other components using ModalParameters and show it in a custom template?

[2021-01-14 07:56] #283 closed

[2021-01-16 05:25] georgeemr opened #284 "Bootstrap 4 classes"
Should be great to use the bootstrap 4 default modal classes so they can match the design

[2021-01-17 10:01] larsk2009 commented on #284
Can you explain a little more what you mean by this? Maybe you can give an example of the change you would like?

[2021-01-20 16:36] jeffersantoss opened #285 "[Bug] Z-Index on secondy modal opened from the first"
**Describe the bug**
When I open the second modal from the first one, the inputs fields become not clickable, maybe something related with the z-index. (On the previous versions of Blazored.Modal this was working well.)

**To Reproduce**
Steps to reproduce the behavior:
![ff7d9e69-6b8e-4ba5-81be-14a3ea3bb39c](https://user-images.githubusercontent.com/10839497/105204675-353b6500-5b23-11eb-8bbe-e40f

[2021-01-22 10:10] larsk2009 commented on #285
Could you share your project by any chance? I just added an input field to the Samples 2nd Modal, and there they do work. I agree it may very well have something to do with the Z-index. It is easiest if you can provide a project which reproduces the issue, then we can see what the issue is.

[2021-01-22 16:03] dallaskeener commented on #285
I hope this is along the same lines. I'm using Syncfusion's grid within your (awesome) modal component. I've attached a sample where I try to edit within the grid (dialog mode) and the controls within that editing form can't get focus. I hope this helps - thanks!
[ModalTest.zip](https://github.com/Blazored/Modal/files/5857002/ModalTest.zip)

[2021-01-22 16:34] larsk2009 opened #286 "[Feature] Add a list of all parameters and the meaning/use to the readme"
I always find it very handy if there is just a table with all available settings and their usage or meaning. Maybe this is something we can add to the readme. I also think this will provide a better overview to contributors which functions already exist.

The reason this popped in my head now, is that we have the setting `FocusFirstElement`. While it is true that that setting control whether or no

[2021-01-22 16:36] larsk2009 opened #287 "[Bug] FocusFirstElement"
**Describe the bug**
`FocusFirstElement` also disables the FocusTrap

**To Reproduce**
-

**Expected behavior**
Either we should rename FocusFirstElement, accept the there is some (desirable) side effect to the setting, or add a separate setting to enable or disable the FocusTrap.

[2021-01-22 16:36] larsk2009 commented on #285
It sounds very similar to #217, but I thought that had been fixed.

@dallaskeener The issue with your example is probably this: The syncfusion thingy creates its own modal, but it's HTML is not within the Modal. This causes it to be affected by our FocusTrap. The solution, for now at least, is to either globally set `FocusFirstElement` to `false`, or do it on every call to a modal which uses a syn

[2021-01-22 16:56] dallaskeener commented on #285
Worked like a charm, thanks! And incredibly fast reply time, which is greatly appreciated!

Dumb follow-up question - how would I set FocusFirstElement = False, globally?

[2021-01-22 18:38] larsk2009 commented on #285
In the sample you send:

App.razor
[code]

[2021-01-22 18:41] dallaskeener commented on #285
Thanks so much!

[2021-01-25 02:45] georgeemr commented on #284
Sure, it's because my design conflicts with the overlay of the component because the original overlay element is inserted outside the modal code and in this case is inserted inside the modal code container and this is causing the overlay not to overlay my menu.

For example:
![image](https://user-images.githubusercontent.com/3822009/105654956-b9c01780-5e84-11eb-95d7-adae62abee7a.png)

If I put the

[2021-01-25 02:46] georgeemr commented on #284
If you can show me an example to implement the custom layout I think I can fix it.

[2021-01-25 03:11] georgeemr commented on #284
As I understand from the custom bootstrap modal example, I need to replace all my code with that component and I think I will need to send a custom parameter to set what component i'm loading inside that component. Is this correct?

![image](https://user-images.githubusercontent.com/3822009/105656846-bf1f6100-5e88-11eb-82a0-dc91c4525919.png)

[2021-01-25 07:46] chrissainty commented on #284
Don't we have an example of this in the samples? Isn't the [Custom Layout](https://blazored.github.io/Modal/customlayout) using Bootstrap 4 classes?

[2021-01-25 07:51] chrissainty commented on #284
@georgeemr That sounds about right. I would try and encapsulate all of the Bootstrap markup in a component and then you can just declare that one each component to be displayed instead of having a huge if else statement as you add more and more components to be displayed.

[2021-01-25 16:40] georgeemr commented on #284
Thanks a lot @chrissainty . I appreciate your effort.
At the momento I finally end with this implementation:

![image](https://user-images.githubusercontent.com/3822009/105735201-0a715800-5ef9-11eb-9b07-ea5b105effd5.png)
![image](https://user-images.githubusercontent.com/3822009/105735279-21b04580-5ef9-11eb-9f2e-6b3bb2b65085.png)

If this implementation can end with something like:
var modalOption

[2021-01-26 01:35] jeffersantoss commented on #285
Worked like a charm here too as @dallaskeener said 😁! Thank you very much for the solution for this @larsk2009.
Is this option true by default for some reason?

[2021-01-26 03:52] georgeemr opened #288 "Detect multiple modals on deactivateFocusTrap"
**Describe the bug**
When I open more than one modal, when I close the second modal the function deactivateFocusTrap is executed.

**To Reproduce**
Steps to reproduce the behavior:
Open two modals, close the last one.
I'm using custom layout bootstrap.

**Expected behavior**
Detect that are more than one modal and avoid removing the position, top, and width in the body.
Something like:
if($(".moda

[2021-01-26 05:30] georgeemr commented on #288
Solved with this:
![image](https://user-images.githubusercontent.com/3822009/105804366-3cb89f00-5f65-11eb-916d-426e48e6942f.png)

[2021-01-26 06:05] georgeemr commented on #288
Can this be solve like that?:

`import focusTrap, { Options, FocusTrap } from 'focus-trap';

interface FocusTrapInstance {
    id: string;
    focusTrap: FocusTrap;
}

interface ModalInstance {
    id: string;
}

export class BlazoredModal {

    readonly _options: Options = { escapeDeactivates: false, allowOutsideClick: () => true };
    private _traps: Array<FocusTrapInstance> = [];
    private

[2021-01-26 08:18] larsk2009 commented on #285
Yes it is! Normally this works so the 1th element is focused in the Modal. If you are just using the modal 'vanilla', without any other components in it that are doing things like opening their own modals, this works very well. It is very good for accessibility I believe. But in your case, it is obviously not preffered, which is why the option is there.

As it seems everything is solved here, I wi

[2021-01-26 08:18] #285 closed

[2021-02-03 19:06] larsk2009 commented on #286
@chrissainty Maybe this issue can be used to also track the release notes in the readme?

[2021-02-03 19:07] larsk2009 commented on #287
@chrissainty Any thoughts?

[2021-02-04 05:54] chrissainty commented on #287
This is the code in question:

[code]

Was `FocusFirstElement` the setting to enable the focus trap and its possible just badly named? I'm struggling to remember how this came into being now. But perhaps we did it this way to make it optional for people? I honestly can't remember now.

[2021-02-04 05:55] chrissainty commented on #286
I think this sounds like a great idea. Documentation is definitely something we could improve on and this would be a great place to start.

[2021-02-04 06:05] chrissainty commented on #288
@georgeemr That looks like it could do the job. Would you be willing to raise that as a PR and I will take a look?

[2021-02-04 08:35] larsk2009 commented on #287
Yeah I am not sure anymore how it came to be either. I looked trough the file history but it was still difficult to pinpoint the reason it was named this way. I don't think it is possible to both activate the focustrap and not focus the first element right? It seems like FocusTrap will always focus the first element when it is activated.

Personally I think we should rename it to something like `A

[2021-02-11 15:22] mehmetilker opened #290 "Exception when using Blazor with identity example"
**Describe the bug**

I have followed basic example from https://github.com/Blazored/Modal and implemented required parts of example.
When I run the project I am getting following exception:
[code]

I have realized CascadingBlazoredModal part in App.razor is different from example project here:
https://github.com/Blazored/Modal/blob/main/samples/BlazorServer/App.razor

When I replace it I can run

[2021-02-11 15:43] larsk2009 commented on #290
I am not sure from your post, but have you tried this as the whole app.razor?

[code]

Having 2 separate routers like that is not going to work I think. Let me know if the above works for you!

[2021-02-11 16:02] mehmetilker commented on #290
Thanks @larsk2009 it worked.

I tought CascadingAuthenticationState in app.razor coming from default template is related with identity and it should be there. And CascadingBlazoredModal is another thing and should be added not replaced with CascadingAuthenticationState.

[2021-02-11 16:35] #290 closed

[2021-02-13 08:23] chrissainty commented on #287
I agree, this seems like the best way forward. It will take away the confusion. We might need to add some more info to the read me or the sample app, to explain to developers what the focus trap is as I don't think many people have come across them.

[2021-02-16 08:49] robertsundstrom opened #291 "[Bug] [Typeahead] Cannot focus other inputs in modal with Typeahead component"
I have a program with nested modals, each containing Blazored.Typeahead controls.

When I open the second modal (the child modal), I'm only able to select and open the Typeahead control. I'm not able to select and type into other input elements. It does not respond to clicks - although I have experienced it to allow me at random times.

One thing to notice is that, when clicking a text input in th

[2021-02-16 10:40] larsk2009 commented on #291
Could you provide a code example of this issue, which we can run on our own machines to test this? That is the easiest way to find out what is happening and prevent it in the future, I think.

[2021-02-17 21:49] robertsundstrom commented on #291
I spent some time. I honestly could not reproduce it in a clean project. It works as expected.

 Something must be wrong with the project where it fails.

[2021-02-17 21:49] #291 closed

[2021-02-18 08:02] larsk2009 commented on #291
Hopefully you can also fix it in your project 😄. If you can reproduce the problem or still think it might be a problem with Blaazored.Modal, don't hesitate to re-open this issue!

[2021-02-18 17:46] robertsundstrom commented on #291
I think I know what the problem is.

Recap: Modals did not work with Typeahead.

In my Modal component, I have a ```Model``` property. It is initialized in ```OnInitializedAsync``` after doing some asynchronous operation to fetch data. Yes. I guard the content to render it when the ```Model``` property has been set too. I have noticed the modal flashing.

[code]

Initializing ```Model``` first, be

[2021-02-19 22:17] lwcwew commented on #209
I was getting the error given here using the GitHub Blazored Modal setup. Originally I added the CascadingBlazoredModal in addition to the existing Router code in App.razor. That resulted in the error. When I deleted the existing Router code in App.razor and just inserted your CascadingBlazoredModel code then the program worked ok. Hope this helps.

[2021-02-20 18:14] chrissainty commented on #209
@lwcwew Could you show the code you deleted and what you replaced it with as the instructions in the readme are correct and do work. I'm curious as to what issue you had.

[2021-02-21 20:22] lwcwew commented on #209
Thank you for your response. The Blazored.Modal software works well now. My
problem was that I included code from another person's older Blazored.Modal
example which had the <BlazoredModal> tag in MainLayout. Interestingly when
I removed the Blazor Server Template generated code from App.razor then the
application worked ok even with the  <BlazoredModal> tag in MainLayout.
Below is the code in App

[2021-02-22 06:36] chrissainty commented on #209
Did you duplicated the whole router? If so, that's where the problem was. The setup code in the readme doesn't require you to duplicate the router, it just there is illustrate that the `<CascadingBlazoredModal>` component must wrap the whole `<Router>` component.

Just to be clear you only need to add the `<CascadingBlazoredModal>` component around the existing code. We'll make some changes in the

[2021-03-02 09:27] smarteez opened #294 "Resizing the popup window"
How can I resize the popup window . I want to change the width

[2021-03-02 11:17] chrissainty commented on #294
The modal is automatically sized to whatever component it is displaying. There is no way to change this once the modal is showing.

[2021-03-02 11:17] #294 closed

[2021-03-02 14:10] parente89 opened #295 "Double opening error modal"
Hi, when I set the Modal, it opens normally, it must be called 2 times.

So when I close the screen, I find myself 2 modals to close.

Why does this happen?

[2021-03-02 17:31] chrissainty commented on #295
Have you upgraded from an older version? If so, have you removed the `<BlazoredModal>` component from the MainLayout as described in the readme?

[2021-03-06 00:36] parente89 commented on #295
Thanks so much! I solved it thanks to this solution.

[2021-03-06 00:36] #295 closed

[2021-03-11 10:15] #288 closed

[2021-03-12 16:19] peterthorpe81 opened #299 "Scrollbars on main window rather than the content [Feature Request]"
The scrollable content option was a nice addition for large dialogs but it puts scrollbars within the modal. I would think a nicer default (or option) would be for the scrollbars to appear to be at page level when the content expands too far.

The CSS would be something like below although this only works for using the mouse wheel or touch controls as the physical scrollbars are under the overlay.

[2021-03-20 15:28] chrissainty commented on #299
Hi @peterthorpe81. Thanks for raising this but I don't think this is a change we will make. We're trying to be inclusive of everyone and this option would essentially exclude keyboard only users from being about to access a site which used this modal. As you've found, developers can adjust the CSS in their apps to override our defaults if they choose.

[2021-03-20 15:28] #299 closed

[2021-03-28 15:24] matinfathi19 opened #301 "ScrollBar And Buttons Dosnt Work"
hi man .thanks for this nice modal package
i do below :
        ModalOptions _Options = new ModalOptions();
        _Options.HideHeader = true;
        _Options.Position = ModalPosition.BottomLeft;
        _Options.ContentScrollable = true;
And Modal Work Corrrectly .
When I Zooming in Explorer  , ScrollBar Apears But it is in a Disable Mode and i Cant Change its Position.
What is my Mistake?

[2021-03-28 20:32] larsk2009 commented on #301
Hi @matinfathi19.

Could you provide an example picture of your problem, and maybe a more complete example of the code you are using to show the modal?

[2021-04-01 23:36] matinfathi19 commented on #301
@larsk2009
no i couldnt bro.
but  almost found that it is because of Options in Modal.
when i set Options.Class = "Class_A" all the object in modal onShow are Locks and disable(Even <Buttons/> Dosnt Work OnClick).
I Comment All Lines In Class_A but it dosnt solve probleem.
just removing Options.Class would solve this probleem.
what shall i to do larsk2009 ??

[2021-04-02 10:08] matinfathi19 commented on #301
solved!!!!!
this Property in css class should be inserted then all object will work correctly
z-index: 102;

[2021-04-02 10:09] #301 closed

[2021-04-09 18:35] larsk2009 commented on #138
Hi @chrissainty, I made an initial setup of [the contributing guide](https://github.com/Blazored/Modal/blob/contributor-guide/.github/contributing.md). Let me know what you think! It was just something I put together quickly but it might be a good starting point.

Also, do you think we should add a code of conduct? If so, we can just use one of the standard ones provided by github I think.

Let me

[2021-04-10 09:43] chrissainty commented on #138
@larsk2009 that's a great start! I've made a few changes, if you could take a look and see what you think.

I remove the point about updating the docs stuff. That isn't being deployed anymore and I think we probably should remove it to avoid confusion. I think we should focus on making the WebAssembly sample a living doc.

Great idea about the code of conduct. We should definitely add one!

[2021-04-10 10:12] larsk2009 commented on #138
Yeah I agree removing the separate docs. The rest of the changing seem great to me!

[2021-04-11 15:30] hhyyrylainen commented on #284
I'm working on a blazor WASM app that I setup from the official sample project, which comes with bootstrap 4, so it'd be nice if there was an easy way for this modal system to use the bootstrap modal styling. https://getbootstrap.com/docs/4.4/components/modal/

[2021-04-17 07:12] chrissainty commented on #138
What needs to happen with this now? Do we just need to link to it from our issue templates and the readme?

[2021-04-17 07:15] chrissainty commented on #284
We have an [example](https://blazored.github.io/Modal/customlayout) of how to do this in the sample projects.

[2021-04-17 07:44] hhyyrylainen commented on #284
I saw that example, but when I do the exact code shown by that page, the layout just breaks entirely. So how do I setup it to use the bootstrap style correctly? It seems that the modal content just gets dumped without a container to the start of the app div.

[2021-04-17 08:14] hhyyrylainen commented on #284
Okay so I got this working, but I had to inspect the example closely, because the instructions are very incomplete. So in addition to specifying the `UseCustomLayout` property, you need to make all of your modals based on this code: https://github.com/Blazored/Modal/blob/main/samples/BlazorWebAssembly/Shared/CustomBootstrapModal.razor which I wrapped into a new component so I don't have to copy pa

[2021-04-17 09:35] chrissainty commented on #284
What am I looking for in the images you've posted @hhyyrylainen? Sorry I can't spot what you're referring to.

[2021-04-17 09:38] hhyyrylainen commented on #284
Compare the bottoms of the images. When the modal is open, the left sidebar box is pushed up leaving some white space visible underneath it. And also the top is cutoff, even though the sidebar uses the css sticky style.

[2021-04-17 12:37] chrissainty commented on #284
Ah, ok I see. @larsk2009 you got any ideas on this one?

[2021-04-19 17:36] larsk2009 commented on #284
I don't seem to be able to reproduce this, but that is probably just me. @hhyyrylainen can you provide a repo which reproduces this issue? That is the easiest way for us to see the issue and fix it.

[2021-04-19 17:38] hhyyrylainen commented on #284
@larsk2009 yes, I'm working on this branch in this repo: https://github.com/Revolutionary-Games/ThriveDevCenter/tree/blazor

[2021-04-19 17:39] larsk2009 commented on #138
Uhm yeah I think the important thing is the contributing file should be in either the root dir, `.github`  or `docs` for github to automagically use it. Maybe we can merge it first, and see if it shows up when making an issue or PR or if we need to link to it in the PR/issue template.

[2021-04-19 17:43] larsk2009 commented on #284
Thanks. Which project should I run to see the issue you are having?

[2021-04-19 17:46] hhyyrylainen commented on #284
Yeah, that's a bit complicated. There's no way to currently run it in a minimal sense (see my update to my comment above). But basically running the Server project (once everything is configured) with `dotnet watch` is what runs the app. And even then you'd need to follow the instructions to create an account in the app and create some stuff before being able to see the problem.

[2021-04-19 17:47] larsk2009 commented on #284
Yeah I think it might be better if you create a new issue and make a reproduction that is easy to run, then I would be happy to help you!

[2021-04-19 17:51] larsk2009 commented on #284
As I think the original issue by @georgeemr has been solved, I will close this issue. If it hasn't, please re-open it!.

[2021-04-19 17:51] #284 closed

[2021-04-19 17:56] hhyyrylainen opened #306 "[Bug] Left sidebar leaves gab when modal is open"
**Describe the bug**
When a modal is open the left sidebar and the top bar (both that are sticky) don't position themselves correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. I created a reproduction case based on the WASM sample, repo here: https://github.com/hhyyrylainen/Modal (here's what I changed: https://github.com/hhyyrylainen/Modal/commit/50055e22b5d7fc49232ba98bca3ce0f5ac0e0

[2021-04-19 17:57] hhyyrylainen commented on #284
@larsk2009 opened a new issue: https://github.com/Blazored/Modal/issues/306
BTW this issue was about using the bootstrap classes, which didn't get solved by my latest comments.

[2021-04-19 18:09] larsk2009 commented on #284
@chrissainty something in my head about talking about the thing mentioned by @hhyyrylainen before, but I can't find the issue. What is your opinion about it?

[2021-04-19 18:17] larsk2009 commented on #306
Ah the update you mentioned in the issue seems to be why I couldn't reproduce it, I was using chrome. I can see why it happens.

It happens because of [this line](https://github.com/Blazored/Modal/blob/main/src/Blazored.Modal/Interop/Blazored.Modal.ts#L23). Not sure why it only happens in Firefox and if it is a bug in Firefox or by design.

[2021-04-21 01:58] grumpykiwi opened #307 "Modal does not show - button click event to display fires 1 time"
**Describe the bug**

I have a list of users populated from MS Graph and displayed with a for loop

I have a click event on a div element containing a users name. Unique ID is passed to click event handler.  Event handler fires on the first click (breakpoint hit) but modal does not display. Since the user list contains nearly 100 users, there is a vertical scroll bar
visible on initial display.

A

[2021-04-24 08:39] chrissainty commented on #138
Sounds like a plan to me

[2021-04-24 08:45] chrissainty commented on #284
@hhyyrylainen We won't be able to use Bootstrap classes with the modal as that would also require the same structured HTML and we can't guarantee that. The best we can do is provide our own implementation of the Bootstrap styles. This is what larger component vendors such as Telerik do. However, right now I don't have the capacity for this, so if this is something you'd like, we'd be happy to acce

[2021-04-24 17:16] hhyyrylainen commented on #284
@chrissainty I got things working on my app by doing the following:
- `UseCustomLayout = true`
- Created a new helper component that does the bootstrap style: https://github.com/Revolutionary-Games/ThriveDevCenter/blob/5c8c148832a5f7399ca7c346fb440a3675a4f54e/Client/Shared/BootstrapModal.razor#L1
- And then do my modal components by using that helper component as the wrapper: https://github.com/Re

[2021-04-27 05:29] larsk2009 commented on #307
hi @grumpykiwi,

Are you coming from an older version of Blazored.Modal to the newest version of is this a fresh 'install'.

[2021-04-27 13:59] grumpykiwi commented on #307
It came from an old version that I ripped out completely then followed the instructions to install clean with the latest repo. Or so I thought. Its entirely possible I missed something along the way but I have been over the code multiple times comparing to the example but dont see the problem.

[2021-04-29 13:24] larsk2009 commented on #307
Yeah in my head there is something about this happening to other people who updated as well, but I am not sure. Best way to solve this is when you can reproduce it on a project we can run.

[2021-04-30 16:11] grumpykiwi commented on #307
Thanks Lars

If you can provide me an email address, I can pull out the client id etc and send you a zip. You will need an Azure account since the goal of the app is to run as a tab inside Teams

Mark Nash
Senior Software Engineer        [cid:PC_42x23_fbb4e57e-65d2-4c41-b09e-ffa9f4a3c468.png]

PartnerComm, Inc.
Winner of 63 IABC Gold Quills
2304 W Interstate 20, Suite 250
Arlington, TX 76017

[2021-05-03 19:34] mousavi-sh opened #309 "modal resize on phone"
Modal Window size don't change on small media
I fix it with add  style="max-width: 90%;"   to   line :
  <div id="_@Id.ToString("N")" class="@Class" role="dialog" aria-modal="true" style="max-width: 90%;" >
in file :  BlazoredModalInstance.razor

[2021-05-03 19:51] chrissainty commented on #309
Adding the following line to the `.blazored-modal` CSS class will improve the look of the modal on a mobile device.

[code]

We can look at some built-in responsive styles in the a future release.

[2021-05-04 05:13] mousavi-sh commented on #309
I add this code but don't see any change.

[2021-05-04 05:53] chrissainty commented on #309
You will also need to make the component you're displaying in the modal responsive as well. Also, make sure you've cleared the browser cache in case the styles have been cached. That can be an issue sometimes.

[2021-05-12 11:31] kamranghamsari commented on #54
I have this problem
what should I do?

[2021-05-14 18:58] larsk2009 commented on #54
This issue is a bit old, and it seems the particular issue had been fixed in V3.0.0. I think it is better if you open a new issue if you are having a similar issue.

[2021-05-16 08:44] kamranghamsari opened #314 "Responsive Modal[Bug]"
Hi,
I cant make the modal responsive and I need help. Is there any feature for being responsive?

[2021-05-18 09:09] larsk2009 commented on #314
Hi @kamranghamsari,

Maybe have a look at #309 and see if that helps you? Generally the modal just takes the size of the component it hosts, so the component would be responsible for making the modal responsive.

[2021-05-18 15:47] neymecc opened #315 "[Bug] When a modal is open the UI behind the overlay gets stuck"
This video shows it:
https://user-images.githubusercontent.com/31436644/118673740-8a4d6600-b7f9-11eb-9f52-a4a108ebec2f.mp4

The problem are these lines:
https://github.com/Blazored/Modal/blob/main/src/Blazored.Modal/Interop/Blazored.Modal.ts#L19-L23
https://user-images.githubusercontent.com/31436644/118675538-f41a3f80-b7fa-11eb-8d1f-241e65d0d088.png

Changed to this:
https://github.com/neymecc/Mod

[2021-05-21 14:57] kamranghamsari commented on #314
I have seen the issue but I'm really new to the front-end developing. can you give me a hint

[2021-05-22 13:45] larsk2009 commented on #314
It really depends on exactly what you are trying to make, but maybe look up some tutorials for responsive web design? That might help you out.

[2021-05-22 13:51] larsk2009 commented on #315
Hi @neymecc,

I agree that those lines are causing the behavior you see. I am not entirely sure why those lines exist, so I am not sure if we will break anything removing those.

@chrissainty You remember why the width is being set, and if it is a good idea to remove it?

[2021-05-23 05:58] kamranghamsari commented on #314
Many thanks

[2021-05-23 05:58] #314 closed

[2021-06-10 08:52] Kieron921 opened #319 "App.razor <CascadingBlazoredModel> causing issues with form binding"
Hi,

I have recently implemented the Blazored Modal and it works great. However I get an issue when trying to bind values within an <EditForm> tag, specifically "@bind-value="modal.value". This form is on a completely different page to the modal.

When trying to build the project, I get the following error:

MSB4018: The "CreateAppHost" task failed unexpectedly.

I didn't originally think this was

[2021-06-13 11:20] larsk2009 commented on #319
Hi @Kieron921,

I am not aware of anything on our side causing this issue. If you want us to have a proper look, it is best to provide a complete project which we can open in Visual Studio so we reproduce the issue. If you can provide such a project for us that would be great. Preferably create a new project with just the changes to reproduce the issue.

[2021-06-22 17:34] jdosser opened #320 "Can't get Blazored Modal to run from examples."
I've tried building the sample application from this site: https://www.thecodehubs.com/modal-popup-in-blazor/
And when I had trouble, I checked out the resolutions here and downloaded the supplied. .zip example as well.
In both cases, I receive the following error:

An unhandled exception occurred while processing the request.
InvalidOperationException: Blazored.Modal.BlazoredModal requires a casc

[2021-06-22 17:54] larsk2009 commented on #320
Hi @jdosser,

`Again, all steps have been followed and verified, but am still getting this issue.` Do you mean all the steps as mentioned in the website you linked, or all the steps as mentioned in the readme? The article on the website you linked is over a year old and in that time a lot has changed in this project.

[2021-06-22 18:43] jdosser commented on #320
The steps on the link were the ones I followed, and 'yes', my down downloaded version (6) was quite
a bit newer than the one in the example.
I'll try the example here: https://github.com/Blazored/Modal/tree/main/samples
and try the server version.

And thanks for the quick response,
Jeff

________________________________
From: Lars Koopmans ***@***.***>
Sent: Tuesday, June 22, 2021 12:54 PM
To: Bl

[2021-06-22 18:57] jdosser commented on #320
Lars,
Since I've got you on the line and am following the directions, I'd like to point out this highlighted line:
4. Add reference to style sheet & javascript reference

Add the following line to the head tag of your _Host.cshtml (Blazor Server) or index.html (Blazor WebAssembly).

<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

Then add a reference to the Blazored Mo

[2021-06-22 19:53] larsk2009 commented on #320
Yes try the sample, if that is still giving issues let me know!

With respective page either `_Host.cshtml` or `index.html` is meant, as mentioned in the line above that line.

[2021-06-22 20:38] jdosser commented on #320
I did run into this particular problem after downloading the GitHub version and trying to add 'Blazored.Modal' to the project through NuGet manager.
When I click on the 'Install' button after selecting 'Blazored.Modal' (in NugGet Mgr), I get the following errors so that Blazored.Modal never gets included.
Error messages:  'npm install exited with code 9009'. Additional errors all read some variant

[2021-06-23 17:00] larsk2009 commented on #320
Could you provide the project that is causing this? Then I can check if that also happens on my system and how to solve it.

[2021-06-24 20:02] jdosser commented on #320
Hey Lars,
I tried looking through my history, and couldn't ID which github file location it was.
I only remember the download page showed both Server and Webassembly examples
inside the same project package.
On the plus side, I downloaded another example and everything ran great.
Nice product you folks have made. It's been a huge help and looks great.

Jeff

________________________________
From:

[2021-06-24 21:02] larsk2009 commented on #320
Nice to hear that it works now. If you do run into another issue, please don't hesitate to open another issue!

[2021-06-24 21:02] #320 closed

[2021-06-25 10:16] ThomasPrioul opened #323 "Uncaught exception when JavaScript code executes"
Environment : Blazored.Modal 6.0.1, .NET core 3.1, server-side Blazor.

The problem :
I'm creating a modal from a timer in a server-side Blazor app (not WASM) to mimic a "Netflix" kind of activity popup.
It works most of the time, but sometimes it will crash my app. I first I thought this was a problem with the timer trying to create a modal when the client isn't there anymore (and no JavaScript/D

[2021-06-25 11:06] larsk2009 commented on #323
hi @ThomasPrioul,

I'd be interested to know the piece of javascript is causing this exception. If you happen to find that out, let us know.
We could put `try ... catch` around these calls in c#, but then we are catching all JS exceptions, which I am not sure we want to do. I am not saying we don't want to do that, just that I am not sure about it 😉. Maybe @chrissainty can pitch in here as well?

[2021-06-25 11:53] ThomasPrioul commented on #323
Hi @larsk2009.

I hope catching the exception on the C# side could shed some light on why the JavaScript code fails.
My problem is that it's a hard to reproduce bug. But I'll look into it myself and hope to make a PR.

A quick google search for "blazor taskcanceledexception" gives many results in different projects. It seems the problem is related to the JSRuntime implementation having trouble at

[2021-06-26 08:32] chrissainty commented on #323
Hey @ThomasPrioul ,

I'd be curious to know if this is caused by users navigating to a different page from where the timer is triggered. Is the timer being disposed of correctly when it goes out of scope? It's a common issue that timers aren't cleaned by implementing `IDisposable` and they just continue to run causing these types of issues.

[2021-06-28 08:33] ThomasPrioul commented on #323
It was the first thing that came to my mind. The service that hosts the Timer is Scoped so its lifetime is tied to the WebSocket connection of Blazor, and the framework does call Dispose and DisposeAsync. I use DisposeAsync.

I just found out I was missing a try/finally clause so maybe something else in my StopAsync method was throwing on rare occasions.
Here is my snippet :
[code]

The call to St

[2021-07-03 09:05] #287 closed

[2021-07-16 17:48] leotsarev opened #325 "Add ModalResult.Ok w/o parameter"
**Is your feature request related to a problem? Please describe.**
Not all dialogs should return anything when successful

**Describe the solution you'd like**
I like to have ModalResult.Ok() w/o result type

[2021-07-16 18:23] leotsarev opened #326 "Combine with Blazor island"
**Is your feature request related to a problem? Please describe.**
There is possible to add island of Blazor functionality into "old" server-side razor application.
For example, you could have full page of server side controls and add somewhere
```<component type="typeof(MyDynamicControl)" render-mode="WebAssembly" />```

I need guidance how to use Blazored.Modal from  MyDynamicControl

[2021-07-17 16:11] larsk2009 commented on #326
Hi @leotsarev,

I am afraid I don't entirely understand what you are trying to achieve. Could you maybe clarify or give us some documentation site for reference?

[2021-07-17 16:15] larsk2009 commented on #325
Hi @leotsarev,

Thanks for using the our component!
Could you elaborate on the use case of this, or the advantage this offers over the current solution?

[2021-07-28 10:01] Fragger5000 opened #328 "[Feature Request] Refresh button"
Good morning, first of all thanks for your work and your dedication.

I'm looking for a suitable way to refresh the contents of a modal window.

I'm thinking to a method that "remembers" also the options and parameters which were used to open the modal the first time.

In this moment I'm canceling the modal than I reopen it. [edit]The following code is present in the component displayed in the mod

[2021-07-28 12:42] chrissainty commented on #328
Why don't you make a request from the component being displayed in the modal to get the new data? That would seem the simplest thing to do.

[2021-07-28 15:50] Fragger5000 commented on #328
Infact I make the request from the component displayed in the modal.

I'll try to be clearer.

It's a master/detail scenario, the first time I open the modal I pass the options and the parameters from the master component to the detail, but when I need to refresh the detail component I close and the reopen the modal passing the same options and parameters from itself.

[2021-07-29 13:24] leotsarev commented on #326
There is possible to use Blazor control inside "regular" Razor pages/MVC application.
https://docs.microsoft.com/en-us/aspnet/core/blazor/components/prerendering-and-integration?view=aspnetcore-5.0&pivots=webassembly#render-components-in-a-page-or-view-with-the-component-tag-helper

What I' m trying to achieve:

Regular MVC Razor page with regular layout that host some Blazor control with button.

[2021-07-29 18:48] chrissainty commented on #326
Blazored Modal needs a cascading parameter in order to function. This would need to wrap whatever component you wanted to use in the island. For example:

[code]

You can then use the component tag help to display the `BlazorIsland` component:

[code]

What I'm not sure about is how well everything will render. The modal is designed to be high on the component tree, preferably in App.razor. You mi

[2021-07-29 19:04] chrissainty commented on #328
I'm sorry I don't understand. Could you create a simple project showing what you're currently doing?

On a general note. Unless you're destroying the component being displayed in the modal, the values you pass to it will persist. But I'm guessing as you've mentioned reopening the model, that you're possible closing it and then reopening it. As I said at the start, I'm not quite sure what you're do

[2021-07-30 07:03] Fragger5000 commented on #328
![image](https://user-images.githubusercontent.com/22413422/127614101-eb94819d-f944-41c8-97e0-6cbfacb069d6.png)

[2021-07-30 07:49] chrissainty commented on #328
So are you passing the data which the component displays from the master page? If so, then the only improvement I can see would be to implement a simple state class which exposes the data used by the master page. This can then be injected into the component displayed in the modal and refreshed from there.

[2021-07-30 08:09] Fragger5000 commented on #328
I pass only the record Id and something else to the component displayed in the modal.

In that component I have a method that retrieves tha data from the database.

In effect, using a class which exposes the data is abetter practice than pass sparse parameters of various kind.

Thanks

[2021-07-30 08:12] chrissainty commented on #328
Why can't you just trigger a new database call when the refresh button is pressed on the component displayed in the modal?

[2021-07-30 08:17] Fragger5000 commented on #328
:-) right! I'm converting an old web app to blazor, I didn't considered this optimization

[2021-07-30 09:47] leotsarev commented on #326
Yeah, thx, I figured this out.

It will look extremely bad :-(

Could it be solved on Blazored level?

[2021-07-30 13:34] chrissainty commented on #326
Are you saying you've got it working but it doesn't look right?

Maybe, but I doubt it. This library is designed for pure Blazor apps. The usage of it in Razor Page apps is really really tiny. I couldn't warrant the time to look into it, I'd also be concerned about doing anything which could potentially break a standard Blazor app.

[2021-07-30 18:15] chrissainty commented on #328
No worries. It's easy to get into a certain way to approach a problem. Happened to me more time than I'd care to remember 🙂.

As there is nothing to do here I'm going to close this issue.

[2021-07-30 18:15] #328 closed

[2021-08-06 09:06] GFOX91 opened #329 "Edit Form - Pressing Enter key on input field closes modal rather than submitting form"
Hi,

I've set up a modal for the purposes of editing the details of an entity in this example an Organisation. When submitting the form via button click it works as it should, however, I've noticed when I attempted to change the name field then press the enter the key whilst in this text input the modal is closed. I feel a better user experience would be for the form to do all the relevant validat

[2021-08-06 21:34] chrissainty commented on #329
Could you put together a minimal repro of the issue? I can't think of anything in the modal code which should trigger this behaviour.

[2021-08-07 10:05] GFOX91 commented on #329
Of Course.

I have created a small example here.

[https://github.com/GFOX91/ModalExample](url)

Simple set up that changes a string based on what the form does, if you test pressing the enter key in the same field rather than the submit button the form is closed rather than being submitted.

[2021-08-07 18:16] chrissainty commented on #329
Awesome. Thanks for this @GFOX91. I'll have a look into this and let you know what I find.

[2021-08-10 04:21] danglade opened #330 "Modal AutoScrolling when using Bootstrap 5"
Whenever Bootstrap 5 css is referenced into the project after modal is canceled, it auto-scrolls up and then down.
Does anybody experienced this behavior before?

[2021-08-10 04:27] danglade commented on #330
Created a test-repo in order to reproduce the issue

https://github.com/danglade/BlazoredModal-Bootstrap5-issue

[2021-08-10 08:27] GFOX91 commented on #329
That's awesome @chrissainty thanks a lot.

[2021-08-11 13:48] Fulborg commented on #325
I have a case, where it would be useful.
There is a page, which displays data from an external system (accessible via REST api).
Dialog, opened from that page doesn't change anything in the website itself, but modifies some data in external service (with REST api). If the dialog is processed successfully (and the data is changed) - calling page data should be refreshed (as the external dependency

[2021-08-12 23:34] danglade commented on #330
If I remove this line from the actual bootstrap.css on Version v5.0.2 it solves the issue.
But it will be nice to keep the scroll effect bootstrap 5 offers.

[2021-08-13 05:36] larsk2009 commented on #330
hi @danglade,

I can have a look at this hopefully this weekend. If someone hasn't looked into this on monday, please send a reminder 😉.

[2021-08-13 05:39] larsk2009 commented on #325
Hi @Fulborg,

Thanks for the info. If I read your situation correctly, you *do* actually need to return something right? A `bool` or something to confirm if the data should be updated or not?

[2021-08-13 05:44] c-l-i-n-t commented on #225
This issue also occurs when `<MudDialogProvider />` is defined in multiple files. e.g. in Layout and app.razor.

[2021-08-13 07:02] chrissainty commented on #225
I'm not sure what `MudDialogProvider` has to do with this as its a different library?

[2021-08-13 07:12] chrissainty commented on #315
Apologies for now responding to this sooner. I don't remember why those lines are there. @larsk2009 it's probably worth us doing a test to make sure there are no other effects to dropping those lines, then we could get this change made,

[2021-08-13 07:13] chrissainty commented on #306
This is linked to #315

[2021-08-13 07:14] chrissainty commented on #271
I'm closing this as there hasn't been any comms for a long time.

[2021-08-13 07:14] #271 closed

[2021-08-13 07:16] chrissainty commented on #277
Closing as this looks resolved.

[2021-08-13 07:16] #277 closed

[2021-08-13 07:20] chrissainty commented on #307
Closing due inactivity

[2021-08-13 07:20] #307 closed

[2021-08-13 07:21] chrissainty commented on #319
Closing due to inactivity

[2021-08-13 07:21] #319 closed

[2021-08-16 13:41] danglade commented on #330
Hey @larsk2009

Hope you had a great weekend, did you have a chance to take a look at this?

[2021-08-18 03:44] HopInTheCloud opened #331 "Opening Modal from a Modal"
I just have a question.
Can I open a Modal from a Modal?
I keep getting "Unhandled Exception" errors

[2021-08-18 04:55] chrissainty commented on #331
Yes. There is an example in the sample projects.

[2021-08-19 15:51] HopInTheCloud commented on #331
Thank you

[2021-08-19 15:51] #331 closed

[2021-08-28 04:29] LongDuongBIT commented on #330
Hi @danglade and @larsk2009 ,
I'm experiencing the same problem with Bootstrap 5.
Did you guys find out any solution for it?
Thanks!

[2021-08-31 07:03] chrissainty commented on #330
At present, we don't support Bootstrap 5 and we haven't tested the library with it.

[2021-09-04 14:33] MRakesh commented on #78
CascadingAuthenticationState and CascadingBlazoredModal are not working
ex:
<CascadingBlazoredModal>
	<CascadingAuthenticationState>
          <Router..
	</CascadingAuthenticationState>
</CascadingBlazoredModal>
or

	<CascadingAuthenticationState>
         <CascadingBlazoredModal>
           <Router..
             </CascadingBlazoredModal>
	</CascadingAuthenticationState>

[2021-09-04 15:47] larsk2009 commented on #78
Hi @MRakesh,

I don't think this is related to this issue right? Please create a new issue for your problem.

[2021-09-04 15:52] larsk2009 commented on #330
@danglade well that was a long weekend, sorry for now coming back to you earlier! Seems that the issue is like @chrissainty mentioned. Maybe we can look if it is easy to fix this in the modal, but I cannot give a guarantee if and when we will do that.

[2021-09-05 03:07] MRakesh opened #334 "Modal is not working with CascadingAuthenticationState component tag in App.razor file"
Keeping CascadingBlazoredModal component Inside  CascadingAuthenticationState component Is not working in App.razor page. Getting can not process request message on browser
Ex
CascadingAuthenticationState
      CascadingBlazoredModal
        Route....
      CascadingBlazoredModal
CascadingAuthenticationState

[2021-09-06 15:18] larsk2009 commented on #334
Could you maybe create a bug report using the standard bug template? You will see the option to use this when creating an issue in this repo.

[2021-09-10 14:01] inertia666 opened #342 "[Feature Request] Return object on cancel"
**Is your feature request related to a problem? Please describe.**

I would like to return an object through the modal if cancel is pressed, the same way as when the form is submitted.

In some situations, where the edited object is not entirely bound but updated with custom events, I need to return the original object back to the service.

**Describe the solution you'd like**

Something like:

`

[2021-09-12 09:29] chrissainty commented on #342
Thanks for raising this @inertia666. I think this is something we can add. Would you be interested in creating a PR for the feature?

[2021-09-13 11:04] inertia666 commented on #342
What do you mean by PR?

[2021-09-13 11:06] chrissainty commented on #342
@inertia666 https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

[2021-09-13 13:11] inertia666 commented on #342
OK, that's what I thought you mean but I haven't changed the code and implemented this feature myself to create a PR for you.

[2021-09-13 13:17] chrissainty commented on #342
Thats, fine. I was asking if you'd be prepared to? I have a lot of things on my plate right now and frankly I wouldn't get to this feature for several months. If you'd be happy to create a PR then you'll be able to get the feature quicker, that's all.

[2021-09-13 13:36] inertia666 commented on #342
Yes I can probably sort that out.

I would need some kind of guidance to how it should be implemented though. I've only just started using Blazor a week ago and even less time spent on the actual modal so not familiar with the workings of it yet.

The simplest method seems to be to pass an override method with an object

` ModalInstance.CancelAsync(object);`

The other alternative might be slightl

[2021-09-15 05:01] gocarnetdev commented on #53
What is the advice for a method to hold the modal open and allow user re-submission in the event of an error? Following code illustrates the problem. I've tried lots of different things, feel like I must be missing something obvious?

    private async void SubmitForm()
    {
        ErrorCSS = ErrorCSS.Replace("visible", "hidden");
        APIResult r = await dataService.UpdateTourPlaceSequence(A

[2021-09-16 09:14] GFOX91 commented on #329
Hi @chrissainty,

Are there any updates on this?

Thanks

[2021-09-16 14:17] #323 closed

[2021-09-17 04:59] #334 closed

[2021-09-17 04:59] MRakesh commented on #334
Closed

[2021-09-17 05:00] MRakesh opened #343 "Keeping CascadingBlazoredModal component Inside CascadingAuthenticationState component Is not working in App.razor page."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Hosting Model (is this issue happeni

[2021-09-17 08:11] chrissainty commented on #53
Just don't call the modals close method when there is an error. That seems the obvious thing to do, unless I'm missing something?

[2021-09-17 08:20] chrissainty commented on #329
Apologies @GFOX91 I thought I'd come back to you already!

The issue is actually your cancel button. You need to set its type to button and this issue will be resolved.

[code]

This is because the default type for a button is `submit` (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type), so essentially your form had two submit buttons.

[2021-09-17 08:20] #329 closed

[2021-09-17 08:26] chrissainty commented on #342
I think the first option would be better. I'm wondering if it should be a generic method though:

[code]

[2021-09-17 08:49] chrissainty commented on #343
Hi @MRakesh, this scenario definitely works, as this is exactly the configuration we use in our Blazor applications at my work. Without more detail there isn't anything we can do to help. But I'd suggest this is a local configuration issue in your application.

I'm going to close this due to lack of information. If you can provide some detailed information in the future we can take another look.

[2021-09-17 08:49] #343 closed

[2021-09-17 08:58] GFOX91 commented on #329
Hi @chrissainty,

That's awesome I would of never made that connection, thanks for your help!

[2021-09-18 19:09] MRakesh commented on #343
Iam using with pre rendering enabled . Does this work?

[2021-09-22 19:23] scottyboiler commented on #225
Thank you!

[2021-09-27 18:18] jasekiw opened #346 "[Feature Request] Add documentation for UseCustomLayout"
I found the parameter UseCustomLayout but found no documentation on how to use it. Can this be added to the readme?

[2021-09-27 18:21] jasekiw opened #347 "[Feature Request] Add UseCustomCloseButton"
I would like to be able to customize just the close button html without hiding the entire header. A parameter that that takes a function with CancelAsync, and closeBtnAttributes as parameters would allow for this.

[2021-10-01 13:43] chrissainty commented on #346
There is an example usage in the Sample projects. I'd also be happy to take a PR to add something to the readme.

[2021-10-02 00:25] CrahunGit opened #348 "[Bug] overly and modal size on iOS 15 safari, iphone"
**Describe the bug**
With Safari on iOS 15 I can see a gap corresponding to the address bar

**To Reproduce**
Steps to reproduce the behavior:
1. Open sample site with safari on 15 and launch any modal
2. You’ll see a gap at the end of the footer

**Expected behavior**
Overly and modal must occupy the total height. A gasp must not be there.

**Screenshots**

![6B6CB616-7135-4668-B1AD-837AA48E3C64]

[2021-10-02 07:56] CrahunGit commented on #348
This is another screenshot of my current page. As you can see the content has the gap at the bottom
![204D31D8-7AE3-4841-A5D2-60A149582B26](https://user-images.githubusercontent.com/12015993/135708466-105b86ac-1f93-448b-9302-2e5200ab1345.png)

[2021-10-03 03:21] jasekiw commented on #346
I can probably submit a pr for it in the next week.

[2021-10-03 16:08] chrissainty commented on #346
That would be fantastic @jasekiw and much appreciated.

[2021-10-04 20:05] larsk2009 commented on #348
I just tried this on an iPhone 8 with IOS 14.8 and can't reproduce it there, so I assume this is something specific to IOS15 (and/or the safari version shipped with that)? Do you have any way or tools to figure out what is causing this? I don't think I can easily debug this as I don't have an IOS15 device. Maybe @chrissainty does.

[2021-10-04 20:06] larsk2009 commented on #347
So you want to change the 'value' of the `X` button if I understand correctly?

[2021-10-04 20:06] CrahunGit commented on #348
Just my phone but no way to debug it. Sorry. Yes, it’s specific to iOS 15 on iPhone. On iPad works as expected.

[2021-10-04 20:08] larsk2009 commented on #343
Hi @MRakesh, I am not sure if pre-rendering has any effect on this, but the best way to get your issue fixed is providing more context and details, or ideally providing an example project showing your issue, which we can open on our own machine and have a look at.

[2021-10-04 20:12] larsk2009 commented on #348
Hmm that is strange. I see there might be some tools to have something like the chrome element inspector in safari, maybe have a look if that works and if you can see the problem with that?

[2021-10-04 20:14] CrahunGit commented on #348
Safari on iOS 15 has the address bar at the bottom. When bar is full size bug does not happened. Just When it’s collapsed. It must be any calc for the overly.

[2021-10-04 21:10] jasekiw commented on #347
I would like to customize the html element of the x button entirely. eg. Swap it out with my own svg. I believe this is what you are saying.

[2021-10-06 06:01] NeskireDK commented on #67
Closing modal with ESC is not functioning.
Steps to reproduce:
1. git clone https://github.com/Blazored/Modal.git
2. build run
3. Test any of the modals on the demo, non can close with ESC, most can with click in dark areas.
4. rebuild with setting makes no difference, in demo nor in my own project:
<CascadingBlazoredModal ActivateFocusTrap="true">
previously known as:
<CascadingBlazoredModal Focu

[2021-10-27 19:25] chriswitt2 opened #353 "[Bug]"
**Describe the bug**
The Modal window is popping up for other users - not sure if it's a scoping issue and I don't know how the service is scoped

I have an async query that takes about 10 seconds to execute to get a list of organizations that a user is associated with.
The user has a blazored modal window popup and is able to choose the associated organization and load all of the settings for tha

[2021-11-03 19:16] nssidhu opened #354 "Blazor Server Page Scroll"
I am using Blazor Server Project with .NET RC2.

I am noticing that when the Page is very large( with vertical scrolling) and we use Blazored Modal, it feels like a postback is occurring but in fact it is just resetting the scroll position.
Upon the display of Modal, it resets the scroll position to the top of the page.
and then Blazor finishes its work, it scrolls the page down to the original po

[2021-11-05 14:26] i-am-dan opened #355 "Capturing EventCallback from the referenced component."
**Is your feature request related to a problem? Please describe.**
I am trying to close the modal dialog by listening to an event from the referenced component. I have a form that the modal is referencing (EditForm) and when that form is submitted I want to use EventCallback from that component and have the modal listen to that callback. When I try to add a function to a parameter (while creating

[2021-11-09 15:58] nssidhu commented on #354
Any updates ?

[2021-11-09 16:04] chrissainty commented on #354
Not yet. I'm very busy at the moment and I'll get back with an update as soon as I can.

[2021-11-10 00:42] chriswitt2 commented on #353
After trying to figure out how to make a stand-alone project the team found a place in initialization that kept setting the global value of the Modal whenever the app was initialized.  We abstracted that with some interfaces so that each session would have it's own scoped value of the Modal control and that worked.  Thanks.  I'll close out this issue.

[2021-11-10 00:42] #353 closed

[2021-11-10 16:35] LoupaLoupa opened #357 "[Bug] DotNet 6 migration"
**Describe the bug**
Trying to migrate application to dotnet 6, I have 2 situation:

1) One of my app give me a yellow triangle and a message NETSDK1082	There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier 'browser-wasm'. But I am not sure this is from Blazored Modal.

So I did

2) Create a minimal version of a pop-up and tried to use Blazored Modal.

[2021-11-11 14:26] LoupaLoupa commented on #357
Hi,  I have double check all the places we need to put references to so that it works, and I was missing a reference, which explains the dead silence. Once I fix it, I was able to get a stack. Here it goes

`blazor.webassembly.js:1
 Unhandled Exception:
blazor.webassembly.js:1
 Microsoft.JSInterop.JSException: Could not find 'BlazoredModal.activateScrollLock' ('BlazoredModal' was undefined).
blazo

[2021-11-11 14:42] larsk2009 commented on #355
Can you not make a function that listens to the callback (outside of the modal) and have that function close the modal?

[2021-11-11 14:51] larsk2009 commented on #357
I don't think we have done any work or checked this works with .NET6. I'll make an issue to track .NET6 testing/integration.

[2021-11-11 14:54] larsk2009 opened #358 "[Feature] .NET6"
I'm making this issue to track anything related to .NET 6.

- [ ] Update library to .NET 6
- [ ] Make migration guide (if needed)

[2021-11-11 18:34] IvaYan opened #360 "[Bug] Page gets refreshed once the dialog is closed"
Hi!
I'm trying to create a modal dialog to ask for user input. Unfortunately, the page gets refreshed once the dialog is closed, as a result the changes made to the page because of the modal are lost. I'm using Blazor ServerSide.

Here is the code that gets called when one clicks a button intended to show the modal dialog.

[code]

And here is the TestDialog component.

[code]

So, the question is

[2021-11-12 13:33] #357 closed

[2021-11-12 13:36] larsk2009 commented on #357
Ah good that it works now, it seems you saw #359? To me it seems this library should work with .net6, at least after merging that PR.

[2021-11-12 13:39] larsk2009 commented on #360
I would not expect a page refresh after the modal closes, or maybe I am not understanding what you mean. Regardless, the best way to solve your issue is to provide a small project containing just the code to reproduce this issue. That way we can isolate and probably fix the issue faster.

[2021-11-12 13:50] LoupaLoupa commented on #357
Yes, I did, which kind of made me want to push my investigation further since all you did was upgrade packages, so it meant it should work.

[2021-11-12 17:59] IvaYan commented on #360
The issue was that the page refreshes after the dialog gets closed. However, I didn't manage to reproduce the problem. Apparently it was a misconfiguration. Closing this issue.

[2021-11-12 17:59] #360 closed

[2021-11-12 23:47] aterbo opened #361 "Error when using Max-height and max-width in global CSS class[Bug]"
**Describe the bug**
I set a global Class parameter to a custom CSS format and tried with max-width and max-height properties, but it gave me a weird, half-translucent modal. The modal is greyed out, and if I click on anything it closes the modal. I can't interact with the modal The header for the modal is also in the wrong spot, off to the left of the content

**To Reproduce**
Steps to reproduce

[2021-11-13 15:02] chrissainty commented on #361
It looks like you're missing a z-index on your modal CSS.

[code]

Something like that.

[2021-11-13 16:32] aterbo commented on #361
Thanks for the response, Chris. That didn't entirely solve it, but it did move all of my editform input boxes within the modal up. I can now interact with the elements within the modal, but the modal background, box, etc, is still not rendering properly. I tried z-index of 1000 and 9999, and it renders the same.

Any other thoughts?

![z-index 1000](https://user-images.githubusercontent.com/140470

[2021-11-13 17:12] aterbo commented on #361
In case it helps, I tried styling my modals with the css used in this discussion and it worked properly:

https://github.com/Blazored/Modal/discussions/297

The issue showed up when I tried using max height and width.

[2021-11-14 12:06] ADR-Clizy opened #362 "[Bug] Another modal is open when I make action on the first one"

[2021-11-14 13:04] #362 closed

[2021-11-15 10:16] larsk2009 commented on #361
Can you share a solution with us that shows this problem? I'd be very interested to figure out what is going on!

[2021-11-15 15:33] aterbo commented on #361
Hi @larsk2009 I just made a repo showing the issue, with all the variations of CSS showing how it impacts the modal and what you can interact with:
[BlazoredModalErrorTesting](https://github.com/aterbo/BlazoredModalErrorTesting)

If there's something I can do to help out with this please let me know. My time is fairly limited, but I'm happy to contribute to a PR if it solves this issue, even if I

[2021-11-17 05:30] aterbo commented on #346
Hey @jasekiw just wanted to check if you still had time and plans to do a PR for this. If not, I can get one together. I'm looking for something I can help out with on this repo. If you're still planning to do it, not a problem!

[2021-11-21 19:51] aterbo commented on #361
@larsk2009 I think I am on the right track for what's happening here. Please let me know if this sounds correct to you in general, or if I'm off base.

The main issue is that setting a custom class requires you override ALL of the properties specified in `.blazored-modal` yourself. In `BlazoredModalInstance.razor.cs` `SetClass()` method, your supplied `Options.Class` will be applied to the modal.

[2021-11-22 22:22] aterbo opened #363 "Clicking on disabled background re-runs lifecycle (OnParametersSet, SetParameters, and OnAfterRender) [Bug]"
**Describe the bug**
If you have a modal with the background set to disabled, clicking the disabled background re-runs SetParameters, OnParametersSet, and OnAfterRender lifecycle methods (both sync and async) of the component being displayed in the modal.

This is causing a problem with some forms I have that pull data in during OnParametersSet. Any unsaved data is being reset if the user clicks o

[2021-11-24 14:26] larsk2009 commented on #361
I don't think we should enforce anything when settings a custom class, as it is up to the implementing developer to decide how they want to style the modal.  If we enforce it but a developer doesn't want to use that specific property, then what should they do? Or if we only overwrite and keep the basis, what if they want to remove something from that basis?

I do agree it might be a good idea to c

[2021-11-24 17:59] aterbo commented on #361
Yeah, if there were some sort of programmatic enforcement, it would definitely need to allow the developer to overwrite or remove properties as they prefer, as long as they know what needs to be included. If you would prefer just to update the wiki, totally fine.

I think the main concern is to inform users that there are styles that are necessary to keep the modal from breaking, and these all nee

[2021-11-25 20:17] Carmenrosacoder commented on #348
Hola, hallaron una solución ? tengo el mismo problema :/ con la actualización a ios 15

[2021-12-03 10:32] larsk2009 commented on #348
I found out there is actually a way to debug in safari on iOS using windows PC, maybe you guys can try that to figure out what is going wrong? See [this link](https://washamdev.com/debug-a-website-in-ios-safari-on-windows/) as a starting point. I recently did this at work and it helped me solve a iOS/safari specific bug

[2021-12-03 14:16] Carmenrosacoder commented on #348
Actually debug my ios device on Windows PC: D, but didn't find the problem: c Then I was able to solve by adding height: 100vh in html. Thanks @larsk2009

[2021-12-03 20:29] larsk2009 commented on #348
Great that it is solved. If you happen to figure out what causes it and we can fix it, don't hesitate to re-open this issue.

[2021-12-07 07:18] larsk2009 commented on #348
So my work phone just updated to iOS 15 and I am getting this exact same issue, so I am reopening this issue

[2021-12-16 17:12] crui3er opened #366 "[Bug] UI is not properly updated when modal windows are closed not in reverse order"
**Describe the bug**
When 2 modal windows are opened with different modal options and you close the one that was opened the first, remained second modal keep its content but gets modal options from the first window.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare component that can display given text (text widget);
2. Show modal window in left-top corner with text widget with content

[2021-12-17 15:27] jcantrel opened #368 "Issue applying classes"
I am trying to implement Blazored Modal into my Blazor server side app that uses Tailwind for CSS. However I am having trouble creating a form. No matter what CSS settings I've tried inside the component the modal itself remains the same size. I then tried applying a class to the modal itself seems to break. It becomes grayed out like the background and the elements inside cannot be interacted wit

[2021-12-18 00:08] chrissainty commented on #368
When you provide a value for the `Class` option, it replaces the default class, they are not added to it. This is why are losing all other styling. You will need to provide all styling you require, including specifying a z-index so the modal shows above the backdrop.

[2021-12-20 11:38] larsk2009 commented on #366
Ah wow, nice catch!

[2021-12-23 06:11] aterbo commented on #368
See #364 pending PR for some proposed updates to the docs clarifying this issue.

[2021-12-28 18:01] #361 closed

[2021-12-28 18:01] chrissainty commented on #366
@larsk2009 This looks like something we should try and get fixed for the next release.

[2021-12-28 18:03] chrissainty commented on #368
Hopfully the updates docs provided by #364 should clarify what is required when specificying a custom class.

[2021-12-28 18:03] #368 closed

[2021-12-28 18:23] larsk2009 commented on #366
Jup I agree, I haven't tested it myself but the fix by @crui3er seems to do the trick.

[2022-01-03 06:39] aterbo opened #369 "Animate overlay as well as modal when fading in/out [Feature Request]"
**Is your feature request related to a problem? Please describe.**
I'm not sure if this is a feature request or a bug, but I think the animations would look much smoother if they also faded in and out the overlay as well. The current animations have the overlay pop in first, then the modal fade above it. The fade out does the opposite, where the overlay just pops off the screen after the modal dis

[2022-01-03 19:43] larsk2009 commented on #369
Sounds like a good idea, i'll have a look at your PR.

[2022-01-07 01:56] MichelJansson opened #373 "[Feature Request] ModalParameters to support collection initialization"
**Is your feature request related to a problem? Please describe.**
I love object and collection initializers and even though `ModalParameters` is mostly a collection it does not support a collection initializer, which makes me a little bit sad.

**Describe the solution you'd like**
Support for collection initialization.
[code]

**Describe alternatives you've considered**
Since the underlying `Dict

[2022-01-07 08:19] larsk2009 commented on #373
Hi @MichelJansson, on the surface it seems like a great suggestion. I don't know if there are any reason this isn't done already, so I'll leave that to @chrissainty.

I did a little research and it seems this works because there is already the `Add` method, so you only have to implement the GetEnumerator function right?

[2022-01-07 12:49] MichelJansson commented on #373
@larsk2009, indeed, but it will actually be two `GetEnumerator` methods, one for `IEnumerable` and one for `IEnumerable<T>`, but they both will just expose the enumerator of the dictionary.

[2022-01-09 12:36] abdulrahmanbasha commented on #225
Thank you very much this helped.

[2022-01-14 18:17] #366 closed

[2022-01-15 13:26] #355 closed

[2022-01-15 13:28] #347 closed

[2022-01-16 06:13] #369 closed

[2022-01-26 12:31] nyluhe opened #376 "When making outside calls to an api it calls twice"
**Describe the bug**
When I make call to my api it appears to call the method twice when done within the Modal, in OnParametersSetAsync(). However, this doesn't happen if I get the object first and pass it into the Modal.

**Expected behavior**
I would expect for the Modal to only call OnParametersSetAsync() once, but it looks to call it twice.

**Hosting Model (is this issue happening with a cert

[2022-01-26 12:34] nyluhe commented on #376
When I call the same api method within OnInitalizedAsync() it only calls once.

[2022-01-26 12:55] chrissainty commented on #376
Hi @nyluhe we don't call lifecycle methods. The framework does. It sounds like something in your scenario is causing Blazor to update the parameters to your component, hence the two calls to OnParametersSet.

[2022-01-26 15:11] nyluhe commented on #376
Apologies @chrissainty, the cascading parameter modal instance is not set at the same time as the parameter I passed in so it's calling that method twice.

I've switched to OnInitialized to handle the parameter now. It was a misunderstanding of the Blazor lifecycle.

 Thanks!

[2022-01-26 15:11] #376 closed

[2022-01-28 18:48] tesar-tech commented on #315
Hello, I also encountered this issue, when my side panel  (which is positioned sticky) flew out of the screen. It is caused by setting new position to `body` element as @neymecc  described.

My guess: The setting of body position when modal is open has some influence on scrollable content on page. Normally when I scroll to 50 % of page, then open model, then close modal, it is still scrolled to 50

[2022-01-28 19:45] larsk2009 commented on #315
Ah, nice find @tesar-tech. That is probably the reason. Still, there might be a way to have the best of both solutions. I don't have much time, but if I do have some left over I'll have a look. If you find it in the meantime, feel free to open a PR!

[2022-01-28 20:46] tesar-tech commented on #315
Unfortunately, the ultimate correct solution is unknow to me. I am on this some time and didn't figured out (yet). But I have few other findings that could be useful. The whole ceremony with js changing size of `body` element is to keep the page content as is, but disable scrollbar. When you open modal, scrollbar is hidden, so you cannot scroll the page (under the modal). This is probably ok featu

[2022-01-31 09:56] Trapulo opened #377 "[Bug] Microsoft.JSInterop.JSException: Could not find 'BlazoredModal.activateScrollLock' ('BlazoredModal' was undefined)"
**Describe the bug**
When I enter the page and click the button that may open the modal, I have the error "Microsoft.JSInterop.JSException: Could not find 'BlazoredModal.activateScrollLock' ('BlazoredModal' was undefined)"

if I reload the page, then click same button, it works.

Tried different browsers, cache cleanup, etc. always same result.

**Hosting Model:**
 - Blazor WebAssembly
 - .NET 6

[2022-02-01 07:24] samihuutoniemi opened #378 "Cascading parameters into the modal"
**Describe the bug**
Not sure if it is a bug, feature request, or maybe more a question. We use a component "Error" to show errors in our app. This uses Blazored Modal. But modals are also used for other purposes. The Error component is cascaded into all components, but if the component is a modal, it will be null.

Is there any way for a component being the object of a Blazored Modal to receive a

[2022-02-01 08:39] larsk2009 commented on #377
Does the network tab in your browser show any files failing to load? IT seems strange it doesn't work the first time, but after that it does work.

Also, have you seen #357, #261, #259, $197 and more like that? They al have similar issues, and it is caching almost every time. I know you said that isn't the issue, so maybe there is a different reason why the file is not laoding. If you can have a l

[2022-02-01 08:42] larsk2009 commented on #315
Alright, at least we are certain again why the body width and such is being set. I also don't know a good solution but I'll admit I don't have much time to have a look right now.. If anyone is interested in investigating this, feel free!

[2022-02-01 09:10] DimkaSklyar commented on #348
There was the same problem with the modal window on the angular project. When opening the modal window, styles were added to the html tag:

[code]

Apparently `position fixed;` can't calculate the height correctly.

I applied the following styles to the html tag, after opening the modal window, and everything became fine.

[code]

I hope this helps you.

P.S.: Apologize for my English ^__^

[2022-02-01 19:17] FraserElectronics commented on #377
I am also seeing exactly the same thing.
Fails with the same error message but if I refresh the browser window it works.
Same hosting model and using the Edge browser.

Andy

[2022-02-01 19:31] FraserElectronics commented on #377
Okay, subsequently it is now working fine !
Not sure what was going on there :-(

Andy

[2022-02-01 19:46] FraserElectronics opened #379 "Can't Interact with controls on Modal"
**Describe the bug**
Not sure if this is a bug but I have created a modal form with a Mud table control on it.
As soon as I try and interact with the table such as selecting a different page of data, the dialog closes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create modal with an control you can interact with.
2. Click on said control and observe that the modal closes.

**Expected beh

[2022-02-01 19:51] FraserElectronics opened #380 "Override Style"
**Describe the bug**
Following the readme to use a custom style.

**To Reproduce**
Steps to reproduce the behavior:
1. Override class:
[code]
2. Create a custom style in App.css (copied from sample):
[code]

3. Display the form.

**Expected behaviour**
Would expect to see a bright Red background (#d43131).

**Screenshots**
None.

**Hosting Model (is this issue happening with a certain hosting mode

[2022-02-01 20:12] larsk2009 commented on #380
What exactly is the issue? You expect a red background, I assume you don't see that. What do you see instead?

[2022-02-01 20:16] larsk2009 commented on #379
I would think that the overlay is on top of your modal, especially if clicking closes the modal and because it looks disabled (might be because the overlay is on top of it). Does clicking anywhere on the modal produce this behaviour? Likely you'll need to set a z-index value, see the sample (if you disable the z-index there with the browser dev-tools, you'll get the behaviour you specify).

[2022-02-01 21:04] FraserElectronics commented on #379
Yes, clicking anywhere on the modal has the same effect.
I think the z-index is the issue but I increased it in my custom style but it still does the same thing.

Andy

[2022-02-01 21:05] FraserElectronics commented on #380
I think this issue relates to my other issue which I think you identified as a z-index issue.
I am going to close this issue.

[2022-02-01 21:05] #380 closed

[2022-02-01 21:13] FraserElectronics commented on #379
Okay, so disabling the z-index on the underlying control causes my modal to work as I would hope.
So the underlying z-index is 101 but if I set my modal style to 100 or 102 neither makes a difference.
I am still trying to get my head around css and styles in general.

Andy

[2022-02-04 15:15] Carmenrosacoder commented on #348
In my case, it didn't work that way 😢  , but I was able to solve it with the height 100vh on mobile, thanks @DimkaSklyar .

My English is not good either 🙃

[2022-02-07 14:29] KieranRobson opened #385 "[Bug] Modal Crashing After Displaying For a NanoSecond"
**Describe the bug**
  When pressing the modal button, it shows for a nanosecond, then crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Click button
2. Watch it crash

**Expected behavior**
A modal should display showing addfeedback button

**Screenshots**
app.razor
![image](https://user-images.githubusercontent.com/32241933/152806921-c6725af7-2107-410c-b532-1772d9bde07a.png)

[code]

[2022-02-08 13:55] Trapulo commented on #377
I don't know: it the same for me. It's now working. Really strange Blazor WASM... :(

[2022-02-09 11:07] KieranRobson commented on #385
I had the modal inside of a form which made it want to submit, everything is fixed now!

[2022-02-09 11:07] #385 closed

[2022-02-11 13:03] Lorenium opened #386 "Cannot click <select> dropdowns inside the modal [Bug]"
**Describe the bug**
I can't click the select items inside my modal. I can manually select them with the tab button and expand it with the return key, but clicking does not expand the dropdown.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

**Expected behavior**
Dropdown item exposes all the <option> child elements and expands when clicked.

**Hosting Model (is this issue happ

[2022-02-12 17:38] anixon-rdh opened #387 "Modal breaks app if ASPNETCORE_ENVIRONMENT=Production"
**Describe the bug**
After switching to a launch profile, which sets the ASPNETCORE_ENVIRONMENT=Production, the blazor server application comes to a halt when trying to trigger a modal dialog through the Blazored.Modal component.

**To Reproduce**
Steps to reproduce the behavior:
1. Open project properties
2. Navigate to Debug -> General
3. Click "Open debug launch profiles UI"
4. Select the defau

[2022-02-16 08:28] chrissainty commented on #387
@anixon-rdh Could you turn on detailed exceptions, as advised by the error message in the console. Then report back with what the output is.

[2022-02-16 12:45] anixon-rdh commented on #387
![04-DetailedError](https://user-images.githubusercontent.com/93688223/154267167-629db20e-8b98-4105-862f-1cfab5a64dfc.jpg)

[2022-03-04 15:07] TravisNorwood opened #388 "[Bug] "A Task was Canceled" Exception"
The JavaScript calls in BlazoredModal will sometimes get the below exceptions. We've haven't found a way to replicate, but we think it may have to do with the JS being called after the page is no longer being displayed. Since the JS calls are not critical it would be good to either have a way to configure them not to be done, or wrap them with exception handling that doesn't throw the exception ba

[2022-03-05 10:23] #373 closed

[2022-03-06 07:08] chrissainty commented on #388
Hi @TravisNorwood, thanks for raising this.

I'm currently working on the next version of the modal and I'm going to remove all the JS and replace with a native Blazor solution. I'll link this ticket to the PR once I'm at that point.

[2022-03-06 14:33] #358 closed

[2022-03-06 15:42] chrissainty commented on #379
If you could provide a repro of this issue it would help dramatically, this is really hard to help with without some example code to work from.

[2022-03-06 15:44] chrissainty commented on #378
Hi @samihuutoniemi, I don't think this is going to be possible. Looking at your code, your Error component would need to wrap the `CascadingBlazoredModal` component. But if that's what your `Error` component uses under the hood then that won't work.

[2022-03-06 15:47] chrissainty commented on #386
Can produce a repro project showing the issue please, then we can try and work out what's happening. Just for reference, we use Blazored Modal at my work and have lots of modals with select lists so I think it's probably a local config issue somewhere.

[2022-03-09 00:14] #388 closed

[2022-03-09 00:15] #377 closed

[2022-03-09 00:18] chrissainty commented on #326
Closed as no further communication

[2022-03-09 00:18] #326 closed

[2022-03-09 00:36] chrissainty commented on #306
This now appears to be fixed with the changes to the focus trap

[2022-03-09 00:36] #306 closed

[2022-03-09 00:38] chrissainty commented on #354
This appears to be fixed with the swap to the new focus trap

[2022-03-09 00:38] #354 closed

[2022-03-09 00:41] chrissainty commented on #315
This is resolved with the new focus trap component.

[2022-03-09 00:41] #315 closed

[2022-03-09 00:44] chrissainty commented on #330
This appears resolved with the new focus trap

[2022-03-09 00:44] #330 closed

[2022-03-09 01:58] danglade commented on #330
@chrissainty: Thanks for letting me know.

[2022-03-09 11:29] FraserElectronics commented on #379
Chris,
I have created a really simple example here: [Githb](https://github.com/FraserElectronics/BlazoredModalTest.git)
If you click on Counter then click the Click Me button it pops up a modal with a date picker and two buttons. It is not possible to interact with the controls on the razor component that forms the modal form. I am sure I am doing something very obviously wrong but can't seem to f

[2022-03-09 11:53] chrissainty commented on #379
Thanks for that @FraserElectronics. I can see the issue. When you created your custom CSS class you didn't give it a high enough `z-index`, it needs to be higher than 101. Change your `aqua-modal-class` to this and everything works.

[code]

[2022-03-09 11:53] #379 closed

[2022-03-09 12:09] FraserElectronics commented on #379
Chris,

Yes, that solves the issue in my simple demo app but if you note the comments previously, in my main application, setting the Z-Index greater than 101 makes no difference. It is not easy for me to share my main Blazor app as it depends on a SQL database connection and user login credentials. I can't really see much difference in my app code to this demo code though :-(

Andy

[2022-03-09 12:21] chrissainty commented on #379
I understand the problem with replicating a real app. Thanks for trying.

What I think this does indicate to us is that's it's probably CSS related. You might have something which is messing with the z-index in some way.

It might be worth trying the v7 review package I published yesterday. That has a few changes which might have an effect for you. However, there are a couple of small API changes

[2022-03-09 12:26] FraserElectronics commented on #379
I will give v7 a try and will let you know how I get on.
Thanks for trying to get the bottom of this for me 👍

Andy

[2022-03-09 12:39] FraserElectronics commented on #379
Tried the pre-release but no joy :-(
Is there something I should look for in the structure of the page?
I have a screenshot of developer tools showing the elements that make up the modal but I don't see any z-index specified.
![Elements Screenshot](https://github.com/FraserElectronics/BlazoredModalTest/blob/main/Screenshot/Elements.png)

Andy

[2022-03-09 15:35] danglade commented on #330
@chrissainty: Just curious, do you know in which version was this fixed?

[2022-03-09 15:36] chrissainty commented on #330
Yep, its in the v7 preview I published last night

[2022-03-09 15:41] danglade commented on #330
@chrissainty: Sounds good, will give it a try.

[2022-03-09 23:24] aterbo commented on #378
Hey Chris,

I've run into similar issues. Is there any way were you could force cascaded parameters for the calling component are in turn cascaded into the modal?

I highly doubt it, since the `CascadingBlazoredModal` wraps the whole app and would need to be wrapped in whatever cascades to it, but I wanted to ask if you knew of any clever methods that might work for something like this?

[2022-03-11 23:39] craigajohnson opened #390 "Blazor Server - TaskCanceledException causes unhandled exception and crashes entire process"
Not sure yet what caused this within the app, but we caught this in our IIS logs:

Application: w3wp.exe
CoreCLR Version: 6.0.222.6406
.NET Version: 6.0.2
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Threading.Tasks.TaskCanceledException: A task was canceled.
at Microsoft.JSInterop.JSRuntime.InvokeAsync[TValue](Int64 targetInstanceId, String identif

[2022-03-13 19:13] nssidhu commented on #354
Still the Same problem, i created new one and tried it.

[2022-03-13 19:17] chrissainty commented on #354
@nssidhu Can you provide a repro project for this please? I can't replicate it using v7 preview 1.

[2022-03-14 03:52] nssidhu commented on #354
Here is the repo.
https://github.com/nssidhu/BlazoredModalIssue

I am using Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.2.0 Preview 1.0

Note: First Generate the Long List, so that the show dialog button move to the bottom of the list.
Scroll down so that "Show Dialog" button is visible and than click it.
You will notice that Dialog displays as expected, but once it Dialo

[2022-03-28 10:20] chrissainty commented on #390
Thanks for raising this @craigajohnson. In the new preview version I've removed the need for JavaScript so this should no longer be an issue. Based on that, I'm going to close this.

[2022-03-28 10:20] #390 closed

[2022-03-28 10:49] #325 closed

[2022-03-28 10:49] #342 closed

[2022-04-15 08:52] silvavelosa opened #393 "Cascading parameters should be fixed"
**Is your feature request related to a problem? Please describe.**
The new recommended use of the `IModalService` as a cascading parameter instead of injected service could cause a performance overhead, since it's a parameter every single component in the app will receive and process repeated times, even if it's ignored in the end by most of them and doesn't ever change.

**Describe the solution y

[2022-04-15 09:21] silvavelosa commented on #378
Does the Error component need to interact in any way with the `ModalService`? if not, then you can just reverse the order, like:

[code]

If `Error` needs the `ModalService`, you can still get it injected and it will work... but it's kind of a hack, since it's no longer the advised way to get it.

[code]

[2022-04-27 06:31] PeterPann23 opened #395 "[Bug] I cloned it started the blazor server sample and all dialogs are rendered left top corner"
**Describe the bug**
A clear and concise description of what the bug is.

There is no modal dialog shown, the dialog is render inline using chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Get latest
2. set Blazor server start up project
3. click any of the samples
4.
![image](https://user-images.githubusercontent.com/44400822/165455116-4dcbd68c-0839-49cf-8127-b6fe8c85e48a.png)

**Expe

[2022-04-27 07:10] chrissainty commented on #395
Thanks for spotting this @PeterPann23. I've just created a PR to fix the issues.

[2022-04-27 07:10] #395 closed

[2022-05-05 08:45] yggdrasil-tynor opened #399 "[Bug] Modal does not show when awaited?"
**Describe the bug**
The Model.Show is async, but Modal's do not show when awaiting the modal.
The documentation is not very clear about this?

**To Reproduce**
Steps to reproduce the behavior:
await Modal.Show() - not working
Modal.Show() - working

Should the Modal.Show not be awaited?

[2022-05-05 09:19] chrissainty commented on #399
Hi @yggdrasil-tynor,

I'm not sure where you're looking but the `Show` method isn't async as you can see below, it returns a `IModalReference`.

https://github.com/Blazored/Modal/blob/e1b04dedf90e9cfe3d8fb66fa92e9c9dd6372f1a/src/Blazored.Modal/Services/IModalService.cs#L10

[2022-05-06 14:38] Caleb1995 commented on #386
Using blazored modal with syncfusion and dropdowns work but the search functionality on the dropdowns don't work.

[2022-05-17 06:18] yggdrasil-tynor commented on #399
@chrissainty sorry, i was mistaken by the name of this project. This was a bug in Blazorise and not tihs

[2022-05-17 06:18] #399 closed

[2022-05-17 11:26] mivandoni opened #400 "[Bug] Modal doesn't open after file download on firefox"
**Describe the bug**
Modal doesn't open when called after a file download on Firefox

I have a Blazor server application where I use this great modal in a lot of places without problems (with 3 o 4 different customizations).
I recently discovered a problem which happens only on Firefox.
On a page I have a list of task (in a syncfusion grid) and to each task is connected a listo of file that need t

[2022-06-17 19:01] oicydwa commented on #354
I see this issue was closed, but I'm also experiencing this exact same issue and have no idea where to even start looking into it. I used this library because I don't like making JSInterop work myself.

[2022-06-17 21:10] oicydwa commented on #354
Alright, so I figured out why mine was doing this, and while I am using blazored, the issue is actually regarding my jsinterop for screen location. When my modal opens, it jumps to listening to that position (which is 0) and then when i close it, it springs from 0 to where I actually was when i opened the modal. Therefore issue is unrelated to blazored-modal

[2022-06-17 21:48] oicydwa commented on #354
I found the cause of this issue, just unsure how to resolve it. When the modal is opened, seems it stores where you were on the page and returns to that location after it's closed. But in between location is set to top of the page, and causes it to scroll to your previous location from 0.

[2022-06-18 06:36] chrissainty commented on #354
@oicydwa Which version are you using? The fix for this issue is in the latest preview version.

[2022-06-18 12:29] oicydwa commented on #354
Ahh perfect. That's good to know. I'm using version 6.0.1. I will give the preview version a try. Thank you!

[2022-06-20 10:05] oatsoda opened #402 "[Bug] Thread Deadlock when testing with bUnit and File Upload"
**Describe the bug**
Getting a thread deadlock when testing a component with bUnit and the `InputFile` component.  I've logged it with bUnit with a sample to reproduce: https://github.com/bUnit-dev/bUnit/issues/760

Looks like the issue is because the `TaskCompletionSource` should be setting `TaskCreationOptions.RunContinuationsAsynchronously` as per https://github.com/davidfowl/AspNetCoreDiagnost

[2022-07-01 06:36] gianx10 commented on #386
Hi
This is a common problem, also with different vendor controls. I have open a discussion about this problem (DevExpress controls don't work #404)
I have try with DevExpress and Blazor.Radzen and I have your problem: clicking does not expand the dropdown or datapicker.
This is the response, of DevExpress technical support:

"_In v21.2, we changed rendering of our ComboBox (and other drop-down com

[2022-07-01 08:59] gianx10 commented on #386
There is another problem with DevExpress. If in DevExpress DxPopup, I open a component with Blazored.Modal, when the user close this component, fist close the under componet and later the Blazored.Modal

[2022-07-06 19:29] macias opened #405 "[Bug] Modal dialog is shown behind Leaflet map"
**Describe the bug**

Well, maybe not a bug per se, but a problem/stopper. When I use modal dialog on a regular or blank page, it works fine. However when I use it on page where I have Leaflet map, the dialog technically is shown, but in such way, that everything except map is grayed out, and the modal dialog is shown behind map.

Just out of curiosity I tried to change z-index of modal dialog to

[2022-07-06 21:16] chrissainty commented on #405
Hi @macias, I suspect this is going to be z-index issue. The modals overlay (gray background) has a z-index of 101, Leaflet must use a higher index.

I'd suggest finding out what Leaflet is using with the browsers dev tools and then upping the z-index of the modal to be above that.

[2022-07-07 15:43] #405 closed

[2022-07-09 10:59] chrissainty commented on #378
I think the option @silvavelosa has presented is probably the only way to make your scenario work, @aterbo. I'm going to close this now as there is a potential answer.

[2022-07-09 10:59] #378 closed

[2022-07-09 10:59] chrissainty commented on #393
Agreed, @silvavelosa. This will be in the next release.

[2022-07-09 11:03] #393 closed

[2022-07-09 11:26] chrissainty commented on #400
Hi @mivandoni.

This looks like it could be an issue with the old FocusTrap--it's the only thing that used JS interop. However, that's been dropped for a native Blazor implementation, depending on when you read this, can you try the latest preview release or the newest GA release.

[2022-07-09 11:28] chrissainty commented on #387
@anixon-rdh Apologies for the delay. I'm sure you've either worked this out now or changed library. But it looks like you're not referencing the JS file in the correct way. Regardless, that file won't be needed in the next release so either way this issue will be resolved.

[2022-07-09 11:28] #387 closed

[2022-07-09 11:31] chrissainty commented on #386
I'm closing this issue as the original author has never re-engaged and this issue looks to be local config problem which I assume they resolved.

[2022-07-09 11:31] #386 closed

[2022-07-09 11:38] chrissainty commented on #348
I've just been checking this and it appears to not be an issues anymore, at least I can't recreate the scenarios described here. This could have been down to the focus trap and now it's been reworked, the issue has been cleared up.

I'm going to close this as fixed, but if anyone can produce a repro for it, please reopen and I'll look at it again.

[2022-07-09 11:38] #348 closed

[2022-07-09 11:39] chrissainty commented on #309
Closing due to inactivity.

[2022-07-09 11:39] #309 closed

[2022-07-09 11:48] chrissainty commented on #402
Thanks for raising this @oatsoda. I've added the fix per the discussions over at https://github.com/bUnit-dev/bUnit/issues/760

[2022-07-09 11:49] #402 closed

[2022-07-09 14:00] chrissainty opened #409 "Simplify Structure and Styling"
# Overview
The current structure of the HTML that makes the modal work is complex. This has lead to weird rendering issues and difficulty for users when trying to implement custom styling. This should be simplified so the problems can be avoided in the future. The downside here is the will be a breaking change for people who have done any type of customisation of the look of the modal.

As part of

[2022-07-09 15:57] adrianwright109 commented on #409
Will the modal still support scrollable content?

[2022-07-09 16:08] chrissainty commented on #409
@adrianwright109 Absolutely! The difference now is it's native rather than something you have to turn on.

[2022-07-14 20:19] #409 closed

[2022-07-15 08:47] 1619digital opened #411 "[Question] [Dev] Cancel is ambiguous when called directly in code"
Hi, this is more a convenience thing, but rather than writing

[code]

... it's nice to be able to call `Close` and `Cancel` methods directly

[code]

The new overload on `Cancel` means you can't do this, because the call is ambiguous. `Close` works fine, even though it has a number of overloads. Perhaps you would consider modifying the signature to make it possible, rather than having to create a

[2022-07-15 09:05] #411 closed

[2022-08-03 23:56] Freshmintyy opened #413 "[Bug] Background content scrollable when modal is open"
**Describe the bug**
When the modal is open i can still scroll down on the background content? I've tried googling it and I can't see this has been raised before?

**To Reproduce**
Steps to reproduce the behavior:
`var options = new ModalOptions()
        {
            Class = "blazored-modal-photo-select",
        };

        var parameters = new ModalParameters();
        var modal = ModalServic

[2022-08-04 08:12] chrissainty commented on #413
Are you seeing this in the latest preview package or the current GA version?

[2022-08-05 21:36] Freshmintyy commented on #413
Version I am using is 7.0.0-preview.2 :)

[2022-08-12 11:00] satishbhagal commented on #73
hi can you share its full code here.

Thanks in Advance!

[2022-08-15 14:19] craigbrown opened #415 "[Bug] .content class should be renamed back to .blazored-modal-content"
**Describe the bug**
In the recent preview release, it looks like the `.blazored-modal-content` class [was renamed to](https://github.com/Blazored/Modal/blob/e1ee1164767624fc0c1890a9b23679ad6f34e1fa/src/Blazored.Modal/BlazoredModalInstance.razor#L27) `.content`.

This is a very generic name and could easily conflict with an existing global style. In fact, the CSS that automatically gets added when

[2022-08-15 16:40] craigbrown opened #416 "[Bug] App instantly crashes when using modal on a page with an auth redirect"
**Describe the bug**
I have a Blazor app that uses authentication, so that the user must be logged in to see any page. If they are not, they are redirected to a login screen. When this redirect happens, I get the following exception thrown:

[code]

I believe this is due to the use of the `!` (null-forgiving) operator on [line 144 of BlazoredModal.razor](https://github.com/Blazored/Modal/blob/e1ee

[2022-08-15 20:29] chrissainty commented on #416
Thanks for reporting this @craigbrown and writing up such a thorough bug report.

[2022-08-15 20:30] #416 closed

[2022-08-15 21:14] #415 closed

[2022-08-15 21:21] chrissainty commented on #413
This only appears to happen on mobile devices, specifically Safari on iOS. I've noticed that Bootstraps modal also has this behaviour on iOS as well.

[2022-08-15 21:22] chrissainty commented on #400
I'm closing this due to lack of activity.

[2022-08-15 21:22] #400 closed

[2022-08-17 11:23] craigbrown commented on #416
No problem, thanks for the speedy fix!

[2022-08-28 10:59] chrissainty opened #423 "Remove use of "async void" in BlazoredModal.razor"
### Discussed in https://github.com/Blazored/Modal/discussions/422

<div type='discussions-op-text'>

<sup>Originally posted by **nekrasov-andrii** August 25, 2022</sup>
Good day Chris,
My name is Andrii,
I use your good library "BlazoredModal" in my projects.
This is a very handy library for working with popups.
When I was review the source code, I noticed that you are using "async void" in Blazo

[2022-08-29 13:37] #423 closed

[2022-09-08 16:59] brettwinters opened #430 "[Bug/FeatureRequest] Can't assert modal exceptions in BUnit tests"
Consider the below 'pseudocode' of a modal which throws an exception during OnInitialized(). I'm unable to catch this exception in my (BUnit) unit tests. Any idea why not?

The `reference.Result.Status` shows "WaitingForActivation" and trying to `await reference.Result` just hangs. Actually this is generally a problem for unit tests since I never know if the modal has crashed. The only evidence is

[2022-09-14 12:28] CrahunGit opened #432 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
It would be nice to update parameters inside modal wrapped component when parent parameters changed

**Describe the solution you'd like**
If I open a modal that loads a component to show a value I would like to see updated parameters when the parent one changes it.

**Describe alternatives you've considered**
Currently I need to cl

[2022-09-15 09:18] Skyking005 opened #433 "[Feature Request] Can function BlazoredModalInstance.CancelAsync not reload the page?"
Because I use routeview switch page, reload will change page to the default page which is not model page.

[2022-09-15 09:50] Skyking005 commented on #360
@IvaYan
May I ask how to solve this problem later?
do not reload when closed

[2022-09-15 13:12] chrissainty commented on #430
Hi @brettwinters. This is an interesting one. I'll need to have a look into what's happening here. What version of the package are you using? If you haven't already, can you try the latest preview version?

[2022-09-15 13:14] chrissainty commented on #433
Hi @Skyking005. I don't understand what you're asking for here. Can you supply some more details or an example of what you're looking for?

[2022-09-15 22:22] Skyking005 commented on #433
Sorry, because I'm a little bad at English, I try to describe the function I expect as best I can.
Here is my code.
`
@if (CurrentActiveItemIndex == 0)
{
    <Overview />
}
else if (CurrentActiveItemIndex == 1)
{
    <SystemUserManagement />
}
else if (CurrentActiveItemIndex == 2)
{
    <RoleManagement />
}

@code {
    private int CurrentActiveItemIndex = 0;
    private string[] Items = new strin

[2022-09-17 13:45] #346 closed

[2022-09-17 14:03] chrissainty commented on #433
I'm not sure what to say @Skyking005. The `CancelAsync` method does nothing that should cause a refresh of the component that invokes the modal. As you've seen in #360, the issue was with the developers code, not ours.

If you can create a repro of the issue which shows it's a problem with this library I'll happily take a look. But I think chances are, it's something in your implementation that is

[2022-09-17 14:06] chrissainty commented on #432
Hi @CrahunGit, thanks for suggesting this feature. I don't think this is something I would look to implement. It feels very niche and I don't understand your suggested usecase. How would the parent update the value when the modal has focus?

Based on the above I'm going to close this as a won't implement. Sorry.

[2022-09-17 14:06] #432 closed

[2022-09-17 14:35] chrissainty commented on #363
@aterbo I spotted the issue. There was a check in the `HandleBackgroundClick` method that returned if `DisableBackgroundClick` was set to `true`. This is what stopped the background click closing the modal.

However, as it is triggered from an `onclick` event Blazor will automatically call `StateHasChanged` when the handler completes. This is what was causing the lifecycle methods to re-run.

I've

[2022-09-17 15:07] #363 closed

[2022-09-17 20:31] brettwinters commented on #430
Hi @chrissainty

I was using `6.0.1` but upgraded to `7.0.0-preiew.4` as you suggested. Unfortunately, it hasn't solved the issue.

Interestingly enough, this 'hack' works. Could it be that we need an `ShowAsync` overload?

[code]

I don't think it's a BUnit issue since this also doesn't work

[code]

Just for my own sanity, I also confirmed that normal components don't have any issues...

[2022-09-19 14:29] chrissainty opened #441 "Update Getting Started guide to reference CSS Isolation support is mandatory in project as of version 7.0"
### Discussed in https://github.com/Blazored/Modal/discussions/440

<div type='discussions-op-text'>

<sup>Originally posted by **NonoSparc** September 19, 2022</sup>
Hi. I just upgraded an old project from 6.01 to 7.0 and the result was ugly. No styles were applied to dialog shown.

It happens that my project was not making use of CSS isolation at all so this line was missing in index.html:

[cod

[2022-09-20 17:54] chrissainty opened #445 "Have an "Automatic" option for ModalSize"
### Discussed in https://github.com/Blazored/Modal/discussions/443

<div type='discussions-op-text'>

<sup>Originally posted by **NonoSparc** September 20, 2022</sup>
In versions previous to 7.0, the size of the modal was adaptative to the Blazor component shown. It was not necessary to set the size at the time of the Modal.Show call.

Could it be possible to have this behavior as a option in the

[2022-09-22 13:48] laxedo17 opened #446 "Hello Chris! What to do if I want to simply create a style to set a Height and a Width feature to the modal and simply use that?"
I managed to add the Size to a modal, added some CSS and it works. What a mate asked me is to have an option to simply show a Width and a Height in the modal component, like when you use the typical style "hack" and set the width and height easily.

How could it be possible?

I admire your work and even purchased your book from Manning a few weeks ago. Also I used your LocalStorage library quite a

[2022-09-22 15:06] Schoof-T opened #447 "[Bug] After upgrading to 7.0, you get a Microsoft.JSInterop.JSDisconnectedException when 'unloading' the app"
**Describe the bug**
After upgrading to 7.0, when the app becomes unloaded (an unhandled exception occurs, you navigate out of the application...) you now get a JSInterop exception:

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Blazor Server project
2. Add and configure Blazored.Modal
3. Add a href to any page. E.g. `<a href="https://www.google.com">google</a>`
4. Run the App

[2022-09-23 12:42] thepigeonfighter opened #448 "Generic Modal Parameters[Feature Request]"
**Is your feature request related to a problem? Please describe.**
I've have accidentally passed parameters that don't match Component Parameter Types into the ModalParameters object because there are no Type constraints.

**Describe the solution you'd like**
Create a generic Modal Parameters class like:

[code]

As a note it is `AddParameter` and not `Add` to maintain backwards compatibility and

[2022-09-29 08:03] UweKeim opened #450 "Possible to "plug in" other modal libaries?"
Currently I'm planning on using [DxPopup](https://demos.devexpress.com/blazor/Popup) in my Blazor WASM application.

Still, the concept of your Modal library looks awesome to me.

I'm now searching for a way to adapt your library to work with DxPopup.

The most promising approach seems to me to simply look through the source code of your library and do the same things in my Blazor WASM application

[2022-09-29 08:38] chrissainty commented on #450
Hi @UweKeim, I don't see the value in what you're suggesting. If you want to use DevExpresses modal then just use that. I'm not sure what you're gaining (other than a lot of complexity) by trying to combine the two.

I don't want to waste your time here so this isn't something I would be interested in adding to the library.

[2022-09-29 08:39] #450 closed

[2022-10-03 13:14] jcantrel opened #454 "[BUG] Modal No Longer Opens After Update"
After updating to version 7.0 my Modals are now opening at the top of the window instead of a new layer.

Version 7.0
![image](https://user-images.githubusercontent.com/37300313/193584633-dbd9ff92-1607-4ec2-97e5-1ccbc6158829.png)

Pre-7.0
![image](https://user-images.githubusercontent.com/37300313/193584740-0d9073e9-e4fc-4305-b7d6-2a1a6ff4afe8.png)

[code]

[2022-10-03 13:27] jcantrel commented on #454
After further testing I see this error message in the console, but I checked and my set up still matches the Getting Started page in the documentation.

![image](https://user-images.githubusercontent.com/37300313/193589406-8c65791a-8879-457f-8fbe-8bd9ac52b029.png)

[2022-10-04 05:18] as-srandall commented on #454
I experienced that too. I had to roll back to 7.0.0.pieview.2

[2022-10-04 06:47] chrissainty commented on #454
Hi @jcantrel,

Can you provide a repro project? I'm guessing this could be an error in setting up Blazored Modal as `blazored.moidal.js` doesn't exist anymore so your project shouldn't be trying to load it.

[2022-10-04 08:35] #441 closed

[2022-10-04 08:41] chrissainty commented on #433
Closing due to inactivity.

[2022-10-04 08:41] #433 closed

[2022-10-04 15:05] Trapulo opened #455 "[Bug] Method not found: void Blazored.Modal.ModalParameters.Add(string,object)"
**Describe the bug**
After update from 6.x to 7.0, I have the runtime error
"Method not found: void Blazored.Modal.ModalParameters.Add(string,object)"

I cannot find why

**To Reproduce**
this is my code:

[code]

**Expected behavior**
Using old version the modal is working well.

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor WebAssembly
 - net 6

Any idea? t

[2022-10-04 15:34] Trapulo commented on #455
It seems some strange cross-reference problem with VS solution. Found a way to fix it, it's not related to the library, sorry

[2022-10-04 15:34] #455 closed

[2022-10-07 11:02] digitalsigi commented on #454
Same here. Unforutnately a big project with SQL Service behind, so providing a repro is not feasable

[2022-10-07 11:05] digitalsigi opened #458 "[Bug] Parameter ContentScrollable missing in V7.0.0"
**Describe the bug**
Options Parameter ContentScrollable is missing in V7.0.0, but still available in 7.0.0-preview2

**To Reproduce**

var opts = new ModalOptions(){ContentScrollable =true};

**Expected behavior**
ContentScrollable schould be available or some migration description

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2022-10-07 11:18] digitalsigi commented on #454
Installing 7.0.0.prieview.2

[2022-10-11 08:20] BeyondDefinition opened #459 "[Bug] Modal rerender for every keyup/keydown event"
**Describe the bug**
When using `[CascadingParameter] ModalInstance`, apparently the [onkeyup and onkeydown](https://github.com/Blazored/Modal/blob/v7.0.0/src/Blazored.Modal/FocusTrap.razor#L1) handlers in FocusTrap sets the CascadedValue every time any keyup/keydown DOM event is generated in a child component, which rerenders the component twice for every key press.

This causes OnParametersSet t

[2022-10-11 09:33] omasjoseph56 opened #460 "Blazor modal won't show in Production Environment[Bug]"
![image](https://user-images.githubusercontent.com/63697623/195054190-073bbd79-c2c7-42a9-ac5a-b6aa828e8d6f.png)

[2022-10-11 12:14] chrissainty commented on #459
Thanks for opening this issue @BeyondDefinition. I think the solution to this is pretty simple, currently the `BlazoredModalInstance` value that is cascaded down isn't fixed. I've just done a quick test and it look like setting it to fixed will resolve this.

[code]

[2022-10-11 20:57] BeyondDefinition commented on #459
That indeed solves it! Thanks!
I wish it was always as easy as adding `IsFixed="true"` to fix an issue!
Can you please include this improvement in the next release?

[2022-10-12 09:25] chrissainty commented on #460
Closing due to lack of information. Please fill out the bug template to raise a potential bug.

[2022-10-12 12:13] #459 closed

[2022-10-12 12:25] chrissainty commented on #458
Hi @digitalsigi, this option is not missing, it's been removed, With the new styling a scrollbar will automatically appear when content extends past the viewport making the old setting obsolete.

[2022-10-12 12:25] #458 closed

[2022-10-12 12:26] chrissainty commented on #454
@digitalsigi This is most likely a local issue within your application. As you can't provide a repro I'm going to close the issue. If you do manage to create one I'll take a look.

[2022-10-12 12:26] #454 closed

[2022-10-12 12:39] chrissainty commented on #447
Hi @Schoof-T, I've tried a couple of times now and I can't seem to repro the issue using the steps you provided.

[2022-10-12 12:42] chrissainty commented on #446
Hi @laxedo17,

I think you're looking for the custom size setting (https://blazored.github.io/Modal/configuration/size#using-a-custom-size). Outside of this I don't want to add any additional sizing options. The current options allow pretty much any option to be implemented.

[2022-10-12 12:42] #446 closed

[2022-10-12 14:13] kellyrmartin opened #462 "Blazored.Modal.bundle.scp.css not showing up when building with VS Code"
### Discussed in https://github.com/Blazored/Modal/discussions/452

<div type='discussions-op-text'>

<sup>Originally posted by **kellyrmartin** September 29, 2022</sup>
Hey Everyone

I just added Blazored Modal to my project. When I run it from VS Code the css doesn't seem to be showing up in the _content folder. However when I run the same project in Visual Studio it does. Here are a couple of s

[2022-10-14 05:44] reiluke commented on #447
I have the same issue, everytime i refresh i get 2 exceptions in javascripts, this is in version 7, did not notice in version 6, see attached new blazor just added blazor modal
[BlazorApp1.zip](https://github.com/Blazored/Modal/files/9782814/BlazorApp1.zip)

[2022-10-14 07:03] chrissainty commented on #447
Hi @reiluke, once again that isn't reproing. I'm think this could be a caching issue. Have you cleared your cache? This is almost certainly a local issue of some kind.

[2022-10-14 07:12] reiluke commented on #447
Hi Chris, but its a new project, attached at the bottom BlazorApp1
once the project is loaded in the browser, i press refresh there's 2 exception

![events](https://user-images.g
![exceptions in server](https://user-images.githubusercontent.com/37175362/195785080-11d9b8a5-9913-4026-ae85-684c689345d9.png)
ithubusercontent.com/37175362/195784709-b505918c-3c6c-4fbd-83af-1e8f24ef9d90.png)

[2022-10-14 07:15] chrissainty commented on #447
I don't know what to tell you, I've ran your project and refreshed and there are no errors. I'm not dismissing this but I can't do fix something that doesn't repro. If you can find something I can Action then I'll happily take a look.

[2022-10-14 07:52] depauwniels commented on #447
I have the same issue, made a completely new project and also encounter the 2 javascript errors.
[BlazorModalTest.zip](https://github.com/Blazored/Modal/files/9783699/BlazorModalTest.zip)

To reproduce, go to the counter page and press the "test" link. When the page opens you can see the 2 interop errors in the output.
![image](https://user-images.githubusercontent.com/9309997/195792332-bcf447dc-5

[2022-10-14 07:54] reiluke commented on #447
I debug the code and the exception is here, line 157, at first run its called only once, _stylefunction is null, if i refresh it, its called twice, first one its null, 2nd one is not null so i call dispose then exception occurs

[code]
removing await fixed my excception
[code]

[2022-10-14 08:08] chrissainty commented on #447
@reiluke @Niels-DP What version of .NET are you running?

[2022-10-14 08:13] Niels-DP commented on #447
@chrissainty .NET 6.0

[2022-10-14 08:16] reiluke commented on #447
.Net 6.0

[2022-10-14 08:19] Schoof-T commented on #447
I am also using .NET 6.0

[2022-10-14 08:20] chrissainty commented on #447
Ok, I can see the issue and I'll get a fix in place. What I still can't understand is why I can't get the error locally. Anyway, I appreacite the help figuring this one out

[2022-10-14 08:26] #447 closed

[2022-10-14 09:27] #445 closed

[2022-10-14 09:34] chrissainty commented on #286
I beleive the new documentation site now fills this requirement so I'm going to close this as complete.

[2022-10-14 09:34] #286 closed

[2022-10-14 09:40] chrissainty commented on #462
Hi @kellyrmartin, I'm going to clsoe this as it appears to be something external to this library (VS Code by the looks of it). There isn't anything I can do here.

[2022-10-14 09:40] #462 closed

[2022-10-17 12:54] fdonnet opened #465 "Multiple modal with passing data"
When I "Show" the second modal from the first one it closes the first one.

It's like the second modal "Show" call
ModalService.Show<Modal2>("TEST"), params) forces a close on the first modal and I don't know why.

I pass data from the main page to the first modal and from the sfirst modal to the 2nd modal I don't know if it can have an effect.

**Expected behavior**
First modal needs to remain op

[2022-10-17 13:08] fdonnet commented on #465
I found something => it's seems that it trigger the  OnValidSubmit event from the standard blazor <EditForm> compo (present in First modal). I don't know why. I will go deeper.

[2022-10-17 13:13] fdonnet commented on #465
Ok my bad : it seems that <EditForm> trigger the "OnValidSubmit" event on each button if you don't specify the type (type="button"). The default type is "submit" for each button in the <EditForm> tag. You can close the issue. SRY.

[2022-10-17 13:14] fdonnet commented on #465
No linked to the cool Blazored Modal compo.

[2022-10-17 13:14] fdonnet commented on #465
No linked to the cool Blazored Modal compo.

[2022-10-17 13:14] #465 closed

[2022-10-19 23:42] haakonfp opened #466 "[Feature Request] Better Custom Styling of Modal Header and Close Button"
For projects who do not use Bootstrap, it seems that the default styling for the header/title is not there. For example, I have a project using TailwindCSS, and have fully removed Bootstrap from the project. The default styling of the modal is reduced to the base text color and the base text font, particularly for the ``<h3>`` and for the Close button/span.

Here is an example of how it looks with

[2022-10-20 20:19] haakonfp opened #467 "[Bug] Events can instantiate multiple modals. Intended?"
I have a modal that is shown when an Action is invoked in a recurring async function. It will show multiple modals layered on top of each other, if the original is not removed before the function reoccurs.

For example, I have a function that uses an API call every 60 seconds to check for an application update. If there is a new update available, I want a modal to show. I have simplified the code

[2022-10-20 21:13] haakonfp commented on #467
While having multiple modals is not necessarily an issue in all cases, the background overlay gets applied each time. This creates a less and less transparent overlay, which may not be ideal.

[2022-10-25 13:40] sskieller opened #468 "[Feature Request] Allow access to specific modal instance inside modal to close parent modal"
Allow access to specific modal instance inside modal, so that you can close the first modal opened while still keeping the second modal opened.

First modal opened
First modal opens second modal
First modal closed using its own instance ref
Second modal still open

[2022-10-25 14:16] sskieller commented on #468
Right now, if you close the 'parent' modal a flash occur where the second modal is initialized twice

[2022-10-25 14:45] sskieller commented on #468
Updated with Repro

[2022-11-01 11:07] OpenEnergyGroup opened #469 "Disallow multiple modals of the same Type"
**Is your feature request related to a problem? Please describe.**
In Blazor Server, where there might be some milliseconds before the response makes it way back to the client, I've observed that a modal can be opened twice inadvertently, essentially by repeatedly hitting the button before the overlay is present. You can then end up with multiple identical modals stacked on top of each other.

**D

[2022-11-16 22:09] chrissainty commented on #467
Hi @haakonfp, this is the expected behaviour in this situation and by design. My immediate thought here is why you would want a modal in this situation? Is the modal allowing the user to perform an action of some kind? Or it is just informational?

[2022-11-16 22:10] #467 closed

[2022-11-16 22:23] chrissainty commented on #466
Hi @haakonfp.

Right now, the modal has minimal styling, by design, as everyone has there own way of doing things. The only reason it looks better by default with Bootstrap is Bootstrap provides styles for everything out of the box.

As you've shown, you can use Tailwinds arbitary values to style things, you could also create classes and use the [`@apply` directive](https://tailwindcss.com/docs/re

[2022-11-16 22:23] #466 closed

[2022-11-23 23:23] normanlc opened #476 "Full Content Page???"
Is there going to be a sample for "FullContentPage.razor" being utilized?

[2022-11-25 08:32] brettwinters commented on #430
Solved using `ExpectedException` attribute in the `Microsoft.VisualStudio.TestTools.UnitTesting` namespace

[code]

[2022-11-25 08:32] #430 closed

[2022-11-26 21:47] chrissainty commented on #476
What do you want to see from that sample?