[2019-02-01 02:39] iAmBipinPaul opened #2 "Fire event back to calling page component."
in this case  on button click it will show the modal window but how can we send back event from modal to this page.
let's consider  on button click a modal will open where we added a new movie now we need to refresh the page to show the newly  added movie.

[code]

[2019-02-01 10:10] #2 closed

[2019-02-15 09:02] chrissainty opened #11 "Ability to pass data back from the modal"
Currently, when you close the modal you can't directly pass any data back to the component that invoked it. It would be nice for developers to be able to pass arbitrary information back to the calling component.

This would be useful in a scenario such as a modal component adding a record. Where the developer may wish to pass back if the operation was a success or not.

Probably an overload of the

[2019-02-15 09:03] chrissainty opened #12 "Add a change log"

[2019-03-18 02:39] dharber opened #14 "I'm unable to make this work in a Razor Components project"
Calling ModalService.Show() doesn't appear to do anything.

This project seems virtually identical to the article https://www.telerik.com/blogs/creating-a-reusable-javascript-free-blazor-modal which I tried to implement in a Razor Components project. If I put all the files directly in the project it worked but if they were in a Razor Component Library the OnInit method of the BlazoredModal page is

[2019-03-18 05:19] dharber commented on #14
I found the problem. I was adding the @using's to the wrong _ViewImports.cshtml.

[2019-03-18 08:06] chrissainty commented on #14
@dharber glad you got it sorted. If you're happy I'll close the issue, feel free to re-open if you have any further problems.

[2019-03-18 08:06] #14 closed

[2019-04-05 05:16] Behnam-Emamian opened #15 "it seems close event is not working!"
Hi

this is my code
`void ShowModal()
    {
        ModalService.OnClose += ModalClosed;
        ModalService.Show("Add Database", typeof(AddDatabase));
    }

    void ModalClosed()
    {
        Console.WriteLine("Modal has closed");
        //await GetDatabases();
        ModalService.OnClose -= ModalClosed;
    }`

I cannot see message in console

[2019-04-06 17:53] chrissainty commented on #15
Hi @Behnam-Emamian, are you getting any error in the console?

[2019-04-08 00:35] Behnam-Emamian commented on #15
nothing :-\

[2019-04-08 02:04] Behnam-Emamian commented on #15
when I have change to call from
<button class="btn btn-primary" onclick="@ShowDatabaseModal">Add Database</button>
to
<button class="btn btn-primary" onclick="@(() => ShowDatabaseModal())">Add Database</button>

it is starting to work

[2019-04-08 02:13] Behnam-Emamian commented on #15
oh no!

it is because I have closed the modal by code
`ModalService.Close();`

[2019-04-12 08:32] chrissainty commented on #15
It looks like you've got everything working so I'm going to go ahead and close this issue. Please re-open it if you have any further problems.

[2019-04-12 08:32] #15 closed

[2019-04-30 13:35] #12 closed

[2019-05-03 08:35] #11 closed

[2019-05-19 15:42] tomRedox opened #18 "Does the example close the form after the Save?"
Hi Chris

Sorry, another question:

The example code has these two methods wired up in the `EditMovie` component:

[code]

The Cancel method is calling back to the `ModalService.Cancel()` to close the modal again, but the `SaveMovie` method doesn't appear to trigger the modal to close?  Is there some magic wiring in the background that makes that happen automatically (I don't think there is, but j

[2019-05-19 15:47] chrissainty commented on #18
Ask as many as you like 😄

You're correct there is no magic, you would have to make an additional call to the `Close` method on the modal service.

If you're happy to update the example I'd love to take the PR.

[2019-05-19 15:52] tomRedox commented on #18
Hi Chris, PR submitted!  I wonder if a convenience method of ModalService.Close() would be useful for those scenarios where a return object isn't needed?

[2019-05-19 15:52] #18 closed

[2019-05-19 17:02] tomRedox opened #20 "Should/could the modal Close cause a complete page re-render? (Feature Request)"
As far as I can tell, at the moment when the modal is closed (not cancelled) it doesn't trigger the StateHasChanged at the top level?

There are probably a lot of cases where the logic performed on the modal will update the rest of the page, so I think it could be useful if there was an option to tell the modal to trigger a re-render?

I've got round this by wiring up a ModalClosed method, but it

[2019-06-14 07:14] chrissainty commented on #20
Apologies Tom, I seemed to have let this one slip through the net. I’ll have a look into it and get back to you.

[2019-06-26 18:26] ITninja04 opened #23 "Occasional error when closing modal"
`System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.AspNetCore.Components.CascadingValue1.Microsoft.AspNetCore.Components.ICascadingValueComponent.Unsubscribe(ComponentState subscriber)
   at Microsoft.AspNetCore.Components.Rendering.ComponentState.RemoveCascadingParameterSubscriptions()
   at Microsoft.AspNetCore.Components.Rendering.ComponentStat

[2019-06-29 17:10] chrissainty commented on #23
Thanks for reporting this @ITninja04, could you put a repo with minimal steps to produce the error?

[2019-07-02 15:54] losdamianos opened #24 "Yes No Dialog Example"
Hello
could we have a simple example added which will present simple yes no functionality
I can see how can I pass parameter into modal object but in this case I would like to know how can I receive either YES or NO result NO would be also when user would cancel dialog
Thanks

[2019-07-03 08:29] losdamianos commented on #24
I re-read instructions and got it working in the end. all you need is read manual. sorry!

[2019-07-03 08:29] #24 closed

[2019-07-15 09:08] AmarjeetBanwait opened #25 "Feature Request: Add FluentApi"
It will be nice if the plugin will have fluent apis
eg.

[code]

we can add many options like
[code]

[2019-07-15 09:14] AmarjeetBanwait opened #26 "Wrap BlazoredModal.razor template in "if" statement"
In case of prerendering <blazoredModal> CloseIcon become visible momentarily.
It will be nice if we wrap Modal Template in "if statement" only visible after show method calling.

[2019-07-15 18:34] chrissainty commented on #26
Thanks for the suggestion @AmarjeetBanwait. I’ll have a look into this, also happy to accept a PR if you want to have a go?

[2019-07-18 04:10] AmarjeetBanwait commented on #26
I think It will be enough to replace string.Empty with some hidden class in BlazoredModal.razor

Before
`<div class="blazored-modal-container @(IsVisible ? "blazored-modal-active" : string.Empty)">`
After
`<div class="blazored-modal-container @(IsVisible ? "blazored-modal-active" : "blazored-modal-hidden")">`

and in style.css

[code]

I didn't check it yet but hope it will work

[2019-07-23 11:05] ArryMatt opened #27 "z-index too low"
Hi, I'm using MatBlazor as well as Blazored.Modal and I'm finding the Model does not sit over the top of the AppBar.

Investigating it seems that the AppBar has a z-index of 4 and the Modal has a z-index of 2.

I'll override the css for my app, but it might be worth the Modal having a higher z-index.

[2019-07-24 23:36] chrissainty commented on #26
Hi @AmarjeetBanwait, I’ve just been trying to replicate your issue. But the modal containers CSS is set too `display: none` by default. I also can’t seem to replicate the issue. Could you provide some repro steps?

[2019-07-24 23:38] chrissainty commented on #23
I can’t manage to replicate this issue and without any repro steps I’m going to go ahead and close it. Please re-open if you encounter the issue again.

[2019-07-24 23:38] #23 closed

[2019-07-24 23:45] chrissainty commented on #20
Hi @tomRedox, apologies for taking so long on this one. The idea is that you should handle the OnClose and decide what you want to happen. From a performance point of view you may not want a top level `StateHasChanged` to be called automatically, you may want to chose when that happens if at all. Also the `OnClose` event returns the `ModalResult` object which will contain anything returned from th

[2019-07-24 23:54] #27 closed

[2019-07-25 10:14] AmarjeetBanwait commented on #26
Hi @chrissainty, It seems working fine in Preview7.

However adding
`<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />`
results in "Not Found" I tried it with 3 new projects but in all server is returning "Not Found" for this css.

So I am closing this issue for now. and will open new for Css Not Found issue.

[2019-07-25 10:14] #26 closed

[2019-07-29 14:37] dbowser opened #29 "Causing Build Failure since VS 2019 Preview Ver 16.3.0 Preview 1.0"
This was working great for my Blazor project. However, after installing the VS update my build fails. This is on the Blazor.MonoRuntime.targets line with a huge list of parameters and gives a return of '-532462766' so not real helpful.
To reproduce just create the basic template blazor project from VS, test it, then add this package.

[2019-07-29 14:42] chrissainty commented on #29
Hi David, I’m using that version of Visual Studio without any issues. Also my team at work is as well. Have you installed the latest .NET Core preview and the latest blazor templates via the dotnet CLI?

[2019-07-29 14:49] dbowser commented on #29
Hmm, what specific steps do I need to take after installing the VS update? When I look at the NuGet package versions related to Core they seem to be the latest.

[2019-07-29 15:00] tomRedox commented on #20
Hi @chrissainty, no problem, just flagging it up as a thought.

[2019-07-29 15:00] #20 closed

[2019-07-29 15:43] dbowser commented on #29
Sorry, I didn't have the latest package version. Got it working now. Thanks :)

[2019-07-29 15:43] #29 closed

[2019-07-29 16:05] chrissainty commented on #29
Glad you got it sorted :smile:

[2019-08-01 18:35] Daniel-NP opened #30 "Possible Return Value"
Would it be possible to use the modal as a Prompt / Input-Dialog where the user can enter values that are returned?

[2019-08-01 19:41] Daniel-NP commented on #30
I'm sorry.... have found the already implemented solution while investigating source code.
`ModalService.Close(ModalResult.Ok(true));`
Closing.

[2019-08-01 19:41] #30 closed

[2019-08-06 07:22] 2nd4ce opened #31 "Modal Css not being included"
Hi Chris,

First, I must admit that I am new to blazor and asp.net.

I followed the installation guide, but in the end, I saw that the CSS is not included or at least not in 2.0.5.
When I added manually the css from the source here in site.css, it works fine.

Thanks for the great work!
Emiliyan

[2019-08-06 07:30] chrissainty commented on #31
@2nd4ce Thanks for reporting this. There have been a lot of issues with preview 7 and including static assets. I’m leaving things now till preview 8 comes out.

In preview 8 there will only be one way to include static assets and it will work for both client-side and server-side applications. Where as at the moment I have do fudge things to get it working for both hosting models.

Sorry I don’t ha

[2019-08-06 07:30] #31 closed

[2019-08-06 21:27] 2nd4ce commented on #31
I'm sorry Chris. I missed the "Important" notice in the beginning and went straight to the installation guide.

[2019-08-13 07:45] FrikkinLazer opened #32 "css not loaded"
I am running dotnet 3.0.100-preview7-012821.
This is a serverside app.

The css is not being loaded, even when adding the `<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />` line to _Host.cshtml.

Installing the nuget package does not add the blazored-modal.css file anywhere into the solution that I can see.

I have added the css file into my solution manually,  which wor

[2019-08-13 07:53] chrissainty commented on #32
Thanks for reporting this @FrikkinLazer.

Static assets have been a real pain in Preview 7 for some reason. Preview 8 will be out hopefully today or tomorrow and then everything changes again. Preview 8 will have a single, consistent way of managing library content. So I"m holding out till then and hopefully these issues will resolve themselves.

Apologies for now.

[2019-08-13 07:53] #32 closed

[2019-08-13 22:10] 2nd4ce opened #34 "Preview 8 - Client Side - CSS not loading"
Hi Chris,

Thanks for the ultra-fast update to 2.0.6. I have problems with the CSS again, but potentially, it is legitimate this time.

I put the link in the index.html, but the page reacts as there is no file behind.
<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

I used a workaround to put the content of my Modal/src/Blazored.Modal/wwwroot/blazored-modal.css into my

[2019-08-13 22:14] chrissainty commented on #34
Can you do a full clean and restart of VS then run your app and check in the dev tools > sources tab. Is there a `_content/Blazored.Modal` folder?

[2019-08-14 11:14] 2nd4ce commented on #34
Yep, I think it's due to something in my setup. I was using VS Code. When I started the project in VS, then the css is loading.

[2019-08-14 11:14] #34 closed

[2019-08-15 08:53] 2nd4ce commented on #34
Hi Chis,

If someone else hit the same problem, I found the issue. Apparently, launchSettings.json was missing. I use VS Code and generated the initial project of blazor with the CLI. However, launchSettings.json is not there. Only after opening it with the full VS, launchJson is generated.

Regards,
Emiliyan

[2019-08-16 18:14] b0rke5 commented on #34
Hi, Chris! First of all thanks for great libs for Blazor!
After last upgrade of Blazored.Modal to **2.0.6**  Blazored.Modal/blazored-modal.css gives 404 error, although _content/Blazored.Modal is present in Dev Tools \ Sources.
Using VS2019 Prev 16.3.0 and blazor version **3.0.100-preview8-013656**
Looks like an VS or template error..

[2019-08-16 22:02] chrissainty commented on #34
@b0rke5 Have you added the correct tag to your index.html or _Host.cshtml as per the readme?

[2019-08-18 08:47] cyberdarius opened #35 "Scrollable Content"
There is a way to make the content of modal scrollable ?

I'm developing an input dialog (bootstrap).
In full screen is ok, but on resized/mobile screen the content is fixed and not scrollable like in bootstrap modal. The scrollbar is visible, but it scrolls the parent page, not the modal itself.

[https://imgur.com/vf6DFB0](url)

There is any preferred way to achieve scrollable/responsive modal c

[2019-08-20 21:52] chrissainty commented on #35
Try setting a height on the `blazored-modal-content` CSS class then set `overflow-y: auto`. That should get you what you want.

Example:
[code]

[2019-08-21 17:51] b0rke5 commented on #34
yes, I've added this css tag in index.html right after update! I have no idea what happened, but it works fine now after a few days, probably browser's cache was the problem, thanks anyway!

[2019-09-04 07:13] YBAZAN opened #37 "Hiding the close icon"
Could it be possible to add a flag to show/hide the close icon in the modal?

[2019-09-05 15:42] chrissainty commented on #37
Done and is in the latest version!

[2019-09-05 15:42] #37 closed

[2019-09-05 15:44] chrissainty commented on #35
As I've not heard anything I'm going to go ahead and close this issue as hopefully, the above solution resolved your issue. Feel free to re-open if not.

[2019-09-05 15:44] #35 closed

[2019-09-13 19:26] SalvadorSarpi opened #40 "Feature: disable closing modal by clicking on the backdrop"
I need to be able to disable the closing of the modal by clicking on the modal backdrop. can I send a PR?
grat component, thanks for your work @chrissainty, this blazor thing is awesome and the stuff you have here too.

[2019-09-14 13:17] mvr-devs opened #41 "Is there a way to have nested modals ?"
Is there a way to have nested modals such that on closing the top most modal the second modal will show back up ?

[2019-09-15 15:36] chrissainty commented on #41
Hi @mvr-devs, at this point in time that is not possible - only one modal can be active at a time. What scenario would you like to have two modals active?

[2019-09-15 15:39] chrissainty commented on #40
Hi @SalvadorSarpi, sorry for the late reply, I've been on holiday. Yes, that sounds like a great feature and I'd love to receive a PR for it if you're still happy to do it?

[2019-09-16 14:07] mvr-devs commented on #41
Awesome Project BTW!  When building LOB apps we will launch a modal for editing an entry that has a related property with a select list drop down, then the user may need to add add a new item to the collection so we give them a button next to the dropdown to launch an editor for the related collection. When they are finished with either adding a new item or editing an existing one, ideally the 2nd

[2019-09-17 07:31] chrissainty commented on #41
Cool! Leave it with me and I'll see what I can do.

[2019-09-17 10:06] chrissainty commented on #40
@SalvadorSarpi I've added this feature as I was sorting the upgrade to RC1 and it was only a quick change.

[2019-09-17 10:06] #40 closed

[2019-09-17 13:04] mvr-devs commented on #41
Awesome Chris!  Thanks !!

[2019-09-23 17:08] natsuo opened #43 "Modal.Show() parameter for setting alternate styling"
Nyaamaste.

I'm using Blazored.Modal in a new project I'm working on, and I'm really liking the component so far. It's great that I'm able to tweak the CSS to fit my particular project's overall design.

I'd really like to see a new parameter to the `Modal.Show()` method to specify an alternate CSS style to use. This should default to `blazored-modal` in the project's CSS file, but can be replaced

[2019-09-30 19:13] natsuo commented on #41
I don't know the requirements for your modal, but would it make sense to turn off background-click-cancellation and just toggle the visibility of a "details view"? The details view would be part of the "master view" component (the component that acts like the modal).

With the custom stylings I'm working on in #44, you could make a modal that covers a large part of the view. When you click on the

[2019-09-30 19:31] natsuo commented on #25
A fluent interface / API would be nice, especially if more features are added (as seen in #44).

As for the example above. Are you looking to just customize the style of the modal, or make reusable modal templates (large modal, message box, error message, user information window)?

You could make a razor component with the design you want, then use the `ModalParameters` to fill the `RenderFragment

[2019-10-04 22:28] #43 closed

[2019-10-04 22:30] chrissainty opened #46 "Update the readme"
We now have a load of new features after merging #44. But the readme needs updating to reflect them.

[2019-10-05 09:21] #46 closed

[2019-10-05 09:39] natsuo opened #50 "Online demo of Blazored.Modal using assets from build process"
I found this nugget in the [Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.0#standalone-deployment):

`bin/Release/{TARGET FRAMEWORK}/publish/{ASSEMBLY NAME}/dist` folder.

I've seen some Blazor libraries host a demo of their library on GitHub Pages. Could the Azure Pipelines be set to copy the assets from the WebAssembly build

[2019-10-05 09:47] chrissainty commented on #50
I agree we need this. But instead of having individual sites for all the components in the Blazored suite, I’d like to create a central docs site.

Now, how that works I’m not quite sure yet. It may be that the central docs site just loads each projects GitHub pages site. I’m going to create a Home repo for Blazored where this can be tracked.

[2019-10-05 09:54] natsuo commented on #50
That sounds like a good idea. 😸

The "Blazored Demo" could have one .razor page for each of the components, with tabs explaining each of the features with the accompanying demo buttons and whatnot.

[2019-10-10 11:07] mhagrelius opened #51 "Cleaner Method Call"
Is there a technical reason why the Show(string, Type) syntax can't instead accept a generic parameter with a ComponentBase constraint for T? It seems like a nicer experience to do something like `Modal.Show<EditMovie>("Title")`.

e.g.
`Show<T>(....) where T : ComponentBase { }`

 I'd be more than happy to do some work on it and submit a pull request if this is an acceptable idea.

[2019-10-10 15:21] NPadrutt opened #53 "Async call on Close"
Is there an OnClose Version where I can use async? As far as I can see currently there has to be a void return type.
I try to reload my list when the dialog was closed but not canceled, but that does not seem to work that way.

[2019-10-10 16:31] natsuo commented on #53
Clicking the close button (cross) or clicking the background is considered a cancellation. If your modal has a Yes/No button for instance, they should return a ModalResult stating which button you clicked.

For instance, in a modal allowing you to select a customer, you could return a null value.
`Modal.Close(ModalResult.Ok<Customer>(null));`

[2019-10-10 21:19] NPadrutt commented on #53
That is what I am doing.

The dialog is opened with this:

    public void OpenCreateUserDialog()
    {
        Modal.OnClose += ModalClosed;
        Modal.Show(LocalizedStrings.CreateUserTitle, typeof(CreateUser));
    }

 I close the dialog with this:

            ModalService.Close(ModalResult.Ok(true));

and my close method looks like:

    private async void ModalClosed(ModalResult modalResul

[2019-10-11 08:18] NPadrutt commented on #53
I was able to solve this.

[code]

Not the additional call of `StateHasChanged`. It seems that Blazor wouldn't recognize automatically that it has to update the list.

[2019-10-11 08:18] #53 closed

[2019-10-11 08:42] chrissainty commented on #51
Hi @mhagrelius, the simple answer is no, I probably had this on a refactor list a long time ago which has since been lost in the depth of my notebook! 😆 . I completely agree using a generic parameter makes the whole experience much better.

I'd be happy to take the PR, I see you've raised it already are you happy with it as is?

[2019-10-11 09:40] chrissainty commented on #53
Hi @NPadrutt,

I'm glad you figured it out. Blazor needs to be told to trigger a re-render when operating in event handlers as they are outside of Blazor "view".

[2019-10-11 12:24] mhagrelius commented on #51
Yes, unless you'd like me to break it out into some more individual methods instead of one large one.

[2019-10-11 16:14] NPadrutt commented on #53
mh, makes sense. Though it confuses me a bit that it worked in the Event Handler of the MatBlazor Dialog. But maybe there is something different in the background :)

Thanks
Nino

[2019-10-14 21:43] #51 closed

[2019-10-17 18:56] rnielikki opened #54 "Responsible modal support for mobile"
in blazor-modal class in html, width is always 50rem, which cuts contents on mobile (or forced to scroll).

[2019-10-17 18:59] chrissainty commented on #54
We can look at adding responsiveness into the component. But for now you can either provide your own CSS class or override the `.blazor-modal` class in your own CSS.

[2019-10-21 23:53] dmarsh12 opened #55 "Cancelling a Modal w/ Parameters still returns the changes on the passed parameter"
Any action taken/modification on a passed parameter returns to the parent component even while using Modal.Cancel().

For example, if I have a List<string> object that I pass to a modal as a cascading parameter, modify the list in the dialog, and hit cancel/call the Modal.Cancel() function, the action taken on the parameter still is applied and passed to the parent component.

Is this intended?

[2019-10-22 18:15] ChrisClarke1218 opened #56 "Requires using Blazored.Modal in Startup.cs"
Hi All,

A quick setup step point:  your  step #1.  Register Services - missed adding the instruction - Add 'using Blazored.Modal;' to the startup.cs file.

[2019-10-23 08:31] RescueRangers opened #57 "After updating to 2.20 modals are "In the background""
Blazor Web Aassembly application. Blazor Version="3.1.0-preview1.19508.20.

After updating from version 2.1.1 to 2.20 or 2.30 every modal now looks like it's "in the background" clicking anywhere, even on the modal itself closes it.

Showing the modal:
[code]
Modal  is a simple form
[code]

Below is how modals look after updating:
![image](https://user-images.githubusercontent.com/48625686/6736951

[2019-10-23 08:40] RescueRangers commented on #57
I don't know why that is but when fiddling in the inspector turning off and on z-index of .blazored-modal fixes the issue for me. I have no idea what is causing this issue, since the cs looks the same in both versions.

[2019-10-23 08:56] RescueRangers commented on #57
After building one more time everything is working, I think it was an issue with css, .blazored-modal-wrapper did not have z-index for some reason.

[2019-10-23 08:57] #57 closed

[2019-10-23 13:37] chrissainty commented on #56
Hi Chris,

This wasn't missed, more omitted. But I appreciate we shouldn't assume everyone knows how to `ctrl`+`.` to add a using statement. I'll update the readme.

[2019-10-23 13:37] #56 closed

[2019-10-23 13:42] chrissainty commented on #55
Are you passing your list to the modal using the `ModalParameters` object?

[2019-10-24 09:34] jhunexjun opened #60 "How to pass values to parent component?"
How to pass values to parent component?

[2019-10-24 10:48] jhunexjun commented on #60
I have a checkboxes and I want those selected checkboxes passed to the parent component when the modal closes.

I'm done in the checkboxes data being added into a List, however, my issue is how to pass it to the parent who called the modal.

[2019-10-24 10:59] chrissainty commented on #60
This is what the `ModalResult` object is for. You can put the values in there and it will be returned back to the calling component.

[2019-11-01 10:53] chrissainty commented on #55
As I've not heard back I'm going to close this issue and assume it's resolved. If you have any further issues feel free to re-open.

[2019-11-01 10:53] #55 closed

[2019-11-01 10:55] chrissainty commented on #50
This is now being tracked by https://github.com/Blazored/Home/issues/1 on the new Home repo so I'm going to close this issue in favor of that one.

[2019-11-01 10:55] #50 closed

[2019-11-08 14:59] DrGriff opened #61 "Styling changes when moving from Development to Production environment"
Using Blazor (Server) addressing .Net Core 3.1 preview 2 (3.1.100-preview2-014569)

Under the launchSettings.json, I have the following:
[code]

When I run the application, the modal window has the following classes:

[code]
However, when I comment out the line (to mimic a PROD environment)
` //  "ASPNETCORE_ENVIRONMENT": "Development"`

I end up with:

[code]

The differences are causing the moda

[2019-11-10 15:01] chrissainty commented on #61
That's a very odd issue. I can't see how the environment variable could change what CSS classes are output, there is not logic which is based on the environment. Would you be able to post a minimum repro somewhere so I can take a look?

[2019-11-11 10:08] DrGriff commented on #61
I systematically dismantled the app until the problem disappeared, then re-assembled the application and the problem has not re-appeared.  According to my Source Control I'm back where I started but with different behaviour.  Seems that this is a non-issue.

[2019-11-11 10:08] #61 closed

[2019-11-14 06:43] kgday commented on #41
Excellent project and your articles on your blog have been extremely helpful. In addition to @mvr-devs the simple case of having a delete confirmation on top of a modal entry form is another scenario where this would be extremely beneficial.

[2019-11-15 10:04] Daniel-NP commented on #54
This works for me:

    .blazored-modal {
    width: auto !important;
    }

[2019-11-19 11:42] troepolik opened #63 "Allow pass onClose to Show method"
I'd like to pass onClose to Show method like win forms show dialog
It will free programmers from handle subscribe/unsubscribe.
Also it useful if any error was thown before unsubscribe
Look like that:
`
Modal.Show<MessageDialog>("Dance", parameters, onClose: ShowResult);
`
I have prepared branch with this feature , but I can not push it, seems I have not rights.
If you give me right, I will prepare

[2019-11-19 17:09] chrissainty commented on #63
Hi @troepolik,
Interesting suggestion, I look forward to your PR to see what it looks like.

You don't need any permissions to raise a PR. I suggest checking out GitHub's help pages on creating a pull request (https://help.github.com/en/desktop/contributing-to-projects/creating-a-pull-request).

[2019-11-20 09:38] troepolik commented on #63
Hi @chrissainty ,
unfortunetly I could not push my branch allow_pass_onClose_to_show_method to your repository...
logs here:
git.exe push --progress "origin" allow_pass_onClose_to_show_method:allow_pass_onClose_to_show_method

fatal: HttpRequestException encountered.
An error occurred while sending the request.
fatal: HttpRequestException encountered.
An error occurred while sending the request.
r

[2019-11-20 18:39] chrissainty commented on #63
That's because you are trying to push directly to the repo. You have to fork the repo first and then raise a PR from your fork into this repo. Again, please have a read of the GitHub docs, here is a [link to the article on forking](https://help.github.com/en/github/getting-started-with-github/fork-a-repo).

[2019-11-21 07:48] troepolik commented on #63
Thanks for explanation, I lose knowledge about fork. I'v created PR now.

[2019-11-23 21:40] chewabledrapery commented on #15
Hi,

I'm having this issue myself now in core 3.1 preview.

Pretty sure i've checked and double-checked my code and it looks correct, any insight appreciated.

Thanks.

[2019-11-23 22:10] chewabledrapery opened #65 "Modal close event not working - core 3/3.1"
Hi,

I'm having an issue getting the modal close event to fire, i've even downloaded and modified Index.razor pages in the samples and it does not work in either BlazorSample or ServerSideblazor projects..

modified index.razor code below, once the strresult variable is displayed as "modal shown" it is not changed when closing or cancelling the modal.

Help very much appreciated this is a bit of a

[2019-11-24 02:27] chrisd2k commented on #65
Are you sure it's the event not firing and not just the UI not detecting the state change?  I had to add a manual call to this.StateHasChanged(); to trigger a UI refresh in the ModalClosed event.

[2019-11-24 13:21] chrissainty commented on #15
@chewabledrapery Can you provide some code or some other context please.

[2019-11-24 13:33] chrissainty commented on #65
@chewabledrapery as @chrisd2k has stated the code is working fine you just need to manually call `StateHasChanged` to your `ModalClosed` method. Events like this happen outside of Blazor view and therefor it doesn't know it needs to re-render the UI, hence the need to call it manually.

[2019-11-24 13:33] #65 closed

[2019-11-24 18:33] chewabledrapery commented on #65
Hi @chrisd2k, @chrissainty

Thanks for the reply guys, you are indeed correct I've changed my code and its working now.

I'm new to blazor and not a particulalry accomplished web dev, i'm a winforms dev trying to drag myself into the 21st century so my understanding of the architecture is constantly improving.

Even though i'd employed StateHasChanged for some cascading dropdowns in the same compo

[2019-11-24 18:43] chrissainty commented on #65
No problem and welcome to web dev! 😃 Happy to help.

[2019-11-25 02:36] softwareguy74 opened #66 "Auto focus form control?"
Is there a way to automatically set focus to a specific field upon show so the user can just start typing without first having to select a field?

[2019-11-25 03:30] softwareguy74 opened #67 "Close dialog on Esc?"
Is it possible to somehow wire up the Esc key to close the dialog?

[2019-11-25 08:21] chrissainty commented on #67
Yes, I'll add this as an enhancement.

[2019-11-25 08:23] chrissainty commented on #66
There is nothing built in to do this. But I'm working on a new utilities repo called Blazored Essentials and this will be a helper there.

I'm going to close this as it's not specific to this repo.

[2019-11-25 08:23] #66 closed

[2019-11-25 14:30] softwareguy74 commented on #54
+1

[2019-11-25 19:52] dlasalde opened #68 "HTTP GET /_content/Blazored.Modal/blazored-modal.css responded 404 in Production Mode (ASPNETCORE_ENVIRONMENT = "Production")"
I'm using v2.3.0 of the Blazored.Modal and everything works fine if I set the environment variable:  ASPNETCORE_ENVIRONMENT = "Development".
But once I set it to "Production", I get a "HTTP GET /_content/Blazored.Modal/blazored-modal.css responded 404".

Here's what I have in my ConfigureServices method in the Startup:
` services.AddBlazoredModal();`

Here's what I have in my _imports.razor
`@usin

[2019-11-25 22:45] chrissainty commented on #68
Hi @dlasalde, your issue sounds very similar to #61. That seemed to end up being some weird caching issue or build problem. Might be worth trying a full clear down as per that issue.

[2019-11-26 12:54] DrGriff opened #69 "Use with the Code-Behind pattern"
I am using the Modal approach with one of my pages and it works a treat.  However, I'm trying to migrate to the "code behind" pattern, and the following method is now throwing an exception:

[code]

In my razor page, I do have:

`@inherits OwningComponentBase<MyService>`

More details are available on a related [StackOverflow](https://stackoverflow.com/questions/59051233/blazor-server-code-behind-

[2019-11-26 13:45] DrGriff commented on #69
The StackOverflow question solved my issue.

[2019-11-26 13:45] #69 closed

[2019-11-26 15:19] dlasalde commented on #68
@chrissainty I was able to reproduce this issue in a test project:
`@page "/fetchdata"

@using ContactManagementSystem2.Data
@using Microsoft.JSInterop
@using Newtonsoft.Json;
@inject WeatherForecastService ForecastService
@inject IModalService Modal
@inject IJSRuntime JSRuntime
     <body onbeforeunload="RemoveDataTableFromDOM('#example')">
        <h1>Weather forecast</h1>

        <p>This compo

[2019-11-26 16:06] dlasalde commented on #68
I found the solution [here](https://stackoverflow.com/questions/58862932/blazor-server-static-files-dont-link-in-non-dev-environments):
I was missing "webBuilder.UseStaticWebAssets()" in the CreateHostBuilder method that's in the Program.cs:
` public class Program
    {
        public static void Main(string[] args)
        {

            CreateHostBuilder(args).Build().Run();
        }

        p

[2019-11-26 16:08] #68 closed

[2019-11-28 17:43] Artem124Krsk opened #70 "OnClose not firing"
Hi!
I`m try your sample ServerSideblazor. Method ModalClosed not fire when i close modal but it fire when i calling method Show second time. I`m using VS 2019 preview 6.

[2019-11-28 20:16] chewabledrapery commented on #70
Hi,

I thought this was an issue but after advice from @chrissainty it turned out that I needed to call this.statehanged in my modal close procedure. Hope this resolves it for you it did for me 👍

[2019-11-29 03:23] Artem124Krsk commented on #70
Hi!
Thanks a lot for your advice, that has worked for me! But I dont understand why its works.

[2019-11-29 09:13] chrissainty commented on #70
@Artem124Krsk Hi, so the reason you need to call `StateHasChanged` is because the `OnClose` event happens outside Blazor's view and therefor it doesn't know the UI needs to be updated. Hence you have to tell it manually by calling `StateHasChanged`.

As you're all sorted I'm going to go ahead and close this issue. Please re-open if you feel there is still an outstanding problem.

[2019-11-29 09:13] #70 closed

[2019-12-02 19:27] mcrisafu opened #71 "Disable modal header"
Thank you for your awesome work!

Is it possible to not only disable the close button but also the whole header? I style my modals with bulma so I only need the modal-content. I can pass an empty title and disable the close button but there are still some padding pixel. I think an option to disable the whole header would be the easiest and least "hacky" solution.

regards
Marco

[2019-12-02 22:13] mykelboachie opened #72 "Scrollable Modal [Question]"
Do you have to add some code to make modals scrollable?

I have fields that are longer than screen length and it looks like my modal is just fits some on the screen preventing me from getting to the submit or close button to get the modal off the screen.

Please let me know if I am doing something wrong
![Capture](https://user-images.githubusercontent.com/16784541/69999632-f2c55c00-150d-11ea-81eb-

[2019-12-02 22:20] chrissainty commented on #72
Hi @mykelboachie, check out my comment on #35, that should sort your issue.

[2019-12-02 22:22] chrissainty commented on #71
Hi Marco,

Glad you like the control. Yes, that's a good idea, I'll add it to the pipeline.

[2019-12-02 22:24] mykelboachie commented on #72
@chrissainty Hey man thanks...That did sort my issue. Thanks for this fantastic tool

[2019-12-02 22:25] chrissainty commented on #72
No worries :)

[2019-12-02 22:25] #72 closed

[2019-12-03 11:45] jimmygilles opened #73 "RenderFragment for the Title"
Hello,

Currently, the Title is a string that cannot be updated once the modal is open.
It would be great to change from a string to a RenderFragment.

That would allow us to update the title based on data loaded asynchronously from a restapi for example.

Thank you very much !

[2019-12-03 12:08] jimmygilles commented on #73
Just to be clear.

In the dialog Razor file, there is something like that:

[code]

then, we can use it either:

[2019-12-03 12:12] jimmygilles commented on #73
What I wanted to say, I don't know if it's possible to use something like that:

[code]
and then:

[code]

Thank you.

[2019-12-03 21:36] fudgeboy2000 opened #74 "Modal visible during onClose"
Hi there - many thanks for your efforts with this component so far.  It's been really useful while I've been getting my project off the ground.

One thing I've used it for is for a confirm dialog - pops up, user clicks Yes or No, modal closes down and their choice is passed back to the onClose method via ModalResult.  Works well, but if the result of the choice is a noticeably slow operation (100

[2019-12-04 19:31] chrissainty commented on #73
@jimmygilles I've come up with the following, I hope it solves your need. You will be able to get access to the modal via a cascading parameter, you can then use the new `SetTitle` method to update the title of the modal dynamically.

[code]

[2019-12-04 19:45] chrissainty commented on #74
This is an interesting one. Both the modal and your code are subscribed to the `OnClose` event and I think your code is getting there first, as it were.

I could add an `OnAfterClose` event which fires after the OnClose but I'm not sure if that's just hiding bad design. Let me have a think.

[2019-12-04 19:55] fudgeboy2000 commented on #74
I think you're right about the bad design.  I did some digging today and I had some async code in a twist somewhere which blocked the UI thread, stopping the modal from hiding.  I reworked it to use a Task.Run and it works well now.  Coming from a mostly web background has done me in with this - my async experience needs some work!

[2019-12-04 19:56] chrissainty commented on #74
lol yeah, it does get fun at times. Are you running Blazor WebAssembly?

[2019-12-04 20:04] fudgeboy2000 commented on #74
No, it's server at the moment.  This project is a small-ish corporate intranet app so running in the browser isn't key, and I'm not allowed to build on preview tech.  I still wanted to get the general Blazor stack into the product estate as soon as possible though - it's a really exciting way of rapidly building good-looking .net core web apps without needing loads of experience in javascript fram

[2019-12-04 22:57] chrissainty commented on #74
That sounds like a good plan.

I couldn't agree with your thoughts more. Blazor is an extremely exciting tech for all the reasons you've mentioned. I'm very excited to see where we are in a few years time once WebAssembly gets more features.

I've actually decided to go with the other event approach for now. I think it's better the modal is dealt with separately to user code.

[2019-12-06 16:57] #54 closed

[2019-12-06 16:57] #71 closed

[2019-12-06 16:57] #73 closed

[2019-12-06 16:57] #74 closed

[2019-12-07 17:58] larsk2009 commented on #55
I was having this same problem, but it had to do with Entity Core 'caching' things or something along those lines, and nothing with what the Modal did.

[2019-12-07 18:26] larsk2009 opened #76 "ModalResult contain Modal Type"
I have a page where I want to show multiple different modals and do something different with the return value depending on which type is used when calling Show<T>.

I don't think this is possible right now. Am I correct in this assumptions.
If so, do you agree this is something nice to add? If you do I could see if I can make a PR for it.

[2019-12-08 23:34] fudgeboy2000 opened #77 "IE11 Support?"
I know, I know.  IE11 is horrible, but sometimes we have to put up with it.  I can totally understand if you don't want to sink any time into this, but if you have any advice on a starting point then I'm up for checking it out.

If I download the project, fire up the samples, server-side blazor, nothing works in IE11.  Not a fault of the modal package, just blazor itself.  If I then add daddoon's

[2019-12-08 23:51] chrissainty commented on #77
@fudgeboy2000 It will just be down to CSS styles and making them work with IE11.

I can't really remember now what is and isn't supported in IE11 style-wise. But I would expect I've used some more modern CSS rules which don't work. You'll need to find these and rework them to make them IE11 compatible.

[2019-12-10 08:36] chrissainty commented on #77
I'm going to close this issue as I'm not planning on adding IE11 support. Sorry I couldn't be more help.

[2019-12-10 08:36] #77 closed

[2019-12-10 08:38] chrissainty commented on #76
You are correct, multiple modals aren't supported right now. I'm working on adding this support in but I'm still deciding on how I want it to work. Once I've done that it might be good to have some help with it.

[2019-12-10 15:19] arumford opened #78 "Modal not appearing"
I have the code set up like the examples given:

**_Imports.razor:**
[code]

**MainLayout.razor:**
[code]

**_Host.cshtml:**
[code]

**Origin Component:** (truncated for brevity)
[code]

**Submit.razor** (modal component)
[code]

When I press the table cell in the originating component, nothing happens.  When I add a breakpoint to the OnInitialized method, it runs, but nothing ever appears.

Thoug

[2019-12-11 00:44] larsk2009 commented on #76
Good to hear. Please keep me in the loop and I will see how I can help

[2019-12-13 15:32] arumford commented on #78
That seems to have done it.

However, I am having another issue now.  Despite having services.AddBlazoredModal() in ConfigureServices in my Startup file, when I click on a button to open the Modal, I get the following:

[code]

Here is the AddUser component code:

[code]

[2019-12-13 19:08] larsk2009 commented on #78
I think `@inject ModalService Modal` should be `@inject IModalService Modal`

[2019-12-13 21:22] arumford commented on #78
@larsk2009 I made that change.  Thank you for that.  However, it's still not correct.  It's displaying the Component, but as HTML on the same page as the button calling the Modal.  It's not popping up, just added above the div where the button resides.

[2019-12-13 21:31] larsk2009 commented on #78
To me that sounds like a css issue, though I am not sure. Have you made the change @chrissainty mentioned and can you confirm the css file is used in the browser?

[2019-12-13 22:31] arumford commented on #78
@larsk2009 Yes, I did make that change.

[2019-12-14 09:54] chrissainty commented on #78
@arumford Have you done a hard refresh on your browser or cleared the cache to make sure that is not an issue? Otherwise, could you provide a screenshot or a repro of the issue?

[2019-12-15 12:19] dennismagno opened #79 "Using as confirm delete"
I have a Task DeleteCustomer if I call it directly on button click, the record was successfully deleted and list my html is updated.  But when I call it on ModalClosed, refreshing list doesn't seem to work.  The record is successfully deleted but not reflect on my Ui.

[code]

[2019-12-15 12:36] chrissainty commented on #79
You need to call `StateHasChanged` to let Blazor know it needs to update the UI. You need to do this because Blazor doesn't monitor custom event handlers.

[code]

[2019-12-16 07:03] dennismagno commented on #79
Hi Chris, thanks a lot for your reply and explanation about the problem that I have.

[2019-12-16 07:03] #79 closed

[2019-12-16 14:49] arumford commented on #78
@chrissainty Yes, I have.  I have also run in Developer mode of Chrome with Disable Cache set and rebooted my machine entirely.  Same result.

[2019-12-16 14:54] arumford commented on #78
I think I've found an issue.  blazored-modal.css is empty

![image](https://user-images.githubusercontent.com/23032495/70916608-98ce9700-1fe1-11ea-82b9-da283c0613fa.png)

[2019-12-18 14:51] chrissainty commented on #78
Yes, that certainly wouldn't help things :) It might be worth uninstalling the package and reinstalling if you haven't already.

[2019-12-19 04:00] juho-hanhimaki opened #81 "Add way to configure default ModalOptions"
Now its kinda tedious to pass options for each show of the modal.

In general I want the modals to always behave the same way so ideally there should be a way to configure once and forget.

[2019-12-19 10:09] chrissainty commented on #81
Agreed, you can specify all of the options directly on the modal component to avoid having to do this. You can see an example [here](https://github.com/Blazored/Modal/blob/dfb53d81dc4764000e4d619fab288b6ff0b35c09/samples/BlazorSample/Shared/CustomModalLayout.razor#L3) where the `style` option is being set. Any options you set here are global.

[2019-12-19 10:09] #81 closed

[2019-12-20 20:07] pablopioli commented on #78
Actually it should be
    <link href="~/_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

The link shown in the readme doesn't work also.

Tried in Blazor Server, will try later in Wasm

[2019-12-20 23:53] chrissainty commented on #78
Good catch, I missed the missing `_`.

[2019-12-23 18:53] pablopioli commented on #78
In the past I had problems when you use PathBase and you don't set **~/** in the link.

Cannot repro now, guess they fixed it.

[2019-12-24 10:59] chrissainty commented on #78
@arumford Have you managed to fix your issue?

[2019-12-27 15:33] arumford commented on #78
@chrissainty I have not.  And due to time constraints I had to move on to a custom modal solution.  Thanks for the help though.

[2019-12-27 17:43] chrissainty commented on #78
Thanks for letting me know @arumford. I’m going to close this issue then as there isn’t anything to go on.

[2019-12-27 17:43] #78 closed

[2020-01-03 14:44] DigitalPZ opened #83 "Controlling Width and Height of Modal"
I have successfully incorporated BlazoredModal into my project but every modal I show seems to be constrained in width and height. As a result, the content doesn't use all the screen real estate. I have looked at where the constraint might be but cannot find it. Any ideas?

[2020-01-03 14:48] chrissainty commented on #83
The modal doesn't have any constraints on it. The size of the modal is completely under your control. So you can either provide your own class for the modal with the style settings you want. Or the modal can just expand to the size of whatever it is displaying. So you can set the style on the component which is showing in the modal and modal should flex to that size.

[2020-01-03 15:06] DigitalPZ commented on #83
Can the modal have scrollbars?

[2020-01-03 15:43] chrissainty commented on #83
It can have what you want :) You're in complete control.

Give it whatever CSS styling you wish, scrollbars, hover effects, purple background, it's all under your control 😄

[2020-01-03 15:44] DigitalPZ commented on #83
I really need to up my CSS game. Thanks for the quick responses.

[2020-01-03 15:44] #83 closed

[2020-01-03 15:45] chrissainty commented on #83
It's definitely worth doing, you can achieve some amazing stuff now using CSS. I personally use SASS a lot to help manage it but it's a personal preference. Have fun!

[2020-01-08 13:38] VorTechS opened #84 "Modal dialog doesn't appear without additional CSS Tweaks (Blazor / .NET Core 3.1)"
After implementing the instructions as is using the NuGet package, despite the component I wanted to display in the dialog being initialized, no Blazored.Modal dialog was displayed.

It was however added to the DOM.

The following additional CSS was needed for the dialog to display:

    .blazored-modal-container {
        position: fixed;
        left: 0;
        top: 0;
    }

[2020-01-08 13:49] VorTechS commented on #84
Actually, maybe I just missed it! ;)  Sorry!

I'll also check if adding it where it's recommended solves the other display issue and re-raise if not!

[2020-01-09 08:42] chrissainty commented on #84
Hi @VorTechS,

Could you provide some code showing what you've done so far?

You shouldn't need to provide any additional CSS for the modal to function.

[2020-01-09 15:17] VorTechS commented on #84
Hi @chrissainty,

Thanks for the reply!

I followed the instructions on the GitHub page (after the instructions on your old Blog post were clearly out-of-date) .

So Startup.cs:ConfigureServices:

`            services.AddBlazoredModal();`

Modified Imports file with:

[code]

...and modified the _Hosts file with:

[code]
The modal is placed as per the instructions in MainLayout.cs:

[code]

Then,

[2020-01-10 09:56] chrissainty commented on #84
Thanks for the detailed information @VorTechS, much appreciated.

As you say, it's all pretty straight forward stuff. Looking at the CSS you added I'm wondering if some other CSS is overriding the styles from Blazored Modal. Looking at the styles you have to add:

[code]

The `.blazored-modal-container` class has the `position: fixed` by default. If you've had to re-state that then possibly someth

[2020-01-10 10:06] VorTechS commented on #84
I just removed the CSS I added, and you're right, it does have the ` position: fixed `  attribute, but it does not have a location of 0, 0 which puts it in the right place.

Dev tools screenshot from Firefox:

[https://1drv.ms/u/s!AvRDtKpR9Rqyn8loex6-pcs6VO5Yiw](url)

[2020-01-10 10:27] chrissainty commented on #84
You shouldn't need to use `top: 0` and `left: 0`. The modal is centred by default using flexbox. My gut feeling here is there is some other styling interfering with the modal defaults.

The image you linked isn't working for some reason, it just goes to a 404 page. But I wonder if you could send me a screenshot of the styles for the modal container element, this one `<div class="blazored-modal-con

[2020-01-10 19:56] rleath82 opened #86 "StateHasChanged() not updating parent component OnClose()"
Closing the modal using StateHasChanged() is not refreshing the parent component. Was wondering if anyone else was experiencing this issue?

[2020-01-10 21:16] larsk2009 commented on #84
[This URL works for me](https://1drv.ms/u/s!AvRDtKpR9Rqyn8loex6-pcs6VO5Yiw)

[2020-01-12 23:24] chrissainty commented on #86
@rleath82 Could you provide some example code showing your issue, please?

[2020-01-13 09:07] VorTechS commented on #84
Sorry, I guess I got my markdown wrong for the image Url, thanks @larsk2009.

@chrissainty The screenshot (via the link larsk provided) contains what you are looking for.

[2020-01-13 10:31] chrissainty commented on #84
@VorTechS So nothing looks out of place. I did notice you were using Firefox and I usually use the new Edge. So I wondered if it was some browser issue, but I've just run the sample app in FF and everything works as expected.

I'm a bit stumped on this one, to be honest. All I can think is that there is some styling in your project that is having an effect somehow but without going through all the

[2020-01-13 11:13] VorTechS commented on #84
@chrissainty  The issue appears to be irrespective of browser.  The same happens in Edge (although not tested under Canary as it's not installed on this machine), and Chrome too.

As I have a workaround, I have no complaints, and clearly no-one else has the issue or silently fixed it without mentioning it!

Perhaps though it's worth a small note on the README to mention that if anyone runs into pr

[2020-01-13 13:08] mshortt96 opened #87 "Modal doesn't close when previous/next browser buttons clicked"
Not sure if this issue has been raised before but I've noticed that the modal will stay open when the user navigates to the previous or next page in the browser's session history. Are there any plans for a fix?

Thanks in advance!

[2020-01-13 15:34] chrissainty commented on #87
Thanks for raising this @mshortt96, it's not something which has been brought up before.

I think we should be able to fix this by using the `NavigationManager.LocationChanged` event to detect route changes and close the modal.

[2020-01-15 14:12] ambiguousrocket opened #89 "Subheader parameter"
![Teams_2020-01-15_14-09-04](https://user-images.githubusercontent.com/42182755/72440392-a58d0900-37a0-11ea-84ad-707d0256ff47.png)

I'd like to be able to add a subheader as a parameter below the Modal title.

Thoughts? I can make a start on implementing this.

[2020-01-15 21:07] rleath82 commented on #86
https://github.com/rleath82/BlazoredTest

I've reduced most of the code to make it easier to look at. If you need anything else, please let me know. Thanks!

[2020-01-15 21:09] rleath82 commented on #86
Basically, I have an Index component that is calling an API to load data. I have a button that loads a modal form to edit that data. When closing the modal, the Index component is not refreshing to show the new data until I manually refresh.

[2020-01-15 22:56] chrissainty commented on #86
Thanks for providing some sample code. So the long and short of it is that you shouldn't need to call `StateHasChanged` at all. The modal does this internally as part of calling either `Modal.Close` or `Modal.Cancel`. Have you tried removing it completely?

I would also suggest checking out the sample applications in this repo for reference implementations.

[2020-01-15 23:12] chrissainty commented on #89
Hey, would you mind giving me a day or two to think on this?

I'm wondering if it would be better to implement a header template to allow developers full control over things rather than only be able to set some title text.

[2020-01-15 23:19] #76 closed

[2020-01-15 23:30] chrissainty commented on #84
I think I will leave it for now and see if it comes up again. If someone else starts having the same issue then there might be something I need to fix.

Thank you for helping investigate this one.

[2020-01-15 23:30] #84 closed

[2020-01-16 09:03] ambiguousrocket commented on #89
Cool! I think a customisable header template would be excellent.

I can work around it in the meantime with the HideHeader option.

[2020-01-17 14:54] joseazevedo opened #90 "From Version 2.x to 3.0"
Hello
In version 2.x

[code]

And in 3.0 this dont work anymore because i need to to include Show<_MyProject.Pages.std.Pages.MYPAGE_> but i cant use the MYTYPE like this: modal.Show<MYTYPE>(...)

[code]

[2020-01-17 21:13] aherrick opened #91 "ModalService.Close ?"
HI Chris,

What is the purpose of passing Ok result when closing? Most often I don't have to pass anything back to the parent, so I'd think just calling "Close()" should work.

` ModalService.Close(ModalResult.Ok("Blah blah blah :) "));`

[2020-01-18 11:21] chrissainty commented on #91
Hi, the short answer is it's probably a bit of extra work you shouldn't really have to do if you don't want to return something. The reason it's there is because no one has ever asked if it shouldn't :)

I think we could look at adding an additional overload to the `Close` method which would return a default OK result. You could then use a discard in your calling code to ignore that returned resul

[2020-01-19 00:17] larsk2009 commented on #90
You are right that you cannot do what you did in v2.x anymore in v3.x unless I am missing something. The v3.x function is using generics. The compiler needs to be able to infer the type at compile-time, which is not possible when using a variable for the type.

I can see this was changed by @chrissainty in [this](https://github.com/Blazored/Modal/commit/97bca4a268685205978d41b6356b4de2ffaed3e9#dif

[2020-01-19 10:02] #91 closed

[2020-01-19 10:18] chrissainty commented on #90
@joseazevedo I've added some new overloads to `Show` which allow the old type usage. It will be in the next release.

[2020-01-19 10:18] #90 closed

[2020-01-19 13:37] chrissainty commented on #89
I've been looking into this feature this morning and it's not going to be quite as straightforward as I hoped. The idea of a template is fine but it's a bit clunky for a developer I think. I've got some other stuff I need to get done right now, and as you have a workaround, I'm going to park this for a week or two and have a longer think.

[2020-01-19 13:43] chrissainty commented on #87
@mshortt96 I've just looked at this but I can't seem to replicate the behaviour. I'm using the sample app from the repo, if I open a modal then use the browsers back button the modal disappears as expected.

Could you provide a repro of the issue?

[2020-01-19 13:46] chrissainty commented on #86
@rleath82 Are you still having an issue? As I haven't heard anything for a while I'm going to close this issue for now. But please reopen it if you are still having a problem.

[2020-01-19 13:46] #86 closed

[2020-01-20 09:06] joseazevedo commented on #90
Thanks a lot Chris.

Chris Sainty <notifications@github.com> escreveu no dia domingo, 19/01/2020
à(s) 10:18:

[2020-01-20 17:32] subgurim commented on #84
Exactly the same is happening to me, and the left:0, top:0 thing worked for me.

Trying to find the problem, I've removed every external CSS and just left a loren ipsum div:

![image](https://user-images.githubusercontent.com/3378649/72746758-399d0d00-3bb3-11ea-9ad6-13b588a385a5.png)

[2020-01-20 18:57] chrissainty commented on #84
It's very odd, I'm not sure what to say here, to be honest.

[2020-01-20 22:02] larsk2009 commented on #84
I am pretty sure I have figured out the problem. I was having this problem in the beginning as well.

Looking at @VorTechS code, I think the `<BlazorModal />` is in the wrong place. It should be at the root of the document, and not inside a `<div>` like it is in his code. If I move the `<BlazoredModal />` to the position used by @VorTechS in the official sample, I can replicate this problem which

[2020-01-21 07:50] chrissainty commented on #84
That's a great spot @larsk2009!

@VorTechS Could you try moving your modal out of the div it's in and see if it resolves the issue?

[2020-01-21 14:19] Calkines opened #93 "Modal doesn't appear"
I have install Blazored.Modal (3.1.0), but the modal doesn't apear after doing the steps described in the start page of this repo.

The Model is Initializing, but won't appear in web.

To try trace what's happing I overrieded the OnInitialized:

<pre>
protected override void OnInitialized()
{
  Console.WriteLine("Component started");
  base.OnInitialized();
}
</pre>

And WASM was wrote "Component

[2020-01-21 14:58] #93 closed

[2020-01-27 16:44] VorTechS commented on #84
Good spot @larsk2009 - yes, indeed moving it out of that containing div does solve the problem!

[2020-02-01 08:28] anotherdeveloper opened #94 "Show and get result in single method"
Is it possible to get the results back in a single method call?
Something like var result=Modal.Show(...);

Or is it possible to wrap the method call in another method that gives the same result, i.e. something that doesn't disrupt program flow with a callback?

[2020-02-01 12:53] chrissainty commented on #94
The quick answer is no. When you invoke the modal by calling the `Show` method, you are, in fact, invoking an event which triggers the modal to show. Due to this, there is no way to return back to the calling code with a result.

[2020-02-01 13:05] anotherdeveloper commented on #94
That's unfortunate. Thanks for your reply.

[2020-02-01 13:06] chrissainty commented on #94
Could I ask what you dislike about the callback approach? This is very much the programming model for Blazor so I think you will encounter this a lot.

[2020-02-01 13:41] anotherdeveloper commented on #94
It disrupts program flow. var line =Console.ReadLine() is better than Console.ReadLine(OtherMethodWhereResultWillBeDelivered);

I haven't come across other examples of this in Blazor, but I'm only on my first Blazor project.

If anyone can think of a way to get what I want please let me know (other than timed polling).

[2020-02-01 14:43] chrissainty commented on #94
Blazor uses an event-based programming model, you're going to see callbacks used all over the place. Have a look at the [Blazing Pizza workshop app](https://github.com/dotnet-presentations/blazor-workshop/blob/master/src/BlazingPizza.Client/Shared/ConfigurePizzaDialog.razor) which has a dialog component. It doesn't do things the way you're looking for either but maybe it's closer to what you want.

[2020-02-01 14:43] #94 closed

[2020-02-03 22:25] Orgbrat commented on #41
I also need this functionality in my Blazor SSA. I am using your Blazored.TextEditor in a modal dialog to create an HTML document but I have an Insert Image button on the editor toolbar that allows me to upload an image to Azure thru my WebApi and then place the returned Azure URL in the HTML img tag src. But I need the Image Upload modal to open on top of the TextEditor modal so that it can creat

[2020-02-07 21:59] kiwiingenuity commented on #90
Chris,
Really appreciate the new show overloads!
Can you also add these overloads to IModalService please?

[2020-02-10 14:53] chrissainty commented on #90
@kiwiingenuity I've just pushed an update to NuGet. Let me know if you have any problems.

[2020-02-10 15:19] joseazevedo commented on #90
Works like a charme. Ty Chris.

Chris Sainty <notifications@github.com> escreveu no dia segunda, 10/02/2020
à(s) 14:53:

[2020-02-11 15:10] dazinator opened #95 "blazor 3.2.0-preview.1 upgrade"
Blazor 3.2.0-preview.1 has been released, is it worth upgrading?

https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/

[2020-02-11 18:58] chrissainty commented on #95
I'm not sure what you mean, is your issue related to this project? Or just a general question?

[2020-02-11 20:37] dazinator commented on #95
Sorry I should have been more clear.
With the release of blazor 3.2.0 preview 1, do you think it's worth updating the sample etc to reference the latest blazor packages and verify the modal still works with the latest blazor release?

https://github.com/Blazored/Modal/blob/master/samples/BlazorSample/BlazorSample.csproj#L14

Nope - wasnt meant to come accross as a general question about the worthw

[2020-02-11 20:38] dazinator commented on #95
- I'm using this modal in a blazor 3.2.0 preview 1 app just fine, so it's really just an issue about whether you consider keeping the sample up to date worthwhile for cosmetic purposes!

[2020-02-12 14:03] marciusnery opened #96 "Modal Container is appearing on the NavMenu"
Hi!

I'm using version 3.1.1 and on the main screen (MainLayout) the modal-container div is showing, and when I give a show on the modal, it's only open in that small space.

I'm placing the controller as below:
`<div class="sidebar">`
`<NavMenu />`
`</div>`

`<BlazoredModal DisableBackgroundCancel="true" HideHeader="true" HideCloseButton="true" />`

This problem started to happen suddenly. Before

[2020-02-12 14:07] chrissainty commented on #96
Can you provide all of the code for your main layout component please.

[2020-02-12 14:08] chrissainty commented on #95
Thanks for clarifying @dazinator 😄

Yes, it would be good to upgrade the Wasm project and keep it current. Happy to take a PR for this if you fancy doing it?

[2020-02-12 14:10] marciusnery commented on #96
[code]

[2020-02-12 14:13] chrissainty commented on #96
Thanks, everything looks good to me. Are you sure the CSS is loading correctly and that you've not got any caching issues with it? Have you tried a hard reload of the browser for example? Might be handy to see a screenshot of what's happening as well, if possible?

[2020-02-12 14:19] marciusnery commented on #96
My index page:

[code]

[2020-02-12 14:30] marciusnery commented on #96
The image:
[https://postimg.cc/mc4shj54](url)

[2020-02-12 14:44] marciusnery commented on #96
Another image

![blazor2](https://user-images.githubusercontent.com/4802400/74345549-02beaf00-4d8d-11ea-871c-374664374c0c.jpg)

[2020-02-12 15:28] chrissainty commented on #96
The CSS isn't being loaded for some reason. Have you tried clearing your cache as I mentioned earlier? This has happened before to other after an update. Also, check the sources tab in the dev tools and make sure the CSS file for the modal is showing.

[2020-02-12 16:45] marciusnery commented on #96
The content is empty. What to do?
![blazor3](https://user-images.githubusercontent.com/4802400/74356871-d1021400-4d9d-11ea-8177-176ffe207641.jpg)

[2020-02-12 16:47] chrissainty commented on #96
Could you please answer this question - **Have you tried clearing your cache as I mentioned earlier?**

If you have and that hasn't worked. I would suggest uninstalling the package and reinstalling it.

[2020-02-12 16:51] marciusnery commented on #96
Yes, I cleared the browser cache.

I will try to reinstall.

[2020-02-12 16:57] marciusnery commented on #96
Nothing works. I installed version 3.0.0, 3.1.1, cleaned the cache and the contents of the css file remain empty.

[2020-02-12 17:09] chrissainty commented on #96
Have you tried opening the site in a private/incogneto window?

I've just created a brand new Blazor project and added the package and everything works as expected so this is definitely a local issue.

[2020-02-12 17:16] marciusnery commented on #96
I cleaned up the solution, changed the ASPNETCORE_ENVIRONMENT environment variable on the client and server as they were different, and it worked.

Thank you for your support.

[2020-02-13 11:04] #96 closed

[2020-02-13 17:28] goodisontoffee opened #97 "Adding Blazored.Modal package to project causes Microsoft.AspNetCore.Components.Analyzer to be loaded twice"
This appears to be down to the Sdk.props file at C:\Program Files\dotnet\sdk\3.1.101\Sdks\Microsoft.NET.Sdk.Web\Sdk pulling the code analyzer into the project but it also coming in via the dependencies within Blazored.Modal.

If `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` is set then this causes a build issue. We can `<NoWarn>8034</NoWarn>` to prevent the build issues, but I figured I'd

[2020-02-13 18:48] chrissainty commented on #97
Hi @goodisontoffee, I've just tried to recreate your issue but I'm not seeing the error my end. What version of dotnet have you got installed?

[2020-02-13 18:50] goodisontoffee commented on #97
3.1.101

[2020-02-13 18:51] chrissainty commented on #97
Thanks, I have 3.1.100, I'm just updating now.

[2020-02-13 18:57] goodisontoffee commented on #97
And I’ll try it on another machine my end.

[2020-02-13 18:59] chrissainty commented on #97
I'm now getting the error on my machine as well, it's something to do with the latest .NET Core release.

[2020-02-13 19:17] chrissainty commented on #97
I've just updated the package, it seems I'd updated to 3.1.100 but not 3.1.101. It's just been pushed to NuGet and should be available in the next half hour. Let me know if you're still seeing an issue after the update.

[2020-02-13 19:22] goodisontoffee commented on #97
Already propagated and looks good to me. Thanks for the amazingly rapid response.

[2020-02-13 19:22] #97 closed

[2020-02-13 21:31] goodisontoffee commented on #67
PR raised https://github.com/Blazored/Modal/pull/99

[2020-02-13 21:40] chrissainty commented on #95
The project is now upgraded.

[2020-02-13 21:40] #95 closed

[2020-02-25 07:44] sencagri opened #100 "Adding parameters when generating component in service."
Hello,

When we want to pass parameter to the component. We have to add [CascadingParameter] attribute inside relevant component. Instead of doing this I thougt we can add attributes in service when generating component. But I can't see the disadvantages of this method for future use.

I just changed the service code like below :

[code]

[2020-02-25 08:18] chrissainty commented on #100
Thanks for your feedback, @sencagri.

Are you suggesting we try and dynamically add attributes onto the child component being rendered?

[2020-02-25 08:34] sencagri commented on #100
Yes. The downside part I found this kind of approach is you have to write the parameter names yourself. In case of refactoring this might be boring work.

[2020-02-26 09:09] chrissainty commented on #100
Yeah, that definitely an issue. The other concern I have is the use of auto-incrementing sequence numbers. This isn't a good practice and makes Blazors diffing algorithm less efficient.

Based on these issues I don't think this is something I'd want to implement, but thank you for the suggestion.

[2020-02-26 09:09] #100 closed

[2020-02-26 21:08] marciusnery opened #101 "Close Modal Async"
Hello, I need to close a modal while an asynchronous method is executed, but it is only closing when the execution is over. See the code below:

`<button type="button" @onclick=ConfirmarLeitura>Open</button>`

[code]

[code]

In the ReadFile method I would like to close the confirmation modal and open a new one to display an image loading while reading the file.

[code]

[2020-02-27 12:09] Blackleones opened #102 "async/await support"
Hi,

If I try to bing OnClose event to async method then I get the following error in compile time:
`'Task Index.ModalClosed(ModalResult)' has the wrong return type`

You can reproduce the problem with the following code:

[code]

[2020-02-27 16:37] Liero commented on #102
Just use `async void ModalClosed(ModalResult modalResult)`

[2020-02-27 18:53] Liero opened #103 "Implement ModalReference"
# Motivation

current API design forces to subscribe to long living object (ModalService) and to unsubscribe from it.
It makes the application prone to memory leaks and code can be harder to read.

# Proposal

 - [ ] IModalService.Show(..) should return ModalReference - representation of the Modal instance
 - [ ] Closed event should be moved to ModalReference
 - [ ] [Optional] ModalReference can b

[2020-02-27 19:02] Liero commented on #94
@chrissainty:

what about `var result=await Modal.ShowAsync(...);` :)

implementation:

[code]

[2020-02-27 19:34] Liero commented on #63
I strongly recommend against this API design.

First of all, it can be easily implemented as extension method in your own project.
Second, it violates design principles of modern C# frameworks. We shouldn't really follow old WinForms 👴
Thirds, it pollutes the `Show` method with already bunch of overloads with yet another parameter. We can add parameters endlessly, but there are better approaches,

[2020-02-28 15:01] chrissainty commented on #101
Hi @marciusnery, I don't think this is possible with the current way we do things with the modal. I'll need to do some investigation and get back to you.

[2020-02-28 15:03] chrissainty commented on #102
As @Liero points out, you need to change the signature of your `ModalClosed`.

[2020-02-28 15:03] #102 closed

[2020-02-29 14:26] marciusnery commented on #101
It would be very useful if you had that possibility. In cases where processing is slow, we need to display something so that the user knows what's going on.

Thanks for your attention.

[2020-02-29 16:19] chrissainty commented on #103
Hi @Liero, thank you for making this suggestion. It's an interesting design and certainly opens up some options for us with the control.

I've been quite busy the last few weeks with talks but I should be able to devote a decent amount of time to this over the next few weeks.

[2020-03-01 11:33] Liero commented on #101
#103 would enable this. We could add Close() method to ModalReference, but Im not convinced it is a good practice.

[2020-03-01 15:23] Liero commented on #103
Well, PR is done, including examoles, only waiting for review

[2020-03-02 07:35] troepolik commented on #63
Yes, If you can implement this API with awaitable result, it will resolve the problem too

[2020-03-03 11:26] chrissainty commented on #103
Hi @Liero, I've spent some time reviewing your proposal this morning but I have a few concerns.

Your code doesn't appear to do this, it returns an instance of the component being rendered inside the modal. There is still only one modal instance, so I don't think this opens any options regarding #41.

    signUpForm.FirstName = "John";
    signUpForm.LastName = "Smith";
    signUpForm.FormSubmitte

[2020-03-05 16:32] chrissainty commented on #103
Based on my comments above, I'm going to close this in favour of #106. Thank you for your effort on this, it was a great help in getting to the latest changes.

[2020-03-05 16:32] #103 closed

[2020-03-05 16:55] chrissainty commented on #25
I think with the changes we have made since this issues was opened, I'm not sure having a fluent API would be a good option anymore. I'm going to close this issue for now and if it is something people really want then we can take another look at it in the future.

[2020-03-05 16:55] #25 closed

[2020-03-05 17:05] chrissainty commented on #89
Hi @ambiguousrocket, I've been looking at this over the past couple of days and I don't think a customisable header option is going to work.

I think the route you have taken with hiding the header and creating your own in the component being displayed is probably the best option at this point in time. I'm going to close this as a won't fix for now but I'm happy to look at it again if there is eno

[2020-03-05 17:05] #89 closed

[2020-03-06 09:29] Liero commented on #103
@chrissainty: OK, thanks for your time.

Just out of curiosity, is there a documentation elaborating on this:

[2020-03-06 09:45] chrissainty commented on #103
@Liero I don't think there is anything "official" I can point you at for this, but the whole point of component parameters is to define the public API for the component. Blazor understands this and will correctly trigger rerenders when state changes, automatically, without manual intervention.

Just to be clear, I'm not saying you _can't_ modify component state by capturing a reference and accessi

[2020-03-07 13:48] Liero commented on #103
I see what you mean. Exactly the same situation is in Angular (Blazor is heavily inspired by Angular :) ).
However, the showed `Showed` event is supposed to be triggered in such event loop, where Blazor triggers change detection automatically (just like @onclick event, etc), so it should be safe. I just think typesafety is quite important and existing solution is not typesafe. I wish I could captu

[2020-03-08 14:59] #63 closed

[2020-03-08 15:05] chrissainty commented on #103
I think you miss understood my comment, I was referring to accessing the component being displayed in the modal, this code:

signUpForm.FirstName = "John";
signUpForm.LastName = "Smith";
signUpForm.FormSubmitted += () =>
{
Console.WriteLine($"Form has been submitted");
};

I'm not sure what you mean by typesafety though?

[2020-03-09 06:45] Liero commented on #103
No, no, I think I understood you well.
When the component is accessed and it's properties are changed directly in Showed event, it should be fine in terms of change detection - StateHasChanged is called automatically, or even better, it is called before it is rendered, so StateHasChanged doesn't have to be called.

By typesafety I war referring to ModalParameters. I don't like I have to do this:

[2020-03-10 08:55] myket opened #107 "Blazored modal simply does not work"
Perhaps I am the only one who cannot put this feature into operation... But I am sure that Blazored modal does not work based on the install guide you have written as a help. I have tried with a newly created blazor server side app. Unfortunately nothing happens if I click on the button..

[2020-03-10 08:57] chrissainty commented on #107
Hi @myket, I agree this is probably a local issue as there are a lot of people using the control. Could you provide some information about what you have tried, what errors you're getting (if any). Something that we can use to try and help you.

[2020-03-10 09:05] myket commented on #107
Hi, thank you for the quick answer. Unfortunately there are no errors that could lead to a solution. It simple does nothing. I have asked one of my friends, who works by a different company, to try it out and apply the setting covered by the description  and he told me same result.

[2020-03-10 09:06] chrissainty commented on #107
Can you create a repo with your code in it so I can take a look please?

[2020-03-10 09:26] myket commented on #107
Sorry for raising this issue. It was definitely my issue. Unfortunately I have skipped one step putting <BlazoredModal /> into MainLayout... Sorry for that and thank you for your promt support.

[2020-03-10 09:27] myket commented on #107
Putting "component name" into... (html tags will be skipped here)

[2020-03-10 09:37] #107 closed

[2020-03-11 07:17] troepolik opened #108 "Auto set parameters to component"
Now If you pass parameters to modal component you must get them from Parameters like this
[code]
It's a boilerplate code.
I want to do just that :
[code]
To achieve that we should modify render component and add all passed parameters to attribute:
[code]
And implement IEnumerable<KeyValuePair<string, object>> in ModalParameters class
[code]

But it breaking change because now we must declare this

[2020-03-11 07:38] larsk2009 commented on #108
Hi @troepolik. Please have a look at #106, I think that should do what you would like.

[2020-03-11 08:03] troepolik commented on #108
Hi! Oh, endeed))

[2020-03-11 08:16] #108 closed

[2020-03-11 12:13] #41 closed

[2020-03-11 12:13] #87 closed

[2020-03-11 23:40] prabhakarreddy1234 opened #109 "Can't reuse a component in Modal and Page"
I've a child component which is supposed to be reused in a page and modal. This child component takes a DTO object as parameter and binds DTO properties to controls. It works fine when rendered inside Page.

But the same child component when rendered inside a Modal does't work as is. Since the way Modal passes an Object  or DTO or Parameters is different. ModelProperties needs to be accessed as `P

[2020-03-11 23:49] marciusnery opened #110 "[Bug] Error after update to Blazor WebAssembly 3.2.0 Preview 2"
**Describe the bug**
Update the application to Blazor WebAssembly version 3.2.0 Preview 2 and when publishing I am having the following problem when trying to access.

In the event viewer I found a description of the error when starting the application in IIS. 

**To Reproduce**
Update the app to Blazor WebAssembly version 3.2.0 Preview 2, publish and try to access the website.

**Hosting Model (i

[2020-03-12 07:08] larsk2009 commented on #109
Hi @prabhakarreddy1234. This should be fixed in #106, so once a new version of Blazored.Modal is released, you can use the same components in pages and modals.

[2020-03-12 08:45] webebox opened #111 "[Bug] the type of namespace name 'BlazoredModalInstance' could not be found"
**Describe the bug**
I just installed Blazord Modal. everything works but when I want to use BlazoredModalInstance in the modal component it says  : the type of namespace name 'BlazoredModalInstance' could not be found.
I tryed to use Blazored.Modal.BlazoredModalInstance
but this component is not exists.
My version is 3.1.2.

[2020-03-12 08:48] larsk2009 commented on #111
Hi @webebox . If you are using v3.1.2 of blazored.modal, please see this version of the readme instructions: https://github.com/Blazored/Modal/tree/v3.1.0. THe BlazoredModalInstance is introduced in v4.0.0 of blazored.modal, which has not been released yet.

[2020-03-12 08:59] webebox commented on #111
Hi @larsk2009 , thank you for your reply. I just tryed the BlazorServer example, it includes 'Blazored.Modal' class library contains 'BlazoredModalInstance.razor'
So how I can close the modal inside it when I can not make use of BlazoredModalInstance.Close method ?

[2020-03-12 09:04] chrissainty commented on #111
@webebox If you [browse the repo at this point in time](https://github.com/Blazored/Modal/tree/3f8a54eaf3e4cdcc985ebe67249bb6c2f4ad3540) you can see the correct configuration you need.

Apologies for this, I'm hoping to push the new version today so everything will be in sync again.

[2020-03-12 09:07] chrissainty commented on #109
I'm going to close this issue @prabhakarreddy1234 as this should resolve later today when I publish the new version.

[2020-03-12 09:07] #109 closed

[2020-03-12 09:15] chrissainty commented on #110
Hi, @marciusnery. This could be down to the fact the current release isn't using the latest package versions. We have a new version which should hopefully be out later today that is fully up to date.

[2020-03-12 09:47] webebox commented on #111
@chrissainty  We are waiting impatiently! I asked the team to stop the project until your release.
Thanks

[2020-03-12 09:50] chrissainty commented on #111
@webebox This is something I do in my spare time, on top of a full-time job and other community activitiesd, FOR FREE. Please keep this in mind.

[2020-03-12 11:24] marciusnery commented on #110
Thanks! I'm waiting for this update.

[2020-03-13 11:34] #111 closed

[2020-03-13 11:35] chrissainty commented on #101
@marciusnery I've just pushed a new major version to NuGet with a new programming model using async/await. Hopefully this should improve your situation. I'm going to close this issue for now but please feel free to reopen if you have further questions/issues.

[2020-03-13 11:35] #101 closed

[2020-03-13 11:43] chrissainty opened #114 "Create a proper docs site"
I was trying to get this done for the v4 release but I just couldn't get it done in time. This is a tracking issue to make sure it actually gets done and doesn't get forgotten again.

Here's what I *think* needs doing:

- [x] Decide on either writing a custom site using Blazor or a static content generator such as Hugo
  - **Decided on DocFX**
- [x] Customise Design/theme
- [x] Setup domain - This

[2020-03-14 06:23] sylvainonweb opened #115 "[Bug] Nested modals doesn't work correctly"
**Describe the bug**
When the 2nd modal is closed, modal container refreshs its content so parameters of the 1st modal are reset to their original values

**To Reproduce**
Steps to reproduce the behavior:
1. Open a 1st modal passing some parameters (CustomerId = 1)
2. Change the value of the property (CustomerId = 2)
3. In the 1st modal, open a 2nd one
4. In the 2nd one, click on the OK button (th

[2020-03-14 10:40] chrissainty commented on #115
Thanks for reporting this @sylvainonweb. I think I know where the problem is, I'll try and get a fix coded up today.

[2020-03-14 13:36] chrissainty commented on #115
This isn't what I thought and doesn't look like a straight forward fix. It seems like changing any state in the modal resets any other value, which is really odd.

I've added a button to your `Popup1` component which updates the title of the modal using the `BlazoredModalInstance.SetTitle` method. If I increment the customerId to 2 and then press the button, the customerId is set back to 1 again.

[2020-03-14 14:08] sylvainonweb commented on #115
In fact, the matter is that the OnParametersSet is called and so reinitialize the property.
Since a long time, I tried to find a workaround and haven't been able to find one.
And unfortunately, I haven't seen a lot of people trying to write a Modal Service in Blazor

[2020-03-14 14:15] chrissainty commented on #115
@sylvainonweb I've worked it out, this isn't a bug, it's how you've designed your component. You shouldn't use `Parameter`s to hold state. I found [this issue that explains what's happening here](https://github.com/dotnet/AspNetCore.Docs/issues/17178) really well, so I won't repeat it.

The TLDR; of it is store component state in private fields not in `Parameter`s.

[2020-03-14 14:15] #115 closed

[2020-03-14 15:36] sylvainonweb commented on #115
I would have never thought about this. Great job, you save my,  day and probably more !!!
Can I ask you :
- if you already created a "real" application in Blazor ?
- if yes, did you use a library or did you finally create your own component ?

[2020-03-14 16:03] sylvainonweb opened #116 "General Question"
Can I ask you :
- if you already created a "real" application in Blazor ?
- if yes, did you use a library or did you finally create your own component ?

[2020-03-14 18:09] chrissainty commented on #116
Yes, I've created a few now.

I'm not really sure what you mean here.

I'm going to close this issue as there isn't anything about this library. But happy to keep chatting.

[2020-03-14 18:09] #116 closed

[2020-03-15 20:10] marciusnery opened #117 "[Bug] How to force the closure?"
**Describe the bug**
I am opening a modal to display a "waiting" image while processing is done. At the conclusion of the process I am calling the BlazoredModal.Close() method but it is not closing.

**To Reproduce**
[code]

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor WebAssembly

[2020-03-15 20:58] frankyjin opened #118 "[Bug] Cancel button on return data form cause null reference"
**Describe the bug**
Using the Returning Data example, once the modal opens, click on the Cancel button. This causes an object NULL reference error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Returning Data
2. Click on Show Modal
3. Click on Cancel
4. See error in console window

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2020-03-15 21:58] larsk2009 commented on #118
hi @frankyjin. I have found the problem. The example doesn't properly cancel the modal, instead just calling `Close`. This will close the modal without setting the `ModelResult.Cancelled`, thus the example tries to access the result data which is indeed null. I will make a pull request to fix this.

[2020-03-15 22:16] chrissainty commented on #117
The code you’ve included, is that being run from the first Modal instance?

[2020-03-15 22:32] marciusnery commented on #117
The complete code:

`<button type="button" @onclick=ConfirmReading class="btn btn-primary btn-block">Open File</button>`

The first modal asks for confirmation if the user wants to continue.

[code]

[code]

[2020-03-15 22:38] #118 closed

[2020-03-15 22:43] chrissainty commented on #117
How are you closing the second Modal? From the looks of your code, the second Modal is still active?

[2020-03-15 22:47] marciusnery commented on #117
I want to know how do I close. The Modal.Close() method no longer exists.

[2020-03-15 22:49] chrissainty commented on #117
You can only close a Modal instance from that instance. You can’t close it remotely.

[2020-03-15 22:52] marciusnery commented on #117
In this case how do I close?

Please say you have a solution. LOL

[2020-03-15 22:59] chrissainty commented on #117
As I said, you can’t close Modal instances remotely.

I would suggest reworking your implementation. For example, in your first modal, when the user confirms the action, you could trigger your long running task and update the UI there.

[2020-03-15 23:32] marciusnery commented on #117
Here is my first modal. I wait for the result of it to call the processing.

[code]

Could you give an example of how to solve this problem?

[2020-03-16 00:38] marciusnery commented on #110
The problem continues. My client project is in the standard .net version 2.1. From the message it looks like it's depending on version 2.0.

Could not find  'aspnetcorev2_inprocess.dll'. Exception message: Error: An assembly specified in  the application dependencies manifest (DVCE.Server.deps.json) was not found:  package: 'Blazored.Modal', version: '4.0.0' path:  'lib/netstandard2.0/Blazored.Mod

[2020-03-16 01:07] benhysell commented on #117
I just ran into this issue as well...

Was hoping to:

- Throw up a modal with a spinner and text, i.e. "Submitting"
- Do the actual work of sending the data to the server, checking for success or fail, etc.
- On success or fail take down the modal programmatically and throw up a toast with the resulting status

Am I reading this thread correctly...it sounds like once the modal is up the modal is

[2020-03-16 11:34] chrissainty commented on #117
@marciusnery @benhysell Could I suggest you open a new feature request issue so we can talk about adding this feature.

I'm going to close this issue however as this isn't a bug and the behavour is by design.

[2020-03-16 11:34] #117 closed

[2020-03-16 11:43] larsk2009 commented on #114
I think this is a good idea. If you need any help let me know.

[2020-03-16 11:50] marciusnery opened #120 "[Feature Request] Force the closure"
**Is your feature request related to a problem? Please describe.**
Was hoping to:

Throw up a modal with a spinner and text, i.e. "Submitting"
Do the actual work of sending the data to the server, checking for success or fail, etc.
On success or fail take down the modal programmatically and throw up a toast with the resulting status
It sounds like once the modal is up the modal is out of my hands

[2020-03-16 14:22] benhysell commented on #120
Was about to open my own feature request...I think this pretty much covers it.

I tried getting my hands on ` [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }` from the place I was submitting the form from, however when I tried to call close I received a null ref exception.

[2020-03-16 14:30] larsk2009 commented on #120
I also think this should be possible. I have had a quick look at how to implement it. I think the best way is to add a `Close` function to the `IModalService` which accepts either the `GUID` of the modal or the entire `ModalReference` and closes it. It could work in the same way as adding a modal works now, with an `event Action<ModalReference> OnModalInstanceClosed;
` to which the BlazoredModal s

[2020-03-16 19:55] chrissainty commented on #114
Thanks @larsk2009, could probably do with a proof read and some feedback before it goes live. I'll let you know when it's ready. I'm mostly there now.

[2020-03-17 01:22] SimonCropp commented on #114
if u think docfx is too much work i am happy to do a PR that leverages https://github.com/SimonCropp/MarkdownSnippets

you can see the type of doco it generates here https://github.com/SimonCropp/Verify

[2020-03-17 02:31] chrissainty commented on #120
Agreed, definitely possible. I was thinking about an implementation similar to your suggestion @larsk2009, but using the `ModalReference`. The nicest API to me would be a simple close method:

[code]

We'd have to inject the `IModalService` into the instance object to make this work and then essentially do what you've suggested.

[2020-03-17 09:01] larsk2009 commented on #120
Yep that is a better approach I think. Wouldn't be too difficult either I think

[2020-03-17 11:27] chrissainty commented on #110
@marciusnery I can't replicate this issue. I've tried on separate machines and both old and new apps and every time, the current version works fine.

Could you try creating a new app and installing the package and seeing if it works?

[2020-03-17 11:34] marciusnery commented on #110
@chrissainty Did you publish the application on IIS server?

[2020-03-17 12:06] chrissainty commented on #110
No I haven't. Is that where you're seeing the issue? Do you still get the same issue with a new app?

[2020-03-17 12:13] NBprojekt opened #124 "[Bug] Modal does not get added to the DOM"
Im using the Blazored Modal together with Telerik and the Modal dont get displayed.
Does not even appear in the DOM.  _Im using  Blazor Server_

**To Reproduce**
I followed the instructions in the [readme](https://github.com/Blazored/Modal/blob/master/README.md) and I still dont get it running.

Except [step 3](https://github.com/Blazored/Modal#3-add-modal-component) everything is the same.

My _M

[2020-03-17 12:15] marciusnery commented on #110
This problem only occurs when publishing the application on the IIS server. Running in visual studio does not occur.

I haven't tested it with a new application. I will update the .net core run time that came out yesterday, to see if it corrects this problem.

[2020-03-17 12:21] chrissainty commented on #124
Hi @NBprojekt, I assume you're not even seeing your "Component Started" message in the console? Have you referenced the Blazored Modal CSS file as per the docs as well?

Have you tried running the modal on its own without the Telerik controls? If so, does it work as expected?

[2020-03-17 13:10] NBprojekt commented on #124
Thank you for your fast response.

Yes I added the CSS and I tracked it in the dev-console, so it definitely get downloaded.
Also I don't get the "Component Started" message.

What exactly do you mean "_without the Telerik controls?_"?

The page where I try to open the Modal does not use Telerik components, the only part where i'm not sure if Telerik and this modal are compatible is in the  _MainL

[2020-03-17 13:22] chrissainty commented on #124
Could you put together a repro of the issue with the minimum amount of code?

[2020-03-17 13:43] NBprojekt commented on #124
Sure I'll, after that i will notify you.

[2020-03-17 15:15] marciusnery commented on #110
@chrissainty I found out what causes the problem. If you publish the application in debug mode, the error occurs.

I published in release mode and it worked. Thanks for listening.

[2020-03-17 15:15] #110 closed

[2020-03-17 15:45] chrissainty commented on #110
Glad we got to the bottom of it @marciusnery 🙂

[2020-03-17 15:52] NBprojekt commented on #124
I created a [example repository](https://github.com/NBprojekt/blazor-modal) where I use this modal together with telerik for blazor.

....

And it works, even with telerik components in the modal.

So it is a bug on my side and your modal works perfectly. 😄

[2020-03-17 15:54] #124 closed

[2020-03-17 15:57] chrissainty commented on #124
I'm glad the modal is working as it should, sorry to hear you have a bug though. Good luck! 🙂

[2020-03-17 22:57] chrissainty commented on #114
I've got a site up and working. Would be great if people could have a read over it and see if you can spot any issues. Still adding some bits.

https://blazoredmodaldocs.z33.web.core.windows.net/

[2020-03-18 01:24] #114 closed

[2020-03-18 01:28] chrissainty opened #125 "Social icons on docs site look ugly on mobile devices"
When viewing the docs site on a mobile device, the GitHub and Twitter links are breaking the design. It would probably be best to move them into the mobile menu.

[2020-03-18 12:33] larsk2009 commented on #114
Hi @chrissainty. Do you want seperate issues for things, or should I create 1 issue with things I find?

[2020-03-18 13:15] chrissainty commented on #114
If you could add things as separate issues that would be great.

[2020-03-18 13:23] larsk2009 opened #126 "Social media icons disappear on hover on docs"
On desktop the social media icons disappear when hovering over them. (I tested on edge, Firefox and chrome.)

When hovering over the twitter icon in the corner of the icon, I can see it turn orange like (I think) it is supposed to. When I put my mouse in the middle of the twitter icon or anywhere on the GitHub icon, the respective icon disappears.

Might be duplicate of #125.

[2020-03-18 13:26] larsk2009 opened #127 "`Improve this Doc` url doesn't work"
The link on the right of the docs site (the text is `Improve this Doc`) doesn't go anywhere, this is the url it points to:

https://github.com/Blazored/Modal/blob/merge/docs/src/index.md/#L1

[2020-03-18 13:40] marciusnery commented on #120
@chrissainty Do you have an implementation forecast and release date for this feature?

[2020-03-18 13:57] chrissainty commented on #120
@marciusnery No idea, I've been working in my spare time both evenings and weekends for the last two weeks getting the 4.0 release finished and the new docs site. But I'll get to this as soon as I can.

[2020-03-18 14:16] larsk2009 commented on #120
@chrissainty If you want I can have a look. If you want to do it yourself, no problems either. I don't want to step on you if you want to work on this.

[2020-03-18 14:17] chrissainty commented on #120
Hi @larsk2009, it would be great if you could have a look at this. Are you happy with the approach?

[2020-03-18 14:46] larsk2009 commented on #120
@chrissainty I think so. I can just have a look at the implementation, and if I run into any big issues we can discuss them?

[2020-03-18 17:06] c0g1t8 opened #128 "Valid HTML markup in samples"
**Describe the bug**
The HTML markup in the samples don't generate _valid_ HTML.  VS2019 16.5.0 flags it in Intellisense.

**To Reproduce**
For example, in _index.razor_
![image](https://user-images.githubusercontent.com/23250332/76986815-6c3b5b80-68ff-11ea-80a8-7716c0713f5b.png)

**Expected behavior**

The first **p** tag should be a **div**.

![image](https://user-images.githubusercontent.com/23

[2020-03-18 17:09] chrissainty commented on #128
Thanks for raising this @c0g1t8. It was a known hack I did to get some padding to the bottom of the cards. I meant to fix it before I merged but I forgot.

Happy to take PRs on this one.

[2020-03-18 17:09] c0g1t8 commented on #128
I can submit PR :)

[2020-03-18 18:44] #128 closed

[2020-03-18 23:15] ScottyBlazor opened #131 "missing blazored-modal-content in css file"
Thanks for this great example
in BlazoredModalInstance.razor there is a class used "blazored-modal-content"
but looking in the CSS file it is not there
I gather it is not super important and probably just has some min-sizes etc, but for completeness it should be added

[2020-03-18 23:17] #127 closed

[2020-03-18 23:20] chrissainty commented on #126
I have to admit, I knew about this one before I pushed everything, but after 4 hours of trying to work out why it happens, I gave up and meant to raise a bug for it. Thanks for catching it.

[2020-03-18 23:23] chrissainty commented on #131
Hi @ScottyBlazor, I think this is just a legacy class leftover from a previous version and isn't used anymore.

I'm not sure about the best way forward, we could remove it from the markup but developers may be using now in live apps and that would make it a breaking change. On the other hand, keeping it there doesn't really cause any harm so I'm leaning more towards leaving it alone.

[2020-03-18 23:27] #131 closed

[2020-03-19 00:44] ScottyBlazor commented on #131
Thanks for the quick response and clarification

[2020-03-19 01:07] c0g1t8 opened #132 "NU5048 'PackageIconUrl'/'iconUrl' element is deprecated"
**Describe the bug**
Warning when creating NuGet package

@chrissainty - I suspect you are aware of this issue but I didn't see it logged.

**To Reproduce**

Clean build of solution.

[2020-03-19 01:12] chrissainty commented on #132
Thanks @c0g1t8, this is fixed as part of #121 which should be merged anytime now. But thanks for raising.

[2020-03-19 01:12] #132 closed

[2020-03-19 16:14] brux88 opened #133 "[Feature Request] Generic Component"
excellent library, I was wondering if it was possible or is already in the plans, to be able to pass in addition to the title, also the message to be shown, the type of message so that an icon appears next to the title (wanirng, danger, info, etc ..) and the possibility to pass the type of buttons, for example OK, or Yes, No in order to create a generic window, instead of creating a component for

[2020-03-19 17:01] chrissainty commented on #133
Hey, this isn't something that we currently have but I don't think it's a bad feature to add to the library.

I think we might need this to be fairly strict in terms of API, so we could have something like this:

[code]

[2020-03-19 17:05] larsk2009 commented on #133
I agree this is nice, 1 or 2 generic ones, like the save modal, alone might cover most use cases for people

[2020-03-19 17:17] brux88 commented on #133
my idea was simply this i made a generic component:

`     <div class="custom-header bg-primary text-white w-100">
                    @switch (TipoMessaggio)
                    {
                        case ListeGenerali.TipoMessaggio.Info:
                            <span class="fas fa-info-circle header-icon"></span>
                            break;
                        case ListeGenera

[2020-03-20 10:09] brux88 commented on #133
i send a PR

[2020-03-20 10:42] win32nipuh opened #135 "I have updated to the latest version and cannot build the project"
After the updating to the latest version
[code]

After it I have rolled back to the previous version 3.1.2.

[2020-03-20 10:46] chrissainty commented on #135
Hi @win32nipuh, yes this is because v4 brings in breaking changes, we use semver to version the package so any change the the major version denotes a breaking change.

You need to read the either checkout the [readme ](https://github.com/Blazored/Modal/blob/master/README.md) file or checkout the docs site https://modal.blazored.com to see what changes you need to make to your code.

[2020-03-20 10:46] #135 closed

[2020-03-20 12:19] chrissainty opened #138 "Add a contributor guide"
We currently don't have a contributor guide and this makes it hard for people to know how they should go about contributing to the project.

Decide on what the contribution guidelines should be and add a new document to the repo to allow new contributors to understand our process.

[2020-03-20 12:48] win32nipuh commented on #135
Please check the code example at [readme ](https://github.com/Blazored/Modal/blob/master/README.md)

[code]

[2020-03-20 14:07] chrissainty commented on #135
Thanks for spotting that. Would you mind raising a PR with a fix?

[2020-03-20 14:20] win32nipuh commented on #135
As for me, it is not so important

[2020-03-24 12:16] mathiasjensenx opened #139 "[Bug] Modal is shown for a split second then disappears"
I have just updated to version 4.0. Most of my modals works as expected, but two of them is only shown for a split second and then disappears. From my point of view there is no difference in my code.

Here is my code for the faulty modal;

Modal:
[code]

Metod that calls the modal;

[code]

Clickable button;

[code]

[2020-03-24 12:39] mathiasjensenx commented on #139
Finally figured it out. Needed to remove href="" from the link.

[2020-03-24 12:39] #139 closed

[2020-03-24 16:50] yberstad commented on #139
Thank you so much for this, saved me, spend 3 hours on this yesterday....

[2020-03-24 19:34] gcaumont opened #140 "need to remove NavigationManager.LocationChanged event !"
To make BlazoredModal work in my application In my Blazor App I have to comment the line

            //NavigationManager.LocationChanged += CancelModals;

in the file BlazoredModal.razor.cs

Otherwise the modal window is immediately canceled ...

[2020-03-24 19:35] chrissainty commented on #140
Is your app opening the modal and then immediately navigating to another route?

[2020-03-24 19:58] gcaumont commented on #140
Sorry
I found the bug in my application
The buttton to open the modal form was also validating an edit context ...
Thanks for your fast answer

[2020-03-24 19:58] #140 closed

[2020-03-24 21:32] yberstad commented on #139
My issue was actually something else. I had a link within a tab controller. The tab controller had an onclick event doing a navigation to correspond with the current selected tab. When the I clicked the link it propagated up to the tab control, and triggered a navigation to the same page, making the modal disappear. My fix was eventually adding  @onclick:stopPropagation="true", like this:

`<a @on

[2020-03-25 10:31] win32nipuh opened #141 "Modal Dialog size"
I have a Form to edit data with 3 tabs
1 tab: 5 fields
2 tab: 3 fields
3 tab: 6 fields

Call it as Modal.
[code]

But when  I switch between tabs the dialog changes size.
Is it possible somehow to fix the dialog size?

[2020-03-25 11:14] larsk2009 commented on #120
Just a quick update. It has been very busy at work, but I it is almost done. Just want to do a last check and then I will make a PR in the coming days.

[2020-03-25 16:32] chrissainty commented on #141
Hi @win32nipuh, the modal doesn't have a size it just expands or contracts to fit whatever is being rendered inside.

You just need to set your `EditCustomer` component to the correct size.

[2020-03-26 07:16] win32nipuh commented on #141
Thanks you, btw, I understand that is not question to this topic but how can I set correct size for the razor component? As you wrote: if I call it as modal it will be resized and "jumps" when I click tabs. I see only one way: to set the same count of fields on each tab but it is not possible in a common case.

[2020-03-26 09:40] chrissainty commented on #141
No problem, you set the size using CSS. So let's assume your `EditCustomer` component has a main container element, like this:

[code]

You can define a CSS class which has a width setting, something like this:

[code]

Then you apply that to your container `div`:

[code]

[2020-03-26 18:23] kevinjpetersen opened #142 "[Bug] DisableBackgroundCancel doesn't seem to work in version 2.3.0"
**Describe the bug**
Setting DisableBackgroundCancel to True doesn't seem to have any effect. I can still close the Modal by pressing in the background.

I'm using version 2.3.0

**To Reproduce**
My code to open:
`Modal.Show("My App", typeof(MyCustomComponent), parameters, new ModalOptions() { DisableBackgroundCancel = true });`

It's worth noting that I'm using my own BlazorStandardModal from whe

[2020-03-26 21:00] kevinjpetersen commented on #142
So it seems that it's tied to the line
`<div class="blazored-modal-overlay" @onclick="@(() => ModalService.Cancel())"></div>`

I tried setting an if-statement so it's like this
`<div class="blazored-modal-overlay" @onclick="@(() => { if (DisableBackgroundCancel) ModalService.Cancel(); })"></div>`

But now you can never close it by clicking in the background. It's almost like DisableBackgroundCance

[2020-03-27 07:39] win32nipuh commented on #141
Thank you Chris, I see now.

[2020-03-27 09:05] #141 closed

[2020-03-27 09:37] chrissainty commented on #142
Hi Kevin,

I think, looking at your code, you still have elements from before `DisableBackgroundCancel` was added. Looking at specifically at this line in your `BlazorStandardModal`:

[code]

We haven't done that for a long time. We now call a method on the modal instance which checks the value of `DisableBackgroundCancel`, if it's true we just `return` from that method, otherwise, we run the canc

[2020-03-27 10:53] kevinjpetersen commented on #142
@chrissainty That makes alot of sense. I would love to get to the latest version, but may I suggest adding an extra overload to Modal.Show then? Otherwise I have to go through manually 150 places in my code and change stuff, and test it all over again.

The overload I'm talking about is:
`Modal.Show("My App", typeof(MyCustomComponent), parameters, new ModalOptions() { DisableBackgroundCancel = tru

[2020-03-27 11:22] chrissainty commented on #142
We do have that overload, it’s just the order is `Show(ComponentType, Title, Parameters, Options)`. Unfortunately we wouldn’t want to just change the order again. So we can’t help with this I’m afraid.

I’m not sure if you’ve seen the latest changes but there are further breaks to the old API as well. We no longer have the `Closed` event and we have moved to modal instances which you can await the

[2020-03-27 12:28] kevinjpetersen commented on #142
Ahh okay that makes sense then.

We only really use Modals as Confirmation boxes for stuff like "Are you sure you wanna do this?" type of thing, and in the 150 places we're using it there is no issues.

Funny enough, I solved the original issue just now by using the following code:
`<div class="blazored-modal-overlay" @onclick="@(() => { if (!ComponentDisableBackgroundCancel) ModalService.Cancel()

[2020-03-27 12:38] #142 closed

[2020-04-01 14:30] zstarkebaumcalico commented on #133
I agree with this approach, I'd rather incorporate components into a modal component instead of showing components modally.

[2020-04-02 11:48] #120 closed

[2020-04-04 09:28] ShaunCurtis opened #144 ".Close() & .Cancel() Methods no longer available in 4.0.0"
Hi
I have a project running 3.1.2 and have implemented to Close() and Cancel() methods in a component.

I've just added the same component to a new project which has version 4.0.0 installed. These methods appear to no longer be available.

Am I missing something or was this intentional?

[2020-04-04 09:34] larsk2009 commented on #144
Hi @ShaunCurtis.

A lot of stuff has changed with version 4.0.0, including breaking changes. Specifically the `close()` and `cancel`, they were removed from the interface as you found out. The modals are not closed using the IModalService anymore. You can read either the readme file or checkout the docs site https://modal.blazored.com to see what changes you need to make to your code for it to wor

[2020-04-04 14:29] #144 closed

[2020-04-04 14:59] ShaunCurtis commented on #144
No problem - thanks for replying.  Will go through the documentation.

[2020-04-06 12:26] benhysell commented on #120
I saw this issue was closed and was excited to try it out!  Then I realized it wasn't in the 4.0.0 release.
 Can you kick a new build and publish a new NuGet package?

[2020-04-06 12:45] larsk2009 opened #145 "[Feature Request] Prerelease nuget stream"
**Is your feature request related to a problem? Please describe.**
I see sometimes people are waiting for new features to be released. I understand this as you are also busy with other things than just working on this repo.

**Describe the solution you'd like**
I was thinking, maybe we can make a custom Nuget feed that hosts a pre-release package for either each commit or for each PR that is merge

[2020-04-06 16:38] chrissainty commented on #120
Hi Benjamin, apologies this hasn't been released. I want to add another PR but I've just not had the chance to do it yet. I'm hoping to get it done and merged this evening. Once that's done I'll get the release out.

[2020-04-06 17:19] cyberdarius opened #146 "[Feature Request] Allow CSS customization also for blazored-modal-wrapper and blazored-modal-container"
**Is your feature request related to a problem? Please describe.**
I normally use default css with success.
But my needs for some modal are different:

Problem 1 (MOST IMPORTANT):
I can't set a fixed width to "blazored-modal-wrapper" per custom instance (used only in 2 places, the others are component defaults)

![image](https://user-images.githubusercontent.com/51365598/78585356-fe1cf100-7839-11e

[2020-04-06 17:44] chrissainty commented on #145
Sort of like a nightly build?

I'm not apposed to the idea, it might be a good chance to try out the new GitHub package management stuff.

[2020-04-06 17:53] chrissainty commented on #120
Just pushed the release to NuGet. Should show up in your feed shortly.

[2020-04-06 18:24] larsk2009 commented on #145
Yeah like nightly indeed. If it can be hosted trough GitHub's packages that would be even better I think!

[2020-04-06 19:15] benhysell commented on #120
Downloaded, installed, worked like a charm!  Thank you so much for the awesome package!

[2020-04-08 08:33] chrissainty commented on #146
Hi @cyberdarius,

**Problem 1**
The modal doesn't have any width settings, the width of the modal is determined by the width of whatever component you display in it. Just set a width on the component being displayed and the modal will accommodate it.

**Problem 2**
I'm guessing you didn't use our preset styling for position before? You created your own? If that's the case I can see why the change

[2020-04-08 08:51] chrissainty commented on #146
Based on the above comments, we need to add an option to allow developers to specify a custom layout class.

Currently, the class is applied internally based on an enum value. The way I see this working is adding an additional option to the enum called `Custom`. If this is selected the developer would need to provide a class name for us to apply, this would mean adding a new property to `ModalOpti

[2020-04-08 09:20] cyberdarius commented on #146
Problem 1:
For some components didn't work for me (my fault, i'm a newbie, i'll try to deep my css knoledge).
I resolved overriding the css directly in the component:
[code]
Problem 2:
Yes, used my custom preset styling class for sliding (overflow-y) and mobile view with big modals with many fields that go over the height of the screen. (some sort of master/detail approach)

Temp Solution: I've ov

[2020-04-08 09:22] cyberdarius commented on #146
Yes, it will be perfect !

Thank you Chris, this component is VITAL for blazor development !

[2020-04-20 14:31] marciusnery commented on #120
Thank you very much for this feature. It's working perfectly.

[2020-04-20 15:37] my6521 opened #148 "[Bug] The height of the modal box exceeds the height of the screen without scrolling"

[2020-04-20 16:04] chrissainty commented on #148
The modal doesn't have a set height or width. It just expands to fit whatever is put in it. You need to set the height and width of whatever you are displaying in the modal.

[2020-04-20 16:05] #148 closed

[2020-04-20 16:11] my6521 commented on #148
I have set the height and width, the scroll bar appears on the far right to scroll, but the modal window cannot scroll

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Chris Sainty"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月21日(星期二) 凌晨0:05
收件人:&nbsp;"Blazored/Modal"<Modal@noreply.github.com&gt;;
抄送:&nbsp;"Wwb"<22379099@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nb

[2020-04-20 16:28] chrissainty commented on #148
Here is the link to the same question https://github.com/Blazored/Modal/issues/141. Maybe there is something there to help. But this is all CSS under your control, we don't set anything special on the default styles.

[2020-04-22 21:29] pcecamacho commented on #67
Hello
Any news related to this feature?
Thank you

[2020-04-25 08:53] chrissainty commented on #67
@pcecamacho We haven't added the feature so far. It would require a bump in the major version number as it introduces a breaking change and I would want to do that for such a small feature. We'll look at it when we add some other functionality.

[2020-04-26 06:04] Codingjames opened #149 "Blazored Modal not appearing or not working"
I need to use popup from blazored modal. I tried with another project it's work but why it not run in this project ? Please help me

** I install **
`> dotnet add package Blazored.Modal`

**On startup.cs**
[code]

**_import.razor**
[code]
**_Host.cshtml**
[code]
**MainLayout.razor**
[code]
**My Using Blazored Modal**
Create component  => Confrim.razor
[code]

**Call Confirmation component from Ind

[2020-04-26 07:41] Codingjames commented on #149
I found this bug. Becuase i close this tag. So How to use Blazed Modal without blazor.server.js ?
It's poblem to my UI
` @* <script src="_framework/blazor.server.js"></script>*@`

[2020-04-26 07:46] chrissainty commented on #149
Are you saying you’ve commented out the `Blazor.server.js` script?

If that’s the case then the component won’t work. This component is designed specifically for Blazor apps. Without the presence of either a `Blazor.server.js` or `Blazor.webassembly.js`, it’s not going to function.

[2020-04-26 09:42] #149 closed

[2020-04-29 20:46] joehatescoffee opened #150 "[Bug] Cancel Modal created in component in parent"
I recently upgraded BlazoredModal from 3.0 to 4.1.

I have three razor pages: Search, ImageStack, ImagePopup.

Search has a top search bar that is above all layers. The body reports results of the search.

Search utilizes component ImageStack in the results.

ImageStack helps me manage some html regarding the images returned in a search.
It is also the component that opens the BlazoredModal with `

[2020-04-29 21:03] larsk2009 commented on #150
Hi @joehatescoffee

Please have a look at [this](https://modal.blazored.com/usage/long-running-task.html) and/or [this](https://github.com/Blazored/Modal/pull/143)

If that doesn't help, let me know!

[2020-05-01 10:42] joehatescoffee commented on #150
I had previously look at the example.  All of them have the close or cancel being called from a component of the page that opened the modal.

My example has the modal being called called from a component of the page and being closed from the Main page.

After some time this morning, I did find a workaround.

I added the line `public static ModalReference modal { get; set; }` to the main page and i

[2020-05-01 11:13] larsk2009 commented on #150
Nice to hear you have found something that works.

Be careful about one thing though. As far as I am aware, static variables are shared across **ALL** users in Blazor **Server side.** See [this](https://github.com/dotnet/aspnetcore/issues/15451) issue. This means that if you are using server-side Blazor your solution may work for 1 person but not when multiple people are accessing your site becaus

[2020-05-01 12:01] larsk2009 opened #151 "[Bug] Readme.md documentation not updated Style => Class"
**Describe the bug**
The readme.md still contains the old `Style` parameter option instead of the new `Class` option. The documentation site, modal.blazored.com, does show the proper `Class` usage.

**Screenshots**
Readme.md:
![image](https://user-images.githubusercontent.com/7924568/80803697-6057e000-8bb3-11ea-90b1-caa7e881cff0.png)

modal.blazored.com:
![image](https://user-images.githubusercont

[2020-05-01 12:28] joehatescoffee commented on #150
Thanks for sharing that. I discovered it doesn't really work. (This is only my second project in Blazor)

Using two separate browser sessions, I opened a modal in each. The subsequent open broke the earlier and I could not close it.

I will have to dig deeper into this next week. Other projects are due.

[2020-05-01 12:29] richward1 opened #152 "[Feature Request] Modify Z-Index of Modal Components"
**Is your feature request related to a problem? Please describe.**
I can see the `z-index` of the modal container, wrapper, and overlay are set to ~100. My project contains various components that are z-indexed a lot higher than that, and the modal won't show.

**Describe the solution you'd like**
A bit more flexibility in customising certain parts of the modal, like the z-indexing.

**Describe al

[2020-05-01 12:33] chrissainty commented on #152
Hi @richward1, adding CSS overrides is the way to adjust this setting. We won’t expose individual CSS styles through component parameters.

I would suggest putting a repro together showing what you’ve done and we can take a look and try and spot what’s wrong.

[2020-05-01 12:36] richward1 commented on #152
Nevermind - I just found some weird character in my CSS that was breaking it!

I didn't think it was actually an issue with your code - keep up the good work :)

[2020-05-01 12:36] #152 closed

[2020-05-01 12:38] chrissainty commented on #152
Glad you got it sorted :)

[2020-05-01 17:48] #151 closed

[2020-05-02 22:26] StevenRasmussen opened #153 "Focus trap"
Do you have any plans to implement a focus trap to prevent users from using the keyboard to tab to elements outside of a dialog?

[2020-05-03 16:58] nssidhu opened #154 "[Bug] Modal does not show"
I am using Blazor Serverside.
Objective of the code is to display wait message

In button clicked i the following code

[code]
In between this is my code that takes a while

 modalRef.Close();

for me the Modal dialog does never shows up. the only other thing is that my button click is not async.

[2020-05-03 18:49] chrissainty commented on #153
It has been something that has come up so far. But that doesn't mean it wouldn't be worth look at. Is this a feature you would like to see? If so do you have any ideas about how you would implement it?

[2020-05-03 18:51] chrissainty commented on #154
Hi @nssidhu, could you please provide a minimal repro of the issue so we can see what is happening?

[2020-05-04 14:15] StevenRasmussen commented on #153
This is definitely something I would like to see... and I think as more people start to use the package this will become something that more are looking for, especially to conform with accessibility requirements.  Unfortunately I don't have any really good input as far as the best way to implement it, especially without introducing JavaScript (and I know that one of the declarations of this librar

[2020-05-05 03:13] pablopioli commented on #154
Don't know if it is related, but I found a case in which the modal don't appear.
[code]
I added the href to keep Bootstrap styling and lost the modal. What puzzled me was that the ShowModal method was called.

Still haven't look at the source code to see what could be happening.

[2020-05-05 06:40] chrissainty commented on #153
Thanks for the info @StevenRasmussen. We can take a look and see what we can do. Also, I'm not stubborn about keeping the library JS free, it's just so happened that we have been able to achieve everything so far without the use of JS, but I don't want to limit the usefulness of the library just to keep that claim.

[2020-05-05 06:45] chrissainty commented on #154
@pablopioli I would suggest not writing that kind of code. In that scenario, I would suggest you use a button instead and there are classes in Bootstrap which can style a button like a link if that's what you need it to look like.

[2020-05-05 14:46] pablopioli commented on #154
Sure, I just ended overriding Bootstrap styles to get the effect I wanted.

[2020-05-05 14:58] nssidhu commented on #154
Yes, i am showing modal via method call, the way i got it working is adding Task.Dely(500) right after ShowModal() method call

[2020-05-05 15:13] pablopioli commented on #146
Seeing this as up for grabs. Need any help with this? Seems you can already figured out, I can make a pull request of it.

Watching the tests I guess another one can be made for this feature.

[2020-05-05 15:42] pablopioli commented on #154
You are not triggering the render phase (StateHasChanged), so when you insert a delay Blazor sees it has free time and rerenders the screen.

The way you invoke the method call is not triggering the automatic refresh.

[2020-05-05 16:14] chrissainty commented on #146
@pablopioli Yes, more than happy for you to take this one. Thanks for the help.

[2020-05-05 16:18] chrissainty commented on #154
@nssidhu I don't think there is going to be anything we can do unless you can provide us a working reproduction of the problem. Will you be able to do that?

[2020-05-05 18:08] pablopioli commented on #146
OK, I'll take it. In a couple of days should be done.

[2020-05-08 10:09] chrissainty commented on #154
As I've not heard back for a few days I'm going to close this issue. Please reopen if you can provide us with a working repro of the issue.

[2020-05-08 10:09] #154 closed

[2020-05-08 10:15] chrissainty commented on #150
This sounds like a design problem and not so much an issue with the model. I don't think there is any work for us to do here so I'm going to close this issue.

If you need help with your design please ask here and we will help as much as we can.

[2020-05-08 10:15] #150 closed

[2020-05-08 10:29] chrissainty commented on #133
I've been thinking about this feature request and upon reflection, I'm not sure it's the right way to go. The goal of this library way to provide an easy and highly customisable way of showing models in Blazor apps. Allowing the developer to create any type of component and having Blazored Modal just display it in a modal UI achieves that goal really well.

If we start creating, essentially hard-c

[2020-05-08 10:29] #133 closed

[2020-05-08 18:38] dbaule opened #156 "Providing ModalResult.Ok(value) does not close modal"
When I'm closing my modal with the following method the Transit value is provided to the awaiting method but the modal window does stay open, only when I call the HandleSubmit() method again does the modal close.
BlazoredModal is a CascadingParameter of type BlazoredModalInstance.

`public void HandleSubmit()
        {
            BlazoredModal.Close(ModalResult.Ok(Transit));
        }`

My awaiti

[2020-05-08 19:15] larsk2009 commented on #156
I don't know if anyone else has had this issue, but if you provide a minimal repro of this issue then it will be easier to help.

[2020-05-09 10:16] NatanBagrov commented on #154
Hi, I can also confirm that once migrated from the latest 3.x.x to 4.1.0 (and fixed the breaking-changed) - the Modal don't show up (however, is initialized).
Maybe there are some additional files that did change but were not committed by mistake?
I can try to provide a repro, in case needed.

Also, just downloaded the repo, and the Modal looks like this:
![image](https://user-images.githubusercon

[2020-05-09 10:27] dbaule commented on #156
Alright, I'm dumb... sorry.. i had a loop in my code that reopened the modal after i closed on the first time... closing this issue now, sorry.. but thanks for your quick reply

[2020-05-09 10:27] #156 closed

[2020-05-09 10:38] NatanBagrov commented on #154
With regards to the original issue, looks like the current `.css` override I had breaks it. I will try to locate the problematic line.

[2020-05-09 11:25] NatanBagrov commented on #154
Ok, so this was the relevant `.css` snippet that worked for 3.x.x, and was overriden:
[code]

And the fixed:
[code]

[2020-05-09 11:28] chrissainty commented on #154
@NatanBagrov Sorry I’m confused, are you saying there is a bug in our CSS or yours?

[2020-05-09 11:39] NatanBagrov commented on #154
Mine. Just for others to note, that this might be the case.

On Sat, 9 May 2020 at 14:28 Chris Sainty <notifications@github.com> wrote:

[2020-05-09 12:28] chrissainty commented on #154
Got ya, thanks for the clarification 👍

[2020-05-09 16:06] pablopioli commented on #146
@chrissainty
I'm working on this and I would like to know how you would like to proceed. To implement the custom position you need to write code like this

[code]

You need to override the wrapper or the overlay has a wrong position. It's something you would like the user to do? Or you would like to hide the internals of this?

[2020-05-09 16:30] chrissainty commented on #146
It would be inline with how we do it now but I'm open to suggestions if you have a suggestion. One thing to consider is that implementing this feature the way I suggested above wouldn't cause any breaking changes.

[2020-05-09 19:21] pablopioli commented on #146
So there are 3 options:

1. Make a breaking change modifying the wrapper
2. Make the user to remember overriding .blazored-modal-wrapper
3. Make some ugly changes in BlazoredModalInstance, so the custom class targets the wrapper. You can see what it involves in
https://github.com/pablopioli/Modal/commit/805bdfc7bf851bc301231e3bcc82c769cc9fdb61

It's up to which you prefer regarding the direction y

[2020-05-10 10:31] NatanBagrov commented on #154
No problem :)
Note however, that the screen-shot has to deal with the downloaded .zip from this repo.

[2020-05-10 10:56] chrissainty commented on #154
@NatanBagrov I think you may have an issue with cached CSS in your screenshot. I edit the modal repo on 4 different machines and there is no issue with how things display.

[2020-05-10 11:36] NatanBagrov commented on #154
@chrissainty, I've invalidated cache, and also tried both Chrome and Safari, both regular and incognito - still same result. I was running Blazor Server. Anyway, maybe that's just a glitch in my machine...

[2020-05-10 11:40] chrissainty commented on #154
That's interesting, thanks for letting me know - I've done the same my end and everything still displays as expected. I can't really do anything if I can't replicate the problem though :( We'll just have to see if it comes up for anyone else and deal with it then.

[2020-05-10 12:45] chrissainty commented on #146
So looking at the current code now, I'm not sure why I put the position class here:

[code]

When it could have easily gone here:

[code]

I think we need to move `@Position` to be alongside `blazored-modal-wrapper` as per the example above.

[2020-05-10 21:47] pablopioli commented on #146
I agree, it will make the code simpler, even in other parts. Will make those changes and send them back to you.

The majority of people that restyled the component should be fine, also.

[2020-05-13 09:40] ctigrisht opened #157 "[Bug]"
On mobile view, the modal is not scrollable, so it will block the ui on the modal

[2020-05-14 06:15] chrissainty commented on #157
Hi @ctigrisht, I don't see this as a bug, this is easily configurable with CSS. We've deliberately kept the CSS for the modal as simple as possible to allow people the most flexibility.

Adding the following class will fix your problem:

[code]

[2020-05-14 06:15] #157 closed

[2020-05-14 16:06] OverlordEx3 commented on #154
Hi, I don't know if this may help but i experienced the same issue.
In my case, I solved it by changing in _hosts.cshtml the css link:
[code]
to:
[code]
The first snippet is what i had. I don't know when or who wrote it, since i was assigned to this project recently, but changing that made my modals appear.

[2020-05-15 19:50] nssidhu opened #158 "[Bug] cannot dismiss the dialog"
I am displaying the dialog
  var modalRef= modalDialogService.Show<CustomDialog>("This is my title");
 then trying to close using
     modalRef.Close();
but the dialog stay open.
I have tried StateHaschanged etc but nothing seem to work

Hosting Model used is
 - Blazor WebAssembly

[2020-05-16 12:50] chrissainty commented on #158
Can you provide your code so we can see exactly what you've done? A full repro of the issue would be preferred.

[2020-05-16 16:32] SindelarPetr commented on #35
Hi! Thanks for a great tool. This fixes the problem unless the underlying page is not scrollable. If the underlying page is scrollable, then the page will be scrolled but not the modal, any ideas?

[2020-05-16 16:34] chrissainty commented on #35
This is just standard CSS styling, I can't really advise as I don't know what your CSS styles are or how they work within the design of your application.

[2020-05-18 04:41] chrisknebel commented on #84
Okay, here's another data point for you @chrissainty :  I had the same problem, but my 'BlazoredModal' component was NOT inside of a DIV. What it was, though, was at the end of the MainLayout.razor, after all of the DIVs.  Just moving it to the top of the MainLayout.razor fixed the problem. Weird, huh? I hope this helps you narrow down the problem, but it's quite obviously not due to the 'Blazored

[2020-05-18 07:36] chrissainty commented on #84
Thanks for the information @chrisknebel

[2020-05-20 05:35] troepolik opened #159 "Possibility to close modal via modalReference or modalService"
Now we can close modal only inside the modal content via ModalInstance obtained from the cascading parameter.
But outside of modal content we can not do that.
For example something like this:
[code]
or
[code]

To achieve that I modify ModalService, ModalReference and BlazoredModal
1) Change Id of ModalReference to public
2) add method Close to ModalService
3) add internal BlazoredModal Modal { get

[2020-05-20 07:16] chrissainty commented on #159
Hi @troepolik,

I'm sorry but I don't understand what you're asking for. We have introduced the `ModelReference` which is what you get back when you call `Show` and you can use this to close a modal as per the docs. Could you please clarify what it is you're asking for?

[2020-05-20 18:27] troepolik commented on #159
I'm sorry, I was a little behind in the product version. ModalReference has Close Method now.
I feel so ashamed...

[2020-05-20 18:27] #159 closed

[2020-05-21 12:56] scalarerp opened #160 "Modal Send/ Modal Return"
I tried using passingdata and will get returningdata, can you help me?

`
@page "/passingdata"
@inject IModalService Modal

<input class="form-control" type="text" @bind="_message" />

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

@if (!string.IsNullOrWhiteSpace(_return_message))
{
    <p>return_message : @_return_message</p>
}

@code {
    string _message = "";
    str

[2020-05-21 13:00] larsk2009 commented on #160
Could you explain what is going wrong or differently from what you expect?

Below I copied the code you posted. This should show up properly formatted, for everyone's readability.

[code]

[2020-05-21 13:05] scalarerp opened #161 "insert a component dynamically in a modal"
How can insert a component on a modal dynamically?

        var messageForm = Modal.Show<MessageForm>(  COUNTERCOMPONENT );
        var result = await messageForm.Result;

How get a result from the COUNTERCOMPONENT  ??

        if (!result.Cancelled)
            _message = result.Data?.ToString() ?? string.Empty;

[2020-05-21 13:12] scalarerp commented on #160
Ok, but dosent work for me

[2020-05-21 13:14] larsk2009 commented on #160
Yes I understand that it doesn't work, but exactly what is not working?

[2020-05-21 13:16] scalarerp commented on #160
I post a new Issue to open a model with a component.
Resuming:, i will send a parameter, a will get a return parameter from modal,

sorry by my english
thanks

[2020-05-21 13:27] scalarerp commented on #160
I just need to know if you have to do it, or if it works, or if have a special method etc...

[2020-05-21 13:43] scalarerp commented on #160
ok i resolved:
in MessageForm i change:
[Parameter] public string Message { get; set; }

its works fine.

[2020-05-21 13:43] #160 closed

[2020-05-21 13:58] #161 closed

[2020-05-24 23:57] pablopioli commented on #146
Sorry for the delay, life and those things. The pull request is ready.

I realized why you made this originally. You need to target the container to center the modal, otherwise you don´t have the viewport width. Other positions can go in the wrapper.

So what I did? It targeted the container for the center position and the wrapper for the other positions.

[2020-05-25 09:09] Liero opened #163 "[Feature Request] Simplify IModalService interface to make it easy to mock"
**Is your feature request related to a problem? Please describe.**
`IModalService` contains o lot of methods that are just overload of a single real method. It makes it unnecessarily difficult to create a mock, fake implementation or any implementation. Interface should be as simple as possible.

**Describe the solution you'd like**
There is a [C# 8 feature called default interface methods](https:

[2020-05-25 09:13] Liero commented on #163
The implementation then would be that simple:
https://github.com/Liero/Modal/blob/f6f63d8dfd8e6ea75c230c3f7bfb3b95dbd67702/src/Blazored.Modal/Services/ModalService.cs

[2020-05-25 13:23] chrissainty commented on #163
How would you suggest we surface the overloads without them being present in the interface?

I wouldn't agree with your view on C# 8 default interfaces. That feature is for providing a default implementation for a new method added to an existing interface. I'm not sure how that fits in here.

[2020-05-25 15:55] Liero commented on #163
@chrissainty:

Well, if it's not possible with optional parameters, than using extension methods. That's how .NET Core API's are designed today by Microsoft.

Well, Mads Torgersen uses exactly method overloading as example, when preseting default interface method feature, e.g. just last week: https://channel9.msdn.com/Events/Build/2020/BOD108 (0:10:15)

"The reasoning behind is, that when almost a

[2020-05-25 16:49] chrissainty commented on #163
Again, I think you’ve misunderstood default interfaces. In the video you’ve linked Mads example is adding a new overload to an existing interface and providing a default implementation as to not break existing code.

I’m not keen on the idea of extension methods as that can cause issues with mocking frameworks which some people may choose to use. It’s an issues with some of the .NET Core implement

[2020-05-26 06:22] Liero commented on #163
Backward compatibility when extending interface is of course one of the usecases and it was his second point, however I cited Mads literally:

**"The reasoning behind is, that when almost all interface implementation implements some of the methods the same way, wouldn't it be nice, if we could just provide default implementation" - Mads Torgersen  **

Which is exactly this case - I need to mock th

[2020-05-26 10:56] chrissainty commented on #163
But why are you struggling to mock the existing interface? Normally you would verify a call to the particular overload on the interface you were calling in your test. What is stopping you doing this? Are you calling every overload of the service in a single test, therefore needing to mock all overloads?

[2020-05-26 17:14] ShaunCurtis opened #164 "Change to Latest Version failed"
I was running on 3.1.2.

I used the methodology in article - https://chrissainty.com/blazored-modal-released/ with calls to Close to close the modal and event handlers in the parent to handle closure.

The change blew that methodology out of the water.  No Close method on IModalService anymore and no event triggers.

I made the switch to the newer methodology of waiting on the return.  However, on

[2020-05-26 17:19] larsk2009 commented on #164
Could you provide some code that reproduces this issue? It will be easier to see what was going wrong that way.

With V4 of Blazored Modal some breaking changes were made so the mentioned methodology in the article would indeed not work anymore

[2020-05-26 20:38] ShaunCurtis commented on #164
Will do.  Just up to my eyes in going Live with a project, so will be a few
days.

Shaun

On Tue, 26 May 2020 at 18:19, Lars Koopmans <notifications@github.com>
wrote:

--
Regards,

Shaun Curtis
shaun@coldelm.com

[2020-05-26 23:04] kiwiingenuity commented on #154
For the past two days I have been strugling with a very similar problem.
I upgraded my WASM app to 3.2.0 and at the same time updated the Blazored Modal off GitHub.
From that moment on I could not get my Modal windows to appear.
I started from the basics and created a new WASM app, added Blazord Modal and it worked just fine.  So there was something wrong with my code???
After reading this post I

[2020-05-27 06:43] chrissainty commented on #154
@OverlordEx3 There used to be an issue with referencing CSS from NuGet packages, a long time ago. The first code sample you've added seems to be from that time, as developers had to copy the CSS into their projects. The second example is how things work now and have done for a while.

[2020-05-27 06:47] chrissainty commented on #154
@kiwiingenuity You shouldn't copy the CSS into your app as if/when we make any changes you will not receive them and it could possibly break your app or at least cause strange errors.

Blazor allows developers to use static assets from NuGet packages by exposing them via the `_content` location. You can think of this as a sort of virtual folder in your published app. You can reference assets from

[2020-05-27 07:54] Liero commented on #163
1. I usually create a fake implementation of the interface, that I use across all tests. In the fake imlementation I'm basically forced copy & paste the overload implementations.
2. In my tests, I don't like relying on mocking specific overload, because that is implementation details that I don't care in my tests. If I decide do use another overload, the test will fail even when the code is comple

[2020-05-29 02:17] sblakemore commented on #153
Would love to see this happen also.

[2020-05-29 02:52] bvirkler commented on #164
I am seeing the same behavior with 2 of the 3 modals in my app.  I can step through my modal component being called, but it doesn't show up on the screen.  The one that works fine is where I am using the `ModalReference` to get a result.  The two that don't work there's no result, just `Show()` and wait for the user to dismiss.
If I keep clicking the button that triggers the modal, I will occasion

[2020-06-01 07:56] lewinskimaciej opened #165 "[Bug] Modal is not showing"
Every step of readme was followed, nothing besides basic component(TestModal) and button on Index page were added.
Modal should show after clicking on the button, yet nothing happens. Tried on Chrome/chromium-Edge.

Created repo to reproduce:
https://github.com/lewinskimaciej/BlazorTest

This is a fresh blazorserver template with a button added on Index page

Hosting model:
 - Blazor Server

I can

[2020-06-01 08:24] chrissainty commented on #164
Can someone put together a full repro of the issue so we can try and track this down? There definitely seems to be something funky going on in particular scenarios but I can't replicate it and unless we can do that we can't fix it.

[2020-06-01 08:30] larsk2009 commented on #165
If I add <BlazoredModal/> to the MainLayout.razor page in your repo like it says in the readme, it does work. See [step 3](https://github.com/Blazored/Modal#3-add-modal-component).

[2020-06-01 08:44] ShaunCurtis commented on #164
Hi Chris,

I've got some time this week. I'll plug together your GitHub source and my
misbehaving application and try and track down what is going on.

Shaun

On Mon, 1 Jun 2020 at 09:24, Chris Sainty <notifications@github.com> wrote:

--
Regards,

Shaun Curtis
shaun@coldelm.com

[2020-06-01 09:00] lewinskimaciej commented on #165
You're right, I guess I'm legally blind then... Thank you! I've looked at it for an hour and still didn't notice...
I guess this can be closed. I have no clue why Sample doesn't layout nicely though.

[2020-06-01 09:00] #165 closed

[2020-06-01 16:41] ShaunCurtis commented on #164
I've spent some time today looking into this and have tracked down my problem to ModalParameters.  Everything works while you have a Property on the target component to match the ModalParameter.  If the Property is missing, Blazor heads south permenantly - no bleating, no errors: lights on but there's no one at home!

The current code block for rendering the properties looks like this:
ModalServic

[2020-06-02 10:01] paulreyns opened #166 "[Feature Request] Animation on Show & Close"
Would be nice to be able to fade the modal in and out, I guess this could either be a different method outside the Show/Close or additional option on the ModalOptions parameter?

I did consider that you could add an additional class on the Class property on the ModalOptions which might allow you to do some css magic but it would be nice to be an option in its own right.

[2020-06-02 12:34] bvirkler commented on #164
My problem ended up being unrelated.  I was using

`<a href="#" @onclick="ShowMessages">messages</a>`

to show the messages, which worked before 4.0, but now causes the modal to immediately close.
I changed it to

`<a href="javascript:void(0)" @onclick="ShowMessages">messages</a>`

and it now works fine.

[2020-06-03 11:11] digitalsigi commented on #158
Hi,
thx for this piece of Software, helped me already to make the GUI very user friendly.
Now it seems that I have same issue.
My code looks like this:
[code]
I observed, that changes to the UI became effectiv after return from the method.
SetSpinnerVisibility sets a binary value to show a spinning wheel from awesome fonts.
IsDeleted hides parts of the blazor page.
I tried to include the spinner i

[2020-06-03 22:42] SeattleDiver opened #167 "Support Bootstrap/custom modal markup"
Modify the BlazoredModalInstance.razor component to support bootstrap, and other templates, when emitting HTML markup.

I suggest creating a Modal.Framework enumeration that includes:
  Blazored,
  Bootstrap,
  Custom,
  etc.

When adding the BlazoredModal component to the MainLayout, the user can supply this value as an attribute (i.e. `<BlazoredModal Framework="Bootstrap">` ) to configure all mo

[2020-06-04 06:39] chrissainty commented on #167
Thanks for suggesting this @SeattleDiver.

I think we can certainly look at developing this into the modal.

[2020-06-04 06:54] chrissainty commented on #158
@nssidhu @digitalsigi I've been trying to replicate this issue, but I can't. If you could provide a repro of the issue that I can use and see the problem rather than just the odd file, I might be able to help. But as of right now I would have to say it is probably a local issue to do with something else in your applications.

[2020-06-04 06:59] chrissainty commented on #164
Thanks for the update @bvirkler. Just a suggestion, but I would use a button rather than an anchor tag.

[2020-06-04 07:01] chrissainty commented on #164
@ShaunCurtis Thanks for the information, would you be willing to create a PR with your changes?

As for the article on my blog, unfortunately updating every article I write just isn't feasible.

[2020-06-04 07:05] chrissainty commented on #166
Hi @paulreyns, this is definitely something we could look to add. My capacity is extremely limited at the moment, more than happy to take a PR if you want to have a go and I'll put this up as an _Up For Grabs_ as well.

[2020-06-04 07:15] standsed opened #168 "[Bug] Blazor Server hosting model"
Is Modal working in Blazor Server hosting model?
1. Cloned Modal repo.
2. cd Modal/Samples/BlazorServer
3. dotnet run

Firefox 76.0.1
![image](https://user-images.githubusercontent.com/37961304/83726043-a0473280-a64b-11ea-811d-3582d4b7922f.png)

Chrome 83.0.4103.61
![image](https://user-images.githubusercontent.com/37961304/83726344-13e93f80-a64c-11ea-85ec-4886570de6f6.png)

[2020-06-04 07:20] chrissainty commented on #168
@standsed Yes, I've been working on the repo this morning. It looks like you could have something cached, if you've previously cloned the repo. But it will be a local issue.

[2020-06-04 07:20] #168 closed

[2020-06-04 07:29] larsk2009 commented on #166
If @paulreyns doesn't have time to do it, I would like to help. I just have one question regardless of who implements it:

Are we going to support just Fade in/Fade out like @paulreyns said, or do we want to allow any css animation? I think this would make a bit of a difference in terms of how difficult the implementation would be.

[2020-06-04 07:30] standsed commented on #168
Tried on different machine Windows 10, Firefox 77 (before was macOS).
Same exact result

[2020-06-04 07:33] chrissainty commented on #168
It's definitely working fine, I use two Windows machines and a MacBook and all are working as expected.

![image](https://user-images.githubusercontent.com/6171719/83728196-18a6f700-a63e-11ea-92e1-8a357b4abc8c.png)

[2020-06-04 07:37] chrissainty commented on #166
Great, thanks @larsk2009! I would suggest starting simple and just handling fade-in fade-out.

[2020-06-04 07:39] larsk2009 commented on #168
@chrissainty Actually, if you run it like he described, with `dotnet run`, I get the same result. But using VS it does work. See image below, for some reason it cannot download the css file from the server.
![image](https://user-images.githubusercontent.com/7924568/83728739-054c5980-a647-11ea-807d-21a4dd655131.png)

[2020-06-04 07:41] ShaunCurtis commented on #164
Yes I would, will read up this morning on how to. Do you need to give me
any permissions?  The other changes were a couple of @namespace additions
to root razor components to explicitly define their namespace.

On Thu, 4 Jun 2020 at 08:02, Chris Sainty <notifications@github.com> wrote:

--
Regards,

Shaun Curtis
shaun@coldelm.com

[2020-06-04 07:43] chrissainty commented on #168
Thanks for the comment @larsk2009. It runs fine for me under `dotnet run`, that's what I use on the Mac. Just tried it on Windows and it works as expected as well. But as you've pointed out. I've run the project in VS previously.

Either way, I don't think it has anything to do with this project and seems more like a tooling issue.

[2020-06-04 07:45] larsk2009 commented on #168
I agree @chrissainty

[2020-06-04 07:45] chrissainty commented on #164
Nope, you fork the repo and then makes the changes in your copy and then raise the PR from your fork back to this repo. Let me know if you have any issues.

[2020-06-04 07:58] paulreyns commented on #166
I did manage to get it to fade & slide slightly in locally using css animation, but couldn't get it to animate out. I'm happy for someone to give it a bash as I'm fairly busy also but might get some time eventually.

[2020-06-04 08:15] larsk2009 commented on #166
I'll have a look then. I have some ideas for fading out, I'll keep everyone posted.

[2020-06-04 12:28] AmarjeetBanwait commented on #167
I think we should break markup into peices eg. Header, body and footer and of-course container. also with their respective classes. there can also be cross button class and icon
I think here fluent apis can come handy as I suggested in [25](https://github.com/Blazored/Modal/issues/25) **Add Fluent Apis**

eg
[code]

[2020-06-04 12:47] chrissainty commented on #167
The way I was thinking about doing this was to have entirely different versions of the modal markup for the various CSS frameworks. I think we need to do this as the HTML structure needs to be different between CSS frameworks.

[2020-06-04 13:21] AmarjeetBanwait commented on #167
Yes that will be good if user want entirely different template. but think about of changing just class names or adding extra classes or changing just close icon template.

[2020-06-04 14:02] larsk2009 commented on #166
I have made a **very preliminary ** version of animating In and out. Please have a look at it and see if it is any good. It feels a little hacky this implementation because fading out and removing after that is not the cleanest thing. Some JS could improve animating out potentially but I haven't really looked into that too much.

Also, the example mentions a global animation like we have with the

[2020-06-04 17:27] gregorvilkner opened #169 "passing parameters needs an update on https://chrissainty.com/blazored-modal-released/"
**Is your feature request related to a problem? Please describe.**
This package is super useful 👍
I struggled quiet a bit getting parameter passing to work. I worked of your sample code on https://chrissainty.com/blazored-modal-released/ It's correct in the md here and in obviously it works in your repo. Cheers.

**Describe the solution you'd like**
current content:
`[CascadingParameter] ModalPara

[2020-06-05 06:51] chrissainty commented on #169
@gregorvilkner That post is getting quite old now. As I've mentioned in other issues, I just can't keep every post I write updated, there just isn't the time available. I've added a call out section to the post to highlight that people should checkout modal.blazored.com or here for the latest instructions.

[2020-06-05 06:51] #169 closed

[2020-06-05 07:31] digitalsigi commented on #158
@chrissainty OK, accepted. I can't post the whole project. But as this functionality it is vital to me, I'll finish the current sprint and will then try to recreate issue in isolated environment.

[2020-06-05 07:33] chrissainty commented on #158
Thanks @digitalsigi, hopefully then we can get to the bottom of it.

[2020-06-05 19:34] anemitoff opened #170 "[Feature Request] Easier mocking of Modal interactions"
**Is your feature request related to a problem? Please describe.**
I am trying to mock out some behavior for a test case where the sut invokes modalService.ShowModal().

**Describe the solution you'd like**
Have the ModalReference constructor accept an IModalService instance instead of the concrete ModalService

OR

IModalService.Show return a mockable IModalReference (which doesn't exist)

**Desc

[2020-06-06 06:12] SeattleDiver commented on #167
I'm willing to take this on this weekend.  What are your rules for contributing to the project?  What kind of designs/documentation do you need to proceed?

[2020-06-12 04:54] DanielHWe opened #172 "[Bug] No Modal Dialog is opened"
**Describe the bug**
In my project (BlazorWebAssembly)
 `var messageForm = Modal.Show<NewGame>();`
`var result = await messageForm.Result;`
Does not open a Model dialog, there is no error, so  I have no clue what is not working.

**To Reproduce**
See https://github.com/DanielHWe/BlazorDiceGame/blob/master/Pages/Game.razor
Steps to reproduce the behavior:
1. Klick "New game"
2. ShowModal() is execu

[2020-06-12 06:29] dfkeenan commented on #167
Hi,

This project looks quite good. but I was also hoping to use custom dialogs (bootstrap).

I have had a quick and dirty attempt of an idea here: https://github.com/dfkeenan/Modal/commit/6bcb0185c96bf66e1cde3e60d06a4b7b2af7a041

Perhaps customizing it via `ModalOptions` would be a better user experience. They way I did it was quicker to implement. Also not sure how you would use the bootstrap di

[2020-06-12 21:38] larsk2009 commented on #172
Hi,

First of all, thank you for actually providing a very good reproduction of your problem. This greatly helps us find any issue, so thanks for that!

The reason it is not working is because there is no `<BlazoredModal />` in your `MainLayout.razor`. See [step 3](https://github.com/Blazored/Modal#3-add-modal-component) of the readme. When I added this to the code you provided, the modal shows.

[2020-06-13 13:42] #172 closed

[2020-06-13 13:58] chrissainty opened #173 "[Feature] Offer Modal Service as a cascading value rather than requiring injection"
I've been wondering recently whether the modal service being injected is the right thing to do. Looking at the designs from the Blazor team, they favour using cascading values to provide global concerns. AuthenticationState being a good example of this.

The proposal is to provide a `CascadingModalService` component which can be added at the app level rather than requiring the developer to inject

[2020-06-13 14:05] chrissainty commented on #170
Hi @anemitoff, apologies for taking so long to address your issue. I think my preference would be to return an `IModalReference` from the `Show` call. That way you can mock whichever response you wish. Adjusting the `ModalReference` to take an `IModalService` would be more tricky.

Happy to mark this as a new feature.

[2020-06-13 17:53] chrissainty commented on #167
@dfkeenan Thanks for the enthusiasm!

I've had a look over what you've done so far and it looks decent. I would suggest using generics of type

[2020-06-13 17:57] chrissainty commented on #167
@SeattleDiver My apologies, I've completely missed your comment offering help. Last week was a bit crazy.

@dfkeenan Perhaps before we go any further it would be best to agree on a design between the three of us and then decide how we're going to get it built.

What do you all think?

[2020-06-13 18:26] larsk2009 commented on #173
Just so I correctly understand your proposel: The user would add the `CascadingModalService` in the app.razor just like `CascadingAuthenticationState` for example? Then the ModalService could be retrieved in a page with `[CascadingParameter]` instead of `[Inject]`?

If this is the case, I think I like it. Especially if it can also replace the `BlazoredModal` component in the `MainLayout` like you

[2020-06-13 19:42] chrissainty commented on #173
Yes @larsk2009 that’s it. It just seems like it would solve several reoccurring setup issues we keep seeing, as you’ve pointed out. Without much of a down side. Unless I’ve missed something 🙂

[2020-06-14 06:45] dfkeenan commented on #167
Did you mean change `ModalService` to something like `ModalService<TModalInstance>` instead?

That's how I started but there are a couple of spots that cast a `IModalService` to `ModalService`. I guess there could be a `ModalService<TModalInstance>` that inherits from a `ModalService` base class. I whipped this proof of concept up quickly and didn't have time to try that.

I have been playing with

[2020-06-16 13:23] jenmagjen commented on #67
@chrissainty  Hi! :) I recently spoke to a guy in the norwegian Blind organization, which is working with user testing of different websites and online services. He said unclosable modals (no support for Esc) were like traps for them. They have to close the tab, hit the back button or refresh the whole page in order to close them. So in support for all our visually impaired friends out there who l

[2020-06-16 13:37] chrissainty commented on #67
@jenmagjen Agreed, please understand when I said small I meant in terms of changes. Generally speaking, this control hasn't been built with blind/sight-impaired users in mind and therefore there are probably a lot of things we need to do to make this fully accessible to sight-impaired users. Adding this would help but I'm sure we have a very long way to go still.

I'm literally at breaking point r

[2020-06-16 14:44] jenmagjen commented on #67
@chrissainty  Yes, another known issue is that modals let the "background" be open. So the screen readers does not "see" that the rest of the content is hidden by opacity/overlay, and may get confused when browsing down a page which for other users is "hidden". :) I fully understand that not all can be in place now. Development takes time. :) All improvements are great. Blazor pages with the diffe

[2020-06-16 14:58] chrissainty commented on #67
Thanks for the information @jenmagjen and it's always great to hear the components are helping people 🙂

[2020-06-17 15:01] anemitoff commented on #170
Hi @chrissainty, no worries on the delay.  Thank you for all of your Blazor projects and blog entries!!!
I think returning an `IModalReference` would work just fine.

[2020-06-18 07:03] chrissainty opened #175 "Move from Azure Pipelines to GitHub Actions"
Azure Pipelines has been a real pain recently and GitHub Actions looks like a much better choice.

- [x] Move CI pipeline over to GitHub Actions
- [x] Update deployment to use GitHub Actions
- [x] Rename master branch to main
- [x] Update to latest packages

[2020-06-18 07:04] #170 closed

[2020-06-18 21:41] Karamethien opened #177 "[Feature Request] Make the Modal Top Center-able"
Currently, the default positions enum have Top Left, Top Right, but it does not have Top Center.

[2020-06-19 12:22] wvmstr opened #178 "Nuget package v4.1.0 does not have blazored-modal.css"
FYI

Was not able to trigger a modal, found an earlier closed issue where someone found the blazored-modal.css to be empty the browser.

Mine was empty to.

Copied this css from the blazored-modal repo, and now it works.

[2020-06-19 12:31] larsk2009 commented on #178
I just had a look at the V4.1.0 package with the [Nuget Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer) and there the css file definitely exists. I am not sure what is going wrong, but the package does seem to contain the css file.

![image](https://user-images.githubusercontent.com/7924568/85132688-91f73a00-b239-11ea-974f-9d869c32517d.png)

[2020-06-19 16:26] wvmstr commented on #178
I did a wildcard seach in the solution for *.css, and there was no blazored-modal.css. Copied it from the cloned repo on my local machine.

Is it possible this file in the package but somehow is not getting it installed?

[2020-06-19 16:29] larsk2009 commented on #166
I have improved my preliminary version of animations, and have raised a PR for it. Please have a look at it and let me know what you all think!

[2020-06-19 16:34] larsk2009 commented on #178
The css file is not really in your own solutions, but it is in the nuget package, so I think it is possible you can not find the css file like that.. Could you maybe show how you included the css file in your project? The issue is probably in there, or if it is not we have at least ruled it out.

[2020-06-19 18:44] wvmstr commented on #178
This project's readme says:
`Add the following line to the `head` tag of your `_Host.cshtml` (Blazor Server) or `index.html` (Blazor WebAssembly).

[code]
Ended up keeping it in the same folder as app.css
`<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>UserNameC

[2020-06-19 18:48] wvmstr commented on #178
Remember that I searched the entire project for "blazored-modal.css". There was nothing there

[2020-06-19 18:56] larsk2009 commented on #178
If you use the sample project provided and in that folder look for "blazored-modal.css" you will also see that it is not there. This is normal behaviour. You have the include the css file like it says in the readme to work.

`<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />`

That is the way the css will get used from the Nuget package. The fact that you cannot find the

[2020-06-22 09:00] DSBhogal opened #181 "Blazored Modal doesn't appear in IE"
Building an ECommerce platform using server side blazor. Currently utilising Blazored modal which works great on Chrome but doesn't show on IE?

Hits this method fine, no issues when hitting 'ModalService.Show' but just doesn't do anything:

![image](https://user-images.githubusercontent.com/33750091/85268911-0e269300-b46f-11ea-98ea-923053b3c864.png)

[2020-06-22 13:07] larsk2009 commented on #181
Could you provide a minimal reproduction of the issue and also which version of IE you are using?

[2020-06-22 15:21] DSBhogal commented on #181
The version of IE that I'm using is IE 11 specifically 11.900.18362.0. I can provide you with some screenshots of when the method is hit?, unsure how else to provide you with a minimal reproduction of the issue

[2020-06-22 15:49] larsk2009 commented on #181
Do you also have the issue when using the Sample in this repository?

[2020-06-22 15:59] DSBhogal commented on #181
Just tried with the sample repository and that has the same issue, it doesn't work on IE

[2020-06-22 16:30] larsk2009 commented on #181
I had a look, and it also didn't work for me. I am pretty sure it is a IE11 thing. If I look at the [supported browsers](https://docs.microsoft.com/en-us/aspnet/core/blazor/supported-platforms?view=aspnetcore-3.1) page for Blazor, IE11 is supported, but you need to add polyfills. If I add [this polyfill](https://github.com/Daddoon/Blazor.Polyfill) the modal does show up but the CSS is not correct.

[2020-06-22 16:43] chrissainty commented on #181
@larsk2009 yes it would be good to have the modal work in all places Blazor does. The changes you’ve identified are quite small and non-breaking. As long as they don’t break anything on wasm, let’s get a PR together and get them merged.

[2020-06-22 22:56] larsk2009 commented on #181
I made a PR to fix this issue. @chrissainty I just wanted to say, I hope you don't mind that I am responding to many issues on here. I really like this component and want to help you with it. Just don't want to overstep you if you understand me.

[2020-06-22 23:49] pablopioli commented on #177
I build a pull request to implement custom position via CSS.
https://github.com/Blazored/Modal/pull/180

This would accomplish what you want here.

[2020-06-22 23:59] pablopioli opened #183 "Scrollable content"
**Is your feature request related to a problem? Please describe.**
If you have an scrollable modal over a scrollable body, the scroll action can be unintitive as the mouse wheel will act upon the main body.
This is a problem already referenced in
https://github.com/Blazored/Modal/issues/35

**Describe the solution you'd like**
I would like an option or a default that disables this behaviour.

**De

[2020-06-23 08:00] DSBhogal commented on #181
Much appreciated for the help, will we be expecting an update to the NuGet package or is worth me implementing the fixes myself?

[2020-06-23 08:42] chrissainty commented on #181
@DSBhogal We probably won't have an update out for a few days. The next release will likely be a breaking change so I want to pack in as many features as possible. So it might be worth adding the workarounds yourself for the short term.

[2020-06-23 08:43] chrissainty commented on #181
@larsk2009 No it's fine, I'm happy for the help and you're doing a great job! 😀

[2020-06-23 08:57] DSBhogal commented on #181
No worries, would you like me to close the issue?

[2020-06-23 10:22] chrissainty commented on #181
@DSBhogal No it's fine, the issue will be closed automatically when I merge the PR

[2020-06-23 10:39] chrissainty commented on #178
As there hasn't been any comment on here for a few days I'm going to assume the problem has been resolved. Please re-open if you're still experiencing an issue.

[2020-06-23 10:39] #178 closed

[2020-06-27 11:17] chrissainty commented on #181
Resolved by #182

[2020-06-27 11:17] #181 closed

[2020-06-27 11:19] #175 closed

[2020-06-27 11:34] chrissainty commented on #145
With the switch over to GitHub Actions, I've set things up so anything merged into main will be packaged and released to the Blazored GitHub Packages feed (https://github.com/orgs/Blazored/packages). So developers can now get any preview stuff using the packages on GitHub and full releases will be on NuGet as usual.

[2020-06-27 11:34] #145 closed

[2020-06-27 11:37] chrissainty commented on #177
I'm going to close this issue as its actually a duplicate of #146

[2020-06-27 11:37] #177 closed

[2020-06-27 13:26] chrissainty commented on #153
SO I've spent about 6-7 hours on this so far and I've not managed to get any closer to getting a working solution. I would love to add this feature, I think it's really important but I just can't spend any more time on it at the moment, I just have too many things to do.

I'll come back to this when I have more capacity unless someone with more experience of the JS needed steps up to help. For now

[2020-06-27 13:57] chrissainty commented on #158
As there has been no further communication I'm going to assume this turned out to be some kind of local issue and close this issue.

[2020-06-27 13:57] #158 closed

[2020-06-27 14:01] digitalsigi commented on #158
OK, understand that. Unfortnuately I can't not follow up on this because of other priorities. However, its not solved and I'll look into it asap.

[2020-06-27 14:14] chrissainty commented on #163
@Liero Apologies for taking a while to come back to this. If you want to raise a PR with your default interface implementation, I'll be happy to merge it.

[2020-06-29 06:58] matko238 commented on #183
Something like [this](https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/) would be proper solution...

[2020-06-29 11:59] pablopioli commented on #183
Yes, there are a couple of solutions. But you must remember to implement them everywhere you use the modal.

On the other hand it can be integrated in Blazored Modal, but it will always requiere a bit of Javascript, wich can be a breaking change.

So I posted here for consideration by the author.

[2020-06-30 21:43] drma-dev opened #184 "before closing, respect the validation"
I don't know if there is a way, but I'm passing an object that has validations for the attributes and the model is ignoring that.

[2020-06-30 21:46] chrissainty commented on #184
Sorry I don’t quite understand what it is you’re asking. Could you give a bit more detail?

[2020-06-30 21:48] drma-dev commented on #184
[code]

the description attribute is marked as required, but when I click save, it closes the popup and leaves this field blank

[2020-06-30 21:49] drma-dev commented on #184
[code]

[2020-06-30 21:55] chrissainty commented on #184
I see. The problem isn’t the modal the problem is how you’ve configured your form.

You should be using the ‘OnValidSubmit’ event on the EditForm, not using the ‘OnClick’ event of the button. You’ve bypassed all of the built in validation system with your implementation.

Once you make that change, your handler will only get called when the model is valid.

[2020-06-30 21:55] #184 closed

[2020-06-30 21:59] drma-dev commented on #184
ahh, I get it. thanks.

[2020-07-01 18:13] SeattleDiver commented on #167
Chris, DFKeenan, I'm still coming up to speed on authoring Blazor components so I may be a little offsides here, but could this feature be implemented by refactoring the BlazorModalInstance class into a Blazor Templated Component utilizing RenderFragments to let the implementor create all the markup for the modal dialog from inside the template.  This would go a long way to allow implementations t

[2020-07-02 07:31] chrissainty commented on #167
@SeattleDiver I've thought about the same thing. I'm currently playing around with a couple of ideas and that is one of them. I think that ultimately the answer will be a hybrid solution. We could use templating to offer developers a way of implementing a completely bespoke modal. But I think providing an out-of-the-box solution for common frameworks such as Bootstrap and Material is also required

[2020-07-02 10:24] chrissainty commented on #183
I believe this could be fixed by the focus trap implemented with #185

[2020-07-02 14:22] #67 closed

[2020-07-02 14:22] #153 closed

[2020-07-02 14:41] #183 closed

[2020-07-02 18:50] larsk2009 opened #187 "[Bug] Close button is focused"
**Describe the bug**
Maybe I am a little early with this, and it is still something you wanted to fix but I wanted to post it here before I forgot.

With the new focus trap, the close button on the modal will be focussed initially which makes it look weird.

**To Reproduce**
Steps to reproduce the behavior:
Open the modal on the 1st page of the example

**Expected behavior**
The close button not b

[2020-07-02 19:42] larsk2009 opened #188 "[Bug] Body changes size when modal opens"
**Describe the bug**
This bug is also not for the released version of the modal, so again sorry if I am reporting something you are already aware of.

With the new changes, when a modal is opened the `<body`' is set to `position: fixed`. This makes the `body`, at least in the official samples, change size to be rather small. When closing the modal, the size will change back. The modal seems to cha

[2020-07-03 14:00] #166 closed

[2020-07-03 14:06] #188 closed

[2020-07-03 14:06] #187 closed

[2020-07-04 06:14] dfkeenan commented on #167
I have implemented a `ModalOptions.UseCustomLayout` property. If you set this to true it replaces the whole content of the `BlazoredModalInstance` with the Component you use.

[2020-07-04 06:38] dfkeenan opened #190 "[Feature Request] BlazorServer and BlazorWebAssembly projects should share code."
**Is your feature request related to a problem? Please describe.**
Currently if you want to update the samples you have to update the two projects `BlazorServer` and `BlazorWebAssembly`.

**Describe the solution you'd like**
Put the shared sample code in a component library or use some other method like "links".

**Describe alternatives you've considered**
Either of the above options would be fine

[2020-07-07 07:46] #167 closed

[2020-07-11 02:25] dfkeenan commented on #167
Hey @chrissainty , I have made more improvements that allow you to do like:

[code]

It's in https://github.com/dfkeenan/Modal/commit/dd4bc32e8c9eb27a320a6c290cd5f7d251c42ec0 . Would you like me to do another PR for this? I wasn't sure what to do to samples so I only used this in the BlazerServer sample.

[2020-07-13 13:34] chrissainty commented on #164
@ShaunCurtis I've been looking into this and I get an exception thrown by Blazor in the console when a value is attempted to be passed to a parameter which doesn't exist on the target component.

Based on this and other comments in this thread I don't think there is actually any work for us to do here. I'm going to close this issue and if there are any outstanding issues can they be raised as thei

[2020-07-13 13:34] #164 closed

[2020-07-13 13:36] #173 closed

[2020-07-13 14:06] #146 closed

[2020-07-14 15:18] ShaunCurtis commented on #164
np.  Shaun

[2020-07-15 17:43] Orgbrat opened #195 "Question Updating Modal 4.1.0 to 5.0.1"
I am trying to update Blazor.Server Blazored.Modal from version 4.1.0 to the new version 5.0.1 and it is beating me up.
The 4.1.0 version works perfectly though.  If I add your CascadingBlazoredModal  component as you request when the application starts it crashes on the `<app>` line in the _Host.cshtml below with a error of "InvalidOperationException: Blazored.Modal.BlazoredModal requires a casca

[2020-07-15 20:08] chrissainty commented on #195
Hey @Orgbrat, have you added the services in your Startup? I'm guessing as you're upgrading you already had that added in but just want to check.

`services.AddBlazoredModal();`

[2020-07-15 21:32] larryfura commented on #158
@digitalsigi I am just getting started with this modal component and just run in to the same issue as you.

When I would try to close the modal the screen it would blink and the grayed out background  behind the modal (which was a very dark gray) would get a little less gray but the modal would not actually close out.  Just like you I did not want to provide all of my source as it is a rather larg

[2020-07-15 21:49] Orgbrat commented on #195
@chrissainty  yes I walked thru your setup guide step by step to make sure everything was correct. Plus I compared my project with your sample projects to make sure I had not missed any thing. Have spent hours trying to figure out what I am doing wrong.  I have the below entries in ConfigureServices. Undo changes and rollback to 4.1.0 and all is happy again.

`
services.AddBlazoredModal();
service

[2020-07-15 21:53] chrissainty commented on #195
Are you able to share your code?

[2020-07-15 22:18] Orgbrat commented on #195
I might could share the Blazor.Server project but the dependent projects will not let you run it.

[2020-07-16 07:56] chrissainty commented on #195
That would be great, it's really hard for me to diagnose issues like this without a working repro of the problem.

[2020-07-16 08:05] chrissainty commented on #158
Thanks for pointing out the inconsistancy in the docs @larryfura. I'll take a look at this. But you're quite right since v5 you no longer need the `BlazoredModal` component you only need the` CascadingBlazoredModal` component.

[2020-07-16 09:11] digitalsigi commented on #158
Hurray! It works now.
@larryfura Thx a lot for your solution. Like you, I am using blazor server side and did follow exactly the same docs.
@chrissainty I believe it would be helpful to mention the blazor server side [Point 4.](https://github.com/Blazored/Modal#4-add-reference-to-style-sheet--javascript-reference) on the main pager here as well. I just added the blazored model js and left out the

[2020-07-16 09:21] chrissainty commented on #158
@digitalsigi Already done :)

[2020-07-16 12:26] nyash commented on #195
Hi,

Might not be related to your problem, but check if you have removed the leftover `<BlazoredModal/>` from `<MainLayout>` component.

After upgrade to the new version I have added the new `CascadingBlazoredModal` to `App.razor`  and got tripped by this (App would crash, or double Modals would appear).

[2020-07-16 13:00] AlexandreBeauchamp opened #196 "[Bug] Showing the modal throws an unhandled error has occurred (version 5.0.1)"
**Describe the bug**
I updated to 5.0.1 (it was 4.1.0 and working without problem) and follow every step to make sure everything works.
The app will start normally without errors. But the moment i click a button for showing a modal, it will throws *an unhandled error has occurred* at the bottom page and the modal doesn't appear. The project is a Blazor assembly with ASP.NET Core hosted.

**Expecte

[2020-07-16 13:03] larsk2009 commented on #196
Can you confirm you have added the JS file? See [step 4](https://github.com/Blazored/Modal#4-add-reference-to-style-sheet--javascript-reference) of the readme? Without seeing your code, it seems like the JS file is missing.

[2020-07-16 13:04] AlexandreBeauchamp commented on #196
Yes i added the JS File in index.html

[2020-07-16 13:07] larsk2009 commented on #196
And do you also see it being loaded in the development console?

[2020-07-16 13:12] AlexandreBeauchamp commented on #196
The first time i compiled the project and start. The js file will not be loaded, but if i reload then the js file is loaded and i can open the modal with some weird behavior.

![image](https://user-images.githubusercontent.com/51452852/87674694-5706fa00-c744-11ea-8fe0-1c639ed017cc.png)

[2020-07-16 13:13] larsk2009 commented on #196
If you can share your project/code we can have a look what is going wrong.

[2020-07-16 13:33] AlexandreBeauchamp commented on #196
I can't share the code because it in a private repository, but i can share in zip file :)

So yeah, you can check Handler page and click on Edit quantity received, the modal should popup. In the code, you can check Handlers folder where contains the component which have the AirwayBillAction (contais the action to show the modal) and the page handler who render this component. AirwayBillList is in

[2020-07-16 13:37] larsk2009 commented on #196
Thanks, I will have a look.

[2020-07-16 13:38] Webreaper commented on #195
This fixed it for me.

[2020-07-16 13:59] chrissainty commented on #196
@AlexandreBeauchamp This could be a caching issue, this seems to happen quite a lot with JavaScript files in Blazor. Could you try a private tab and/or also clearing out your browser cache as well.

[2020-07-16 14:05] AlexandreBeauchamp commented on #196
I confirm is a cache issue. I try in a private tab and clearing the browser cache. Everything work now!! :D The modal is showing correctly without errors and working perfectly

[2020-07-16 14:08] AlexandreBeauchamp commented on #196
Thx for these quick responses :) really appreciated. Have nice day. I will close the issue since it is resolved

[2020-07-16 14:08] #196 closed

[2020-07-16 14:22] frablaser commented on #195
For me too.

Definitely the the <BlazoredModal/> from <MainLayout> component was missing in my project and everything worked after I added it...

[2020-07-16 14:39] nyash commented on #195
Are you certain? In the previous version `<BlazoredModal/>` was present in MainLayout, but in the new version we are supposed to add the new '<CascadingBlazoredModal/>`. It's easy to forget about the old component, so removing `<BlazoredModal/>` would be the fix, not adding it.

[2020-07-16 14:57] Orgbrat commented on #195
Ok,  I think the leftover  `<BlazoredModal/>` in the `<MainLayout>` component was causing the initial crash on application startup. After removing that crash seems to be fixed.

Now, if I add the `<CascadingBlazoredModal/>` component not wrapping the Router the application starts and runs but all modals crash when showing because the Modal CascadingParameter in the code-behind is null.

Since ther

[2020-07-16 16:21] frablaser commented on #195
I saw where was the problem, I was using the source code of the 4.1, and it works with  `<BlazoredModal/>`, I downloaded the 5.0.1 with the new way it works... But...

When I tried to compile the Blazor.Modal library, I have this error...

It bumping into the:
[code]

[2020-07-16 16:28] chrissainty commented on #195
@frablaser ahh, my bad. That code should only run in a debug build not on every build. I'll take a look at that.

@Orgbrat Have you tried swapping the order of the various cascading parameters? There isn't any reason multiple cascading parameters can't be used together so this must be something causing some interference.

[2020-07-16 16:41] Orgbrat commented on #195
@chrissainty  Yes I have swapped the order around but still issues.  The issue is the in the App.razor file try the demo I sent you.

[2020-07-16 17:23] frablaser opened #197 "Microsoft.JSInterop.JSException: 'Could not find 'BlazoredModal' in 'window'. [Bug]"
**Describe the bug**
A clear and concise description of what the bug is.
I'm pretty new with the webpack.config, but it seems not injecting blazored.modal.js as it should do...

**To Reproduce**
Steps to reproduce the behavior:
1- Started the Samples/BlazorServer project
2- Client the Show Modal button on the index page...
3- Get error: Microsoft.JSInterop.JSException: 'Could not find 'BlazoredMod

[2020-07-16 17:32] larsk2009 commented on #195
@Orgbrat See the attached zip. I changed your app.razor and it seems to work fine on my machine that way. What you did in your example was create 2 routers, one which had the authentication and one which had the modal. Just combine them like I did in this zip file:

[BlazoredDemo.zip](https://github.com/Blazored/Modal/files/4933159/BlazoredDemo.zip)

[2020-07-16 18:23] Orgbrat commented on #195
@larsk2009 Thank you, thank you...  That fixed my issues with the application starting and running.

I still have issues with the Modals,  Old way passed modal parameters as CascadingParameters and now I must change that to  individual parameters with the Parameter attribute.  I will change to the new way on everything and see where I am at.

Sure is a lot of stuff changed but if I fix it now then

[2020-07-16 18:26] larsk2009 commented on #197
Sounds related to #196, maybe the suggestions there can also solve your problem?

[2020-07-16 18:40] frablaser commented on #197
Thanks Lars, it looks to be the same, I used the solution downloaded directly from github, and I cleared my cache and I tried into other browsers as Google Chrome, Fire Fox,  and the New Ms Edge (based on a mozilla core) and all give the same error...

[2020-07-16 20:09] chrissainty commented on #195
As far as I can see the original issue is now resolved, so I'm going to close the issue.

[2020-07-16 20:09] #195 closed

[2020-07-17 05:23] jimnkey commented on #197
I was getting a similar error... but only on IE 11.

blazored.modal.js (in 5.0.1) has a declaration of 'class a' which is not supported in IE -- results in a syntax error.
That in turn causes the error - "... Could not find 'BlazoredModal'..."

What I ended up doing was taking the contents of blazored.modal.js and converting to compatible js with Babel -- and Loading that js only for IE -- seems t

[2020-07-17 07:10] mivandoni opened #198 "Title with icon"
Is it possible to add a new property to specify an icon (something like open iconic icons added just specifying the icon name) without the need to redesign all the modal layout using the custom layout feature?
Custom layout is nice but i seem that all other options like for example DisableBackgroundCancel or Position loose their effect when using it and the user has to re-create all of them.

[2020-07-17 07:14] mivandoni commented on #198
This is my solution to avoid using a customlayout.
I just use HideHeader option when calling the modal form, and this is the component:
[code]
In this case I just needed to use warning icon so I didn't specify a parameter for it, but it can be done.

[2020-07-17 09:41] kaysho commented on #197
Having the same issues, tried all the suggestions.

[2020-07-17 09:45] chrissainty commented on #197
@kaysho This has always ended up being a browser caching issue of some kind or another. Unless you're missing the link to the JS file of course 😉.

At this point, the only way we can do something is if someone can provide us with a reliable repro of the problem as I can't recreate it at all.

[2020-07-17 11:28] DSBhogal opened #199 "Edit form model validation does not work"
I have a modal that contains an edit form but the validation for all fields does not show/work. This is the case for custom validation attributes and built in attributes by Microsoft. Any ideas what the issue is whether it be to do with my code or something related to the modal?

I'm using Blazored Modal v4.1.0

**Code**

![image](https://user-images.githubusercontent.com/33750091/87781508-b0e0f00

[2020-07-17 11:49] TomaszGrzmilas opened #200 "Modal don't disappear from screen after close / cancel"
I used version 4.1.0 - everything ok.

After update to 5.0.1 dialog (after show) always stay on screen despite running:
BlazoredModal.Close(ModalResult.Ok(true))
BlazoredModal.Cancel()
(awaited or not)

I debug and modal stay in DOM after executing code from DismissInstance:

Runtime.InvokeVoidAsync("BlazoredModal.deactivateFocusTrap", Id);
reference.Dismiss(result);
Modals.Remove(reference);
Stat

[2020-07-17 12:01] kaysho commented on #197
@chrissainty sure, i will try to reproduce it and get in touch.

[2020-07-17 12:18] chrissainty commented on #200
Hi @TomaszGrzmilas, I'm sorry to hear you're having issues. Unfortunately as you can't reproduce it and it works on the sample project, this points to it being a local issue to do with the code in your private project.

Based on this there isn't really anything we can do so I'm going to close this issue, if you can provide some more information or manage to reproduce the problem please reopen it a

[2020-07-17 12:18] #200 closed

[2020-07-17 13:23] TomaszGrzmilas commented on #200
Hi @chrissainty

I menage to reproduce error, please build and run, then click DIALOG button

https://github.com/TomaszGrzmilas/ModelErrorTest

[2020-07-17 13:53] chrissainty commented on #200
I see the problem, it's the same as covered in #195. You haven't removed the `<BlazoredModal>` tag from your `MainLayout` component. Remvoe that and everything works as expected.

[2020-07-17 13:57] TomaszGrzmilas commented on #200
Sorry, my bad. I will read readme.md more carefully in future.

Thank you for your help !

[2020-07-17 17:35] frablaser commented on #197
Here is the video of the whole process...

[https://www.screencast.com/t/j55n1JKr7](https://www.screencast.com/t/j55n1JKr7)

[2020-07-17 18:04] chrissainty commented on #197
@frablaser sorry I completely missed you were trying to run the code in the repo, I thought you were using the NuGet package.

Based on the error you're seeing in VS, I would guess you don't have NPM installed.

[2020-07-17 18:48] frablaser commented on #197
As you can see in the video, NPMs  returns errors when it pass in the process...  I have to comment it to start the application... 🙄

[2020-07-17 18:53] frablaser commented on #197
What I need to install to work with NPM? I never used it, I tried NPM install runner, but it don't works...

[2020-07-17 19:13] chrissainty commented on #197
You need to install NodeJS, NPM is installed along with it.

[2020-07-17 19:47] frablaser commented on #197
I installed NodeJS and it still ran to an error...
I'm very new with those things,  What is the node_modules/.install-stamp, run-script build:debug,  run-script build:release? Is that scripts? Can I run it manually? What they are used too? Why it is not directly in the solution? Why always do it complicated instead of no brainier? 😂😂

[2020-07-17 19:52] frablaser commented on #197
Just for fun, it is supposed to be Javascript free, but I still fighting again java script... 🙄🤭

[2020-07-17 19:59] chrissainty commented on #197
It's not JavaScript free anymore, if you've spotted anywhere in the repo still saying that can you let me know where.

Once NPM is installed everything should work automatically. The commands in the csproj file restore the NPM packages, then build the TypeScript. It does this automatically when you build the project.

If you want to try it manually, open a terminal and navigate to the root of the

[2020-07-17 20:04] frablaser commented on #197
`    <Description>A JavaScript free modal library for Blazor and Razor Components applications.</Description>`
Here is the mention of JAVA Script free...  😉

[2020-07-17 20:59] chrissainty commented on #199
Hi @DSBhogal, have you proved this code works when it's not in the modal?

[2020-07-18 10:47] larsk2009 commented on #197
Specifically, [here](https://github.com/Blazored/Modal/blob/main/src/Blazored.Modal/Blazored.Modal.csproj#L11)

[2020-07-18 10:50] chrissainty commented on #197
Thanks @frablaser and @larsk2009. I was sure I'd changed that, but it's turns out I did it in a branch I never merged.

I'll correct this on the next release.

[2020-07-18 15:20] frablaser commented on #197
Chriss,

I still unable to get rid of the npm stuff, even if I installed the NodeJS, npm refuse to work. I spent a whole day to figure out a way to fix it (added $Path in Windows, tried to run directly by Node.exe, etc..), . It's annoying!

I saw that Blazored.Modal.ts have just a couple of functions into it, could I get the compiled file (debug/release) of it to integrate them directly to my proj

[2020-07-18 15:22] larsk2009 commented on #197
@frablaser, Is there a reason why you are not using the Nuget package? The Nuget package just uses the javascript file which gets compiled from the *.ts file.

[2020-07-18 15:24] chrissainty commented on #197
@larsk2009 you beat me to it 😉

[2020-07-18 15:34] frablaser commented on #197
I mostly use the source code, as often as possible, sometimes when the things are free code, when comes a new framework (as the next .Net Framework 5), we're stuck with something who is no more updated and maintained.

[2020-07-18 15:38] chrissainty commented on #197
@frablaser .NET 5 won't have any impact on this library and while I appreciate your concern that a library could become unmaintained, it seems your actions are a bit counter-intuitive. If you'd just used the NuGet package you would have saved yourself a day at least. You could always resort to the source code in the future if the library became stagnant.

As this isn't an issue with the production

[2020-07-18 15:38] #197 closed

[2020-07-20 07:41] DSBhogal commented on #199
I have seen no errors as of yet, the validation does work when not in the modal.

[2020-07-20 08:57] DSBhogal commented on #199
I redid the component and for some reason it has started to work so I'm unsure what the issue was. Appreciate the help, I will close this

[2020-07-20 08:57] #199 closed

[2020-07-20 10:28] fudgeboy2000 opened #201 "[Bug]"
**Describe the bug**

Not so much a bug, more of an interaction issue with other components.

Since updating from v4.1, nested components inside Blazored.Modal components don't respond to user events.  For example, I'm using Radzen's Datepicker inside a Modal, and if I upgrade from v4.1 then the Datepicker appears but doesn't respond to mouse clicks.

**To Reproduce**
Steps to reproduce the behavi

[2020-07-20 11:43] chrissainty commented on #201
Thanks for reporting this @fudgeboy2000. It seems to be related to a similar issue reported on Blazored Typeahead https://github.com/Blazored/Typeahead/issues/149.

I've replicated the issue reported with the Typeahead locally and working on a fix right now.

[2020-07-20 11:54] chrissainty commented on #201
@fudgeboy2000 Could you try adding `StopPropagation="true"` to your Razden control and see if the issue goes away?

[2020-07-20 12:50] chrissainty commented on #201
The issue is because there is an `onkeyup` event handler on the modal. If I stop key up events propagating outside the modal content area then the problem goes away. Which isn't much help as then pressing escape to close the modal is suppressed.

I'm not sure why this is causing this behaviour as the keyup handler for the modal only handles escape keypress events...

[2020-07-20 16:20] fudgeboy2000 commented on #201
Thanks for the update Chris. These things can get super messy. It's not a massive issue - I can just roll back to 4.1 for now.

[2020-07-20 16:30] chrissainty commented on #201
The only sensible way I see around this is to remove the ability to dismiss the modal using the escape key. Now I'm looking at this it doesn't make much sense to have that function anyway as, for example, hitting escape when using Blazored Typeahead should dismiss the suggestion box. But if it were used inside the modal, it would dismiss the modal as well.

[2020-07-20 18:29] wgrs opened #203 "Getting error after v5 upgrade on Blazor 3.2 wasm project"
Thanks for the great components Chris - I use them everywhere!

I am probably doing something wrong but this piece of code is throwing the following error since I updated Modal Component to v5.02.

This line of code is throwing an error.
`formModal = Modal.Show<EditAgentForm>("Edit Managing Agent", parameters);`

The error is "cannot convert Blazored.Modal.IModalReference to Blazored.Modal.ModalRe

[2020-07-20 20:30] chrissainty commented on #203
Glad you like the components, @wgrs :)

We changed what is returned from the show method from `ModalReference` to `IModalReference`. Based on the error it looks like you've got a type mismatch somewhere. How is `formModal` typed?

[2020-07-21 08:06] wgrs commented on #203
OK - thanks. That was it.

[2020-07-21 08:06] #203 closed

[2020-07-21 14:41] szmalec commented on #183
Does this change make it impossible to achieve the effect of a sticky window (e.g. with information about cookies or e.g. a tool panel)? I mean something similar to the modal from [this website](https://mdbootstrap.com/docs/jquery/modals/generator/) (set "Backdrop?" = "No" and then set "Postition" = "Fluid modal" - eg. "Right" or set "Postion" = "Frame modal" - eg. "Bottom", etc. ) - as you can se

[2020-07-21 14:46] chrissainty commented on #183
@szmalec Hi, thanks for your enquiry but could you please raise this as a new issue? That way if it leads to any work its easier to track everything. Thanks.

[2020-07-21 15:11] szmalec opened #204 "Modal without backdrop (tool window)"
**Is your feature request related to a problem? Please describe.**
There was lately introduced change #186 (due to #183). Does this change make it impossible to achieve the effect of a sticky window (e.g. with information about cookies or e.g. a tool panel)?

**Describe the solution you'd like**
I would like to achieve something similar to the modal from [this website](https://mdbootstrap.com/docs

[2020-07-24 09:21] jsarnikorpi opened #205 "Problem after upgrade (v4 to v5): Modal acting like background"
Upgraded from v4.1.0 to v5.0.2.

BlazorServer / Modal dialog will open but is acting like background:

- Dialog is "greyed"
- If I click anywhere inside (or outside) dialog then dialog is closed.
- If "DisableBackgroundCancel=true" is used then nothing will happen when clicking dialog

screenshot (whole page including modal dialog is greyed):
![BlazoredModal-problem](https://user-images.githubuser

[2020-07-24 09:25] chrissainty commented on #205
The most common mistake is forgetting to remove the old `<BlazoredModal>` tag from your `MainLayout`. If that isn't the issue, then it's possibly a caching issue.

[2020-07-24 09:50] jsarnikorpi commented on #205
Forgot to mention that <BlazorModal> is removed. What kind of cache do you mean? I tested another browser (Edge -> I haven't used Edge before with this project...) and the same problem exists.

I am developing with Visual Studio Community 2019 (version 16.6.3). Is there anything I could do with the project?

[2020-07-24 10:42] jsarnikorpi commented on #205
I did found solution.

I have used custom styling via ModalOptions. Problem occurs if only custom class is defined (I was used this kind of code with version 4):

[code]

If I add class "blazored-modal"

`Class = "blazored-modal custom-class"`

then everything is working without problem.

[2020-07-24 13:59] chrissainty commented on #205
@jsarnikorpi We take the view that if you're passing a custom class you only want that applied, so we remove the `blazored-modal` class and replace it with whatever you provide.

[2020-07-24 14:01] chrissainty commented on #205
As there isn't anything to do here I'm going to close this issue.

[2020-07-24 14:01] #205 closed

[2020-07-24 16:02] ThaRaven403 opened #206 "ModalInstance Close could be renamed to CloseAsync to following async naming conventions"
Hi Chris,

Noticed with the latest changes that the Close method of the ModalInstance is now an awaitable Task. I'd suggest renaming it to CloseAsync so that we don't need the intellisense to know we're dealing with an awaitable method, which would following naming conventions we often see for awaitable methods.

If you like the idea, I can even go ahead and open a PR for it !

[2020-07-25 11:03] chrissainty commented on #206
Yes, agreed. Unfortunately, we've just pushed a new major version and I don't want to so that again so soon just for a name change. We'll look at adding this the next time we do a major release.

[2020-07-25 11:36] ThaRaven403 commented on #206
Good point. I'll still send you the PR and let you see when that can be merged.

On a side note, this new version works well!

[2020-07-28 12:40] Kazbek commented on #206
Just wanna ask. In repo description you have example for [Multiple Modals](https://github.com/Blazored/Modal#multiple-modals) and we have this example:
[code]
This method marked as _async_ but _BlazoredModal.Close(ModalResult.Ok($"The user said 'Yes'"))_ calling without _await_. Is there a specific reason for this, or is it better to use _await_?

[2020-07-28 19:40] chrissainty commented on #206
@Kazbek This is just an oversight and the call should be awaited.

[2020-07-29 09:37] chewabledrapery opened #208 "After updating to v5 Close and OnClose not recognised methods?"
Hi,

I've tried to look through the issues/upgrade notes so I'm sure I've missed something and being dumb but after updating from v3 to v5 i get this error for Close and OnClose

"CS1061	'IModalService' does not contain a definition for 'Close' and no accessible extension method 'Close' accepting a first argument of type 'IModalService' could be found (are you missing a using directive or an assem

[2020-07-31 04:47] ASE64 opened #209 "get error after updating from 4.0.2 to 5.0.2"
**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

InvalidOperationException: Blazored.Modal.BlazoredModal requires a cascading parameter of type IModalService.
Blazored.Modal.BlazoredModal.OnInitialized()
Microsoft.AspNetCore.Components.ComponentBase.RunInitAndSetParametersAsync()
Microsoft.AspNetCore.Components.Rendering.HtmlRenderer.HandleException(Exce

[2020-07-31 06:54] chrissainty commented on #209
Have you followed the setup steps? Based on that error, you've not added the CascadingBlazoredModal component around the router. You will also need to remove the old BlazoredModal component from the MainLayout.

[2020-08-01 22:52] chrissainty commented on #208
Hi Dean,

Could you provide some code showing where the problem is occurring?

[2020-08-03 09:46] chewabledrapery commented on #208
Hi Chris,

Thanks for the reply I appreciate it, razor code below, I also cannot access the Cancel method.

Intellisense in VS 2019 only shows the following methods...

![image](https://user-images.githubusercontent.com/33089517/89169516-3f1ddb80-d576-11ea-86c0-ab6c8b1a706c.png)

`@page "/ArchiveInboxFileModal"
@using DoculogIQ.Data
@using DoculogIQ.Data.Models
@using DoculogIQ.Validation

@inject

[2020-08-03 12:39] Halfbax opened #210 "[Question] Why OnInitialized?"
In your examples you are using the OnInitialized method. Doesnt it make more sense to use the OnParameterSet method. The parameter might be not set in some cases.

[code]

[2020-08-03 12:43] chrissainty commented on #210
The samples are just to show off the features of the modal. In most cases OnInitialized is probably fine, but it's up to the consuming developer to decide what their specific app needs.